{% set name='events' %}

{% extends "@layout/admin.twig" %}

{% block header_css %}
{% include "@partial/calendar-css.twig" %}
{% endblock %}

{% block header_js %}
{% include "@partial/calendar-js.twig" %}
{% endblock %}

{% block content %}
<script type="text/javascript">

app.requires.push('ui.calendar');

app.controller('calendarController',function($scope,$http,$mdDialog,uiCalendarConfig,$timeout,$compile,$filter) {

{% include "@function/event.twig"  %}

	$scope.sources=[$scope.events];

	$timeout(function() {
		if (uiCalendarConfig.calendars.myCal) uiCalendarConfig.calendars.myCal.fullCalendar('render');
	},500);

{% include "@function/showmsg.twig" %}

{% include "@function/confirmmsg.twig" %}

}); //end controller
</script>

<div ng-controller="calendarController" class="page-width content-wrap">
	<div ui-calendar="calendar" ng-model="sources" calendar="myCal"></div>
</div>

{% include "@partial/event.twig" %}

{% endblock %}