{% set name='events' %}

{% extends "@partial/list.twig" %}

{% block controller %}

	$scope.show=function(id) {
		$window.location.href="{& path(name~'/show',{'id':'changeme'})|raw &}".replace('changeme',id);
	}

	$scope.delete=function(i){
		if (confirm("{&t('events','msg_delconfirm')&}")) {
			$http.post('{& path(name~"/delete") &}',{'id':$scope.rows[i].id},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
			.success(function(data) {
				if (data.delete) {
					$scope.rows.splice(i,1);
					$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('events','msg_deleted')&}"});
				} else {
					$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('events','msg_notdeleted')&}"});
				}
			})
			.error(function(data, status, headers) {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
			});
		}
	}

	$scope.findString=function() {
		$scope.getList(1);
	}

	$scope.$watch("f.all", function(n,o){
		if (n!=o) $scope.getList(1);
	});

	{% if app.user.can("administrator") and owner!=null %}
	$scope.listTitle="{& t('events','panel_title_list') &} użytkownika &raquo;"+{&owner.name|toJson|raw&}+"&laquo;"
	{% endif %}

{% endblock %}

{% block panel %}
<div layout="row">
	<div flex="70">
		<md-input-container style="width:300px;">
			<label>{& t('events','find_string') &}</label>
			<input ng-model="f.string">
		</md-input-container>
		<md-button class="btn-red" ng-click="findString()">{&t('site','search')&}</md-button>
		{% if app.user.can("administrator") and owner is null %}
		<md-checkbox ng-model="f.all" aria-label="show all">Pokaż zdarzenia innych</md-checkbox>
		{% endif %}
	</div>
	<div flex="30">
		<md-button class="btn-red" ng-href="{& path(name~'/create') &}">{& t('events','btn_add')&}</md-button>
	</div>
</div>
{% endblock %}

{% set cols=[
	t('events','model_id'),
	t('events','model_when'),
	t('events','model_text'),
	t('events','model_target'),
	app.user.can("administrator")?t('events','model_owner'):null,
	t('site','label_action')
] %}

{% block rows %}
	<td>{{row.id}}</td>
	<td>{{row.when}}</td>
	<td>{{row.text}}</td>
	<td>{{row.targetLabel}}<span ng-if="row.target">: {{row.target.name}}</span></td>
	{% if app.user.can("administrator") %}<td>{{row.owner.name}}</td>{% endif %}
	<td>
		<span class="action-btn" ng-click="show(row.id)">{& t('site','show') &}</span>
		<span class="action-btn" ng-click="delete($index)">{&t('site','delete')&}</span>
	</td>
{% endblock %}

{% block bottom %}
{% endblock %}