{% extends "@layout/public.twig" %}

{% block header_css %}
	<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
	<link href="css/gallery.css?v=2" rel="stylesheet" type="text/css">
{% endblock %}

{% block header_js %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="/lib/angular-masonry-directive.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="/lib/angular-flickity.min.js"></script>
{% endblock %}

{% block header %}
	{% include "@partial/top-ribbon.twig" %}
	{% include "@partial/header.twig" with {'headxs':true} %}
{% endblock %}

{% block content %}
<script type="text/javascript">
app.requires.push('masonry');
app.requires.push('bc.Flickity');

app.controller('galleryController',function($scope,$window,$filter,$timeout,FlickityService,$rootScope,$document) {

	$scope.items=[];
	$scope.breadcrumb=[];
	$scope.showSlider=false;

	$scope.categories={&categories|toJson|raw&};
	$scope.products={&products|toJson|raw&};

	$scope.imagesCount=function(products) {
		var count=0;
		angular.forEach(products,function(item){
			count+=item.images.length;
		});
		return count;
	}


	$scope.getCategory=function(id) {
		var i=$filter('where')($scope.categories,{'id':id});
		return i[0]?i[0]:undefined;
	}

	$scope.doAction=function(item,i){
		$scope.showSlider=false;
		if (angular.isDefined(item)) {
			if (angular.isDefined(item.cat)) {
				$scope.items=[];
				var c=$scope.getCategory(item.cat);
				$scope.breadcrumb=[c?c:"???",item];
				$timeout(function(){
					$scope.items=angular.copy(item.images);
					$scope.updateBrick();
				},10);
			} else {
				if (angular.isDefined(item.id)) { //category
					$scope.items=[];
					var images=$filter('where')($scope.products,{'cat':item.id});
					if ($scope.imagesCount(images)>300) {
						$scope.breadcrumb=[item,"Wybierz produkt"];
						$scope.items=images;
					} else {
						$scope.breadcrumb=[item];
						angular.forEach(images,function(prod){
							if (angular.isArray(prod.images)&&prod.images.length>0) $scope.items=$scope.items.concat(prod.images);
						});
					}
					$scope.updateBrick();
				} else {
					$scope.showSlider=true;
					$timeout(function() {
						FlickityService.select("fullSlide", i);
					},200);
				}
			}
		} else {
			$scope.items=[];
			if ($scope.imagesCount($scope.products)>6) {
				$scope.breadcrumb=["Wybierz kategorię"];
				angular.forEach($filter('unique')($filter('map')($scope.products,'cat')),function(cat){
					var c=$scope.getCategory(cat);
					if (c) $scope.items.push($scope.getCategory(cat));
				});
			} else {
				$scope.breadcrumb=["galeria"];
				angular.forEach($scope.products,function(prod){
					if (angular.isArray(prod.images)&&prod.images.length>0) $scope.items=$scope.items.concat(prod.images);
				});
			}
			if ($scope.updateBrick) $scope.updateBrick();
		}
	};

	$scope.doAction();

	$scope.closeSlide=function(){
		$scope.showSlider=false;
	}

	$scope.flickFull={
		pageDots: false,
		wrapAround: true,
		setGallerySize: false,
		imagesLoaded: true,
		accessibility: true
	};
	
	$scope.flickthumb={
		pageDots: false,
		wrapAround: false,
		setGallerySize: false,
		imagesLoaded: true,
		asNavFor: ".slider-wrap",
		contain: true
	};

	$document.bind('keyup', function (e) {
		if ($scope.showSlider==true && e.key=="Escape") {
			$scope.closeSlide();
			$scope.$apply();
		}
	});
	
});
</script>

<div ng-controller="galleryController">

	<div class="content-wrap" ng-hide="showSlider">
		<div class="headgallery">Galeria</div>
		<div class="content">
			<section layout="row" layout-align="start center" class="breadcrumb" ng-if="items.length>0">
				<span class="breadcrumb-link" ng-click="doAction()"><md-tooltip md-direction="top">Wróć do listy kategorii</md-tooltip><i class="material-icons">home</i></span>
				<span ng-repeat="item in breadcrumb">
					<span class="breadcrumb-link" ng-if="item.name" ng-click="doAction(item)">{{item.name}}</span>
					<span ng-if="!item.name" >{{item}}</span> <span ng-if="!$last">/</span> &nbsp;
				</span>
			</section>
			<section style="overflow:hidden;">
				<div class="cat-tile-box" masonry='{"transitionDuration":"0.4s","itemSelector":".grid-item","columnWidth":".grid-sizer-20","percentPosition":true}' flex>
					<div class="grid-sizer-20" />
					<div ng-repeat="(k,item) in items track by $index" class="grid-item" ng-click="doAction(item,k)" layout="row">
						<div class="item-inside" nogrow>
							<img ng-src="{{item.foto}}" style="width:156px;height:156px;" />
							<div class="tile-title">{{item.name}}</div>
						</div>
					</div>
				</div>
				<div ng-if="items.length==0">Galeria jest pusta</div>
			</section>
		</div>
	</div>

<div class="navigate" ng-if="showSlider">
	<div class="nav-icons">
		<i class="material-icons">keyboard_arrow_left</i>
		<i class="material-icons">keyboard_arrow_right</i>
	</div>
	Nawiguj klawiszami strzałek
</div>
<div class="close-slide" ng-click="closeSlide()" ng-if="showSlider"><md-tooltip md-direction="bottom">Zamknij</md-tooltip><button><i class="material-icons">close</i></button></div>

<div bc-flickity="{{flickFull}}" bc-flickity-id="fullSlide" ng-if="showSlider" class="slider-wrap">
	<figure ng-repeat="slide in items track by $index">
		<img data-ng-src="/pictures/{{ slide.path }}" alt="" />
	</figure>
</div>

<div bc-flickity="{{flickthumb}}" bc-flickity-id="thumbSlide" ng-if="showSlider" class="thumb-wrap">
	<figure data-ng-repeat="slide in items track by $index">
		<img ng-src="{{ slide.foto }}" />
	</figure>
</div>
</div>

{% include "@partial/newsletter-ribbon.twig" %}
{% include "@partial/bottom.twig" %}
{% endblock %}