{% extends "@layout/admin.twig" %}

{% block header_css %}
	<link href="css/angular-material-data-table.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block header_js %}
	<script src="lib/angular-material-data-table.min.js"></script>
{% endblock %}

{% block content %}
<script type="text/javascript">
app.requires.push('md.data.table');

app.controller('settingsController',function($scope,$window,$http,$mdDialog,$filter) {

	$scope.saving=false;

	$scope.rows={&vars|toJson|raw&};

	$scope.save=function() {
		$scope.saving=true;

		$http.post('{& path(["settings/save"]) &}',{'data':$scope.rows},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.then(function(r) {
			$scope.saving=false;
			if (r.data.saved==true) {
				$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':r.data.msg});
			} else {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':r.data.msg});
			}
		})
		.catch(function() {
			$scope.saving=false;
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		})
	}

	$scope.cancel=function() {
		$window.location.reload();
	}

{% include "@function/showmsg.twig" %}

}); //end controller
</script>

<div class="content" ng-controller="settingsController">

	<md-table-container class="table-list">
		<table md-table md-row-select="false" >
			<thead md-head>
				<tr md-row>
					<th md-column>Nazwa grupy</th>
					<th md-column>Nazwa zmiennej</th>
					<th md-column>Wartość</th>
					<th md-column>Opis</th>
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row ng-repeat="row in rows">
					<td md-cell>{{row.table}}</td>
					<td md-cell>{{row.name}}</td>
					<td md-cell><textarea ng-model="row.value"></textarea></td>
					<td md-cell>{{row.label}}</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>

	<section layout="row" layout-sm="column" layout-align="end center" style="background: #f7f7f7; padding:5px 10px;margin: 20px 0">
		<span ng-if="saving">{&t('site','msg_saving')&}</span>
		<md-button class="md-raised md-primary" ng-click="save()" ng-disabled="saving">{& t('site','save')&}</md-button>
		<md-button class="md-raised md-warn" ng-click="cancel()" ng-disabled="saving">{& t('site','cancel')&}</md-button>
	</section>

</div>


{% endblock %}