{% set name='panel' %}

{% extends "@layout/public.twig" %}

{% block header %}
	{% include "@partial/top-ribbon.twig" %}
	{% include "@partial/header.twig" with {'headxs':true} %}
{% endblock %}

{% block content %}
<div flex layout="row" layout-align="center center" style="margin-bottom:50px;" ng-controller="panelController">
	<div class="page-wrap userpanel">
		<div class="headpage"><md-icon class="material-icons headicon">{& panelIcon &}</md-icon> {&panelTitle&}</div>

		<div layout="row" style="margin-bottom:30px;" layout-margin="20">
			<div flex="33" style="border: 1px solid #f5f5f5;padding:30px;">
				<div style="font-size:14px;color:#444444;margin-bottom:20px;">{&subtitle&}</div>
				<strong>Nazwa projektu:</strong> {{project.name}}<br />
				<strong>Rozmiary:</strong> {{project.width}} mm x {{project.height}} mm
			</div>
			{% if orders|length>0 %}
			<div flex="33" style="border: 1px solid #f5f5f5;padding:30px;text-align:center;">
				<div style="font-size:1.2em;margin-bottom:30px;">Dołącz projekt do któregoś ze swoich zamówień</div>
				<button class="btn-red" ng-if="full==false" ng-click="list(true)">{&t('panel','show_list')&}</button>
				<button class="btn-red" ng-if="full" ng-click="list(false)">{&t('panel','hide_list')&}</button>
			</div>
			{% endif %}
			{% if model %}
			<div flex="33" style="border: 1px solid #f5f5f5;padding:30px;text-align:center;cursor:pointer;" ng-click="buy()">
				<div style="font-size:1.2em;margin-bottom:20px;">{&t('panel','config_buy')&}</div>
				<img src="{& model.getFoto() &}" style="width:130px;">
				<div>{& model.category.name&}: {& model.name &}</div>
			</div>
			{% endif %}
		</div>

		{% if orders|length>0 %}
		<div ng-if="full">
			<div style="font-size:14px;margin-bottom:30px;">Wybierz do jakiej pozycji w danym zamówieniu ma być przyłączony ten projekt:</div>
			<div layout="row" class="item-list-head">
				<div flex="5">{&t('orders','model_id')&}</div>
				<div flex="15">{&t('orders','model_created')&}</div>
				<div flex="15">{&t('orders','label_itemprice')&}</div>
				<div flex>{& t('panel','pos_orders')&}</div>
			</div>

			<div>
				<div ng-repeat="order in orders" layout="row" class="item-list-row">
					<div flex="5">{{order.id}}</div>
					<div flex="15">{{order.created}}</div>
					<div flex="15">{{order.brutto}} PLN</div>
					<div flex>
						<div ng-repeat="item in order.items" layout="row" layout-wrap>
							<div flex="80">{{item.category}} {{item.name}} x {{item.amount}}</div>
							<div flex="20">
								<button class="btn-red" ng-click="attach(order,$index)" ng-hide="hasProject(order,$index)">{&t('panel','pin')&}</button>
								<button class="btn-red" ng-click="deattach(order,$index)" ng-if="hasProject(order,$index)">{&t('panel','unpin')&}</button>
							</div>
							<div flex="grow" ng-if="!$last"><md-divider style="margin:10px 0;"></md-divider></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}

	</div>
</div>

<script type="text/javascript">
app.controller('panelController',function($scope,$http,$window,$mdDialog,$filter) {

	$scope.full=false;
	$scope.project={&project|toJson|raw&};
	$scope.orders={&orders|toJson|raw&};

	{%if model%}
	$scope.buy=function() {
		$window.location.href="{& path('offer/product',urlparam)|raw&}";
	}
	{% endif %}

	{% if orders|length>0 %}
	$scope.list=function(m) {
		$scope.full=m;
	}

	$scope.hasProject=function(order,pos) {
		if (angular.isUndefined(order.projects[pos])) return false;
		return ($filter('where')(order.projects[pos],{'hash':$scope.project.hash})).length>0;
	}

	$scope.attach=function(order,pos) {
		$http.post('{& path([name~"/updateorder"]) &}',{'mode':'add','id':order.id,'pos':pos,'project':$scope.project},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			if (data.saved==true) {
				$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('panel','msg_pined')&}"});
				if (angular.isUndefined(order.projects[pos])) order.projects[pos]=[];
				order.projects[pos].push(angular.copy($scope.project));
			} else {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('panel','msg_notpined')&}"});
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		});
	}

	$scope.deattach=function(order,pos) {
		$http.post('{& path([name~"/updateorder"]) &}',{'mode':'del','id':order.id,'pos':pos,'hash':$scope.project.hash},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			if (data.saved==true) {
				$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('panel','msg_unpined')&}"});
				order.projects[pos]=$filter('omit')(order.projects[pos],'hash=="'+$scope.project.hash+'"');
			} else {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('panel','msg_notunpined')&}"});
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		});
	}

	{% endif %}

{% include "@function/showmsg.twig" %}

}); //end controller
</script>

	{% include "@partial/newsletter-ribbon.twig" %}
	{% include "@partial/bottom.twig" %}
{% endblock %}