{% set name='panel' %}

{% extends "@layout/public.twig" %}

{% block header %}
	{% include "@partial/top-ribbon.twig" %}
	{% include "@partial/header.twig" with {'headxs':true} %}
{% endblock %}

{% block content %}
<div flex layout="row" layout-align="center center" style="margin-bottom:50px;" ng-controller="importController">
	<div class="page-wrap userpanel">
		<div class="headpage"><md-icon class="material-icons headicon">{& panelIcon &}</md-icon> {&panelTitle&}</div>

		<div layout="row" style="margin-bottom:30px;" layout-margin="20">
			<div flex="33" style="border: 1px solid #f5f5f5;padding:30px;">
				<div style="font-size:14px;color:#444444;margin-bottom:20px;">{&subtitle&}</div>
				<strong>Nazwa projektu:</strong> {{project.name}}<br />
				<strong>Rozmiary:</strong> {{project.width}} mm x {{project.height}} mm
			</div>
			<div flex="33" style="border: 1px solid #f5f5f5;padding:30px;text-align:center;">
				<div style="font-size:1.2em;margin-bottom:30px;">{&t('panel','login_attach')&}</div>
				<button class="btn-red" ng-click="login()">{&t('site','login')&}</button>
			</div>
			{% if model %}
			<div flex="33" style="border: 1px solid #f5f5f5;padding:30px;text-align:center;cursor:pointer;" ng-click="buy()">
				<div style="font-size:1.2em;margin-bottom:20px;">{&t('panel','config_buy')&}</div>
				<img src="{& model.getFoto() &}" style="width:130px;">
				<div>{& model.category.name&}: {& model.name &}</div>
			</div>
			{% endif %}
		</div>

	</div>
</div>

<script type="text/javascript">
app.controller('importController',function($scope,$http,$window,$mdDialog,$filter) {
	$scope.project={&project|toJson|raw&};

	$scope.login=function() {
		$window.location.href="{& path('site/login',{'return':app.request.url})|raw &}";
	}

	{%if model%}
	$scope.buy=function() {
		$window.location.href="{& path('offer/product',urlparam)|raw&}";
	}
	{% endif %}
{% include "@function/showmsg.twig" %}

}); //end controller
</script>

	{% include "@partial/newsletter-ribbon.twig" %}
	{% include "@partial/bottom.twig" %}
{% endblock %}