{% set name='menus' %}

{% extends "@partial/list.twig" %}

{% block controller %}

	$scope.create=function(id) {
		$window.location.href="{& path(name~'/create',{'parentid':'changeme'})|raw &}".replace('changeme',id);
	}

	$scope.edit=function(id) {
		$window.location.href="{& path(name~'/edit',{'id':'changeme'})|raw &}".replace('changeme',id);
	}

	$scope.dive=function(id) {
		$window.location.href="{& path(name~'/index',{'id':'changeme'})|raw &}".replace('changeme',id);
	}

	$scope.delete=function(i) {
		if (confirm("{&t('menus','msg_delconfirm')&}")) {
			$http.post('{& path(name~"/delete") &}',{'id':$scope.rows[i].id},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
			.success(function(data) {
				$scope.rows.splice(i,1);
				$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('menus','msg_deleted')&}"});
			})
			.error(function(data, status, headers) {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
			});
		}
	}

	{% if item %}$scope.listTitle+=" &nbsp;&raquo;"+{&item.name|toJson|raw&}+"&laquo;";{% endif %}
{% endblock %}

{% block panel %}
{% if item %}<md-button class="btn-red" ng-href="{& ancestor?path(name~'/index',{'id':ancestor.id}):path(name~'/index') &}">{& t('site','return')&}</md-button>{% endif %}
<md-button class="btn-red" ng-href="{& item?path(name~'/create',{'parentid':item.id}):path(name~'/create') &}">{& t('menus','btn_add')&}</md-button>
{% endblock %}

{% set cols=[
	t('menus','model_id'),
	t('menus','model_name'),
	t('menus','childs_title'),
	t('site','label_action')
] %}

{% block rows %}
	<td>{{row.id}}</td>
	<td>{{row.name}}</td>
	<td>
		<!--<span class="action-btn" ng-click="create(row.id)">{& t('site','create') &}</span>-->
		<span class="action-btn" ng-click="dive(row.id)">{& t('site','open') &}</span>
	</td>
	<td>
		<span class="action-btn" ng-click="edit(row.id)">{& t('site','edit') &}</span>
		<span class="action-btn" ng-click="delete($index)">{& t('site','delete') &}</span>
	</td>
{% endblock %}