{% set name='menus' %}

{% extends "@partial/edit.twig" %}

{% block controller %}

{% if parentid %}
$scope.model.ancestor={& parentid &};
{% endif %}
{% endblock %}

{% block bottom %}

<md-input-container class="md-block">
	<label>{& t('menus','model_name') &}</label>
	<input ng-model="model.name">
</md-input-container>

<md-input-container class="md-block">
	<label>{& t('menus','model_link') &}</label>
	<input ng-model="model.link">
</md-input-container>

<!-- 0: link base, parametry: klucz-wartosc -->

<md-input-container class="md-block">
	<label>{& t('menus','model_style') &}</label>
	<input ng-model="model.style">
</md-input-container>

<md-input-container class="md-block">
	<label>{& t('menus','model_class') &}</label>
	<input ng-model="model.class">
</md-input-container>

<md-input-container class="md-block">
	<label>{& t('menus','ancestor') &}</label>
	<input ng-model="model.ancestor">
</md-input-container>

<md-input-container class="md-block">
	<label>{& t('menus','order') &}</label>
	<md-select ng-model="model.order">
		<md-option ng-repeat="item in model.siblings" ng-value="{{item.id}}">
		{{item.name}}
		</md-option>
	</md-select>
</md-input-container>

{% endblock %}