{% extends "@layout/admin.twig" %}

{% block header_css %}
{% include "@partial/calendar-css.twig" %}
{% endblock %}

{% block header_js %}
{% include "@partial/calendar-js.twig" %}
{% endblock %}

{% block content %}
<script type="text/javascript">
app.requires.push('ui.calendar');

app.controller('dashboardController',function($scope,$window,$http,$mdDialog,$timeout,$filter,uiCalendarConfig,$compile) {

	$scope.f={
		'user': true,
		'contact': true,
		'q':""
	};

	$scope.searchUser=function() {
		if ($scope.f.q.length>=2) {
			if ($scope.searchDelay!=null) $timeout.cancel($scope.searchDelay);
			$scope.searchDelay=$timeout(function(){
				$scope.loading=true;
				$http.post("{& path('dashboard/persons') &}",$scope.f,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
				.success(function(data) {
					$scope.userlist=data;
				})
				.error(function(data, status, headers) {
					//$scope.message="{& t('site','err_bad_response') &}";
				})
				.finally(function() {
					$scope.loading=false;
				});
				
			},1000);
		}
	}

	$scope.show=function(user) {
		if (user.type=="contact") $window.location.href="{& path('contacts/show',{'id':'changeme'})|raw &}".replace('changeme',user.id);
		if (user.type=="user") $window.location.href="{& path('users/show',{'id':'changeme'})|raw &}".replace('changeme',user.id);
	}

	$scope.$watch('f.user',function(n,o){
		if (n==false && $scope.f.contact==false) $scope.f.contact=true;
		if (n!=o) $scope.searchUser();
	});

	$scope.$watch('f.contact',function(n,o){
		if (n==false && $scope.f.user==false) $scope.f.user=true;
		if (n!=o) $scope.searchUser();
	});

	$scope.personType=function(user) {
		switch(user.type) {
			case 'user': return "Klient";
			case 'contact': return "Kontakt";
			default: return "";
		}
	}

{% include "@function/event.twig"  %}

	$scope.sources=[$scope.events];
	$scope.calendar.defaultView="listMonth";

	$timeout(function() {
		if (uiCalendarConfig.calendars.myCal) uiCalendarConfig.calendars.myCal.fullCalendar('render');
	},500);


{% include "@function/showmsg.twig" %}

{% include "@function/confirmmsg.twig" %}

}); //end controller
</script>

<div class="page-width admin-dashboard" ng-controller="dashboardController">

	<div class="list-title">{&t('site','search_person')&}</div>
	<div layout="row">
		<div flex="50">
			<md-input-container class="md-block" style="margin-top:0px">
				<md-icon>search</md-icon>
				<input type="text" placeholder="{& t('users','find_string') &}" ng-model="f.q" ng-change="searchUser()" ng-disabled="loading">
			</md-input-container>
		</div>
		<div flex="20">
			<md-checkbox ng-model="f.user" aria-label="clients">klienci</md-checkbox>
			<md-checkbox ng-model="f.contact" aria-label="contacts">kontakty</md-checkbox>
		</div>
		<div flex="30">
			<md-button class="btn-red" href="{&path('contacts/create')&}">{&t('contacts','btn_add')&}</md-button>
		</div>
	</div>

	<div ng-class="{'loading-list':loading}">
		<span ng-if="userlist.length==0">{& t('site','msg_no_rows') &}</span>
		<span ng-if="userlist.length>0">{& t('site','display_first6') &}</span>
		<table class="table-list" ng-if="userlist.length>0" style="width:100%;">
		<thead>
			<tr>
				<th>Typ</th>
				<th>{& t('users','name')&}</th>
				<th>{& t('users','model_phone') &}</th>
				<th>{& t('users','model_email') &}</th>
				<th>Utworzony</th>
				<th>Osoba powiązana</th>
				<th>{&t('site','label_action')&}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in userlist">
				<td>{{personType(user)}}</td>
				<td>{{user.lastname}} {{user.firstname}}</td>
				<td>{{user.phone}}</td>
				<td>{{user.email}}</td>
				<td>{{user.created}}</td>
				<td>{{user.parent.name}}</td>
				<td><button ng-click="show(user)" class="action-btn">{& t('site','show')&}</button></td>
			</tr>
		</tbody>
		</table>
		<div class="loading-overlay" ng-if="loading"><span>{&t('site','msg_loading')&}<br /><img src="/images/list-load.gif" /></span></div>
	</div>

	<br />

	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="{&t('orders','list_last')&}">
			<md-content class="md-padding">
				{% if orders|length>0 %}
				<table class="table-list" style="width:95%">
					<thead>
						<tr>
							<th>{&t('orders','model_id')&}</th>
							<th>{&t('orders','model_created')&}</th>
							<th>{&t('orders','model_user')&}</th>
							<th>{&t('orders','model_status')&}</th>
							<th>{&t('orders','model_brutto')&}</th>
							<th>{&t('site','label_action')&}</th>
						</tr>
					</thead>
					<tbody>
					{% for order in orders %}
						<tr>
							<td>{&order.id&}</td>
							<td>{&order.created&}</td>
							<td><span ng-class="{'deleted-user':{&order.user?'false':'true'&}}">{&order.user_name&}</span>{% if order.user.vip %} <i class="material-icons vip-badge">verified_user</i>{% endif %}</td>
							<td style="color:#{& order.statusData.color&}">
								<md-icon class="material-icons" style="color:#{& order.statusData.color&}">{& order.statusData.icon &}</md-icon>
								{& order.statusLabel &}
							</td>
							<td>{&order.brutto&}</td>
							<td>
								<a href="{&path('orders/show',{'id':order.id})&}" class="action-btn">{& t('orders','btn_show') &}</a>
								{% if order.user %}<a href="{&path('users/show',{'id':order.user.id})&}" class="action-btn">{&t('orders','btn_client')&}</a>{% endif %}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				<br /><a class="more-link" href="{&path('orders/index')&}">{&t('orders','view_more')&}</a>
				{% else %}
				{&t('orders','msg_no_rows')&}
				{% endif %}
				<div style="height:30px"></div>
			</md-content>
		</md-tab>
		<md-tab label="Kalendarz">
			<md-content class="md-padding">
				<div ui-calendar="calendar" ng-model="sources" calendar="myCal"></div>
				<div style="height:30px"></div>
			</md-content>
		</md-tab>
		<md-tab label="Statystyki">
			<md-content class="md-padding">
				<div style="background-color:#fcfcfc;margin-top:30px;padding-top:40px;padding-bottom:40px;" layout-fill layout="row" layout-align="center start">
				<div layout="row" class="page-width">
					<div flex="65">
						<table class="table-list" style="width:100%">
							<tr>
								<th>Pozycja \ Dni</th>
								{% for p in periods %}<th>{&p&}</th>{% endfor %}
							</tr>
							<tr>
								<td>Zamówienia brutto</td>
								{% for p in periods %}<td>{&sumBrutto[p]|raw&}</td>{% endfor %}
							</tr>
							<tr>
								<td>Zamówienia liczba</td>
								{% for p in periods %}<td>{&sumAmount[p]|raw&}</td>{% endfor %}
							</tr>
							<tr>
								<td>Rejestracje liczba</td>
								{% for p in periods %}<td>{&regAmount[p]|raw&}</td>{% endfor %}
							</tr>
						</table>
					</div>
					<div flex="5"></div>
					<div flex="30">
						<div>
							Zamówienia wg statusów:
							{% for item in ordersCount %}
								<div>{&orderStatus[item.status]&} : {&item.amount&} </div>
							{% endfor %}
						</div>

						<div style="margin-top:20px;">
							Użytkownicy wg statusów:
							{% for item in usersCount %}
								<div>{&userStatus[item.status]&} : {&item.amount&} </div>
							{% endfor %}
						</div>
					</div>
				</div>
				</div>
			</md-content>
		</md-tab>
	</md-tabs>
<br /><br />

</div>

{% include "@partial/event.twig" %}

{% endblock %}