{% set name='dashboard' %}

{% extends "@layout/admin.twig" %}

{% block content %}
<script type="text/javascript">
app.controller('settingsController',function($scope,$window,$http,$mdDialog) {

	$scope.user={&user|toJson|raw&};
	$scope.errors={};
	$scope.errors2={};

	$scope.errLen=function(a) {
		if (angular.isObject(a)) return Object.keys(a).length;
			else return 0;
	}

	$scope.save=function() {
		$http.post('{& path(name~"/save") &}',{'data':$scope.user},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			$scope.errors=[];
			if (data.saved==true) {
				$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('users','msg_saved')&}"});
			} else {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('users','msg_notsaved')&}"});
				$scope.errors=data.errors;
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		});
	}

	$scope.pass=function() {
		$http.post('{& path(name~"/savepass") &}',$scope.form,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			$scope.errors2=[];
			if (data.saved==true) {
				$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('site','msg_pass_reset')&}"});
			} else {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_pass_reset')&}"});
				$scope.errors2=data.errors;
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		});
	}

{% include "@function/showmsg.twig" %}

}); //end controller
</script>

<div class="page-width content-wrap userpanel" ng-controller="settingsController">

	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="{&t('users','label_personal')&}">
			<md-content class="md-padding">
				<div ng-if="errLen(errors)>0" class="errors-wrap">
					<div ng-repeat="error in errors">{{error[0]}}</div>
				</div>
				<div class="title2">Dane osobowe</div>
				<div style="width:280px;">
					<label>{&t('users','model_firstname')&}:</label>
					<input type="text" ng-model="user.firstname" class="field">
				</div>
				<div style="width:280px;">
					<label>{&t('users','model_lastname')&}:</label>
					<input type="text" ng-model="user.lastname" class="field">
				</div>
				<div style="width:280px;">
					<label>{&t('users','model_phone')&}:</label>
					<input type="text" ng-model="user.phone" class="field">
				</div>
				<div style="margin-top:30px;">
					<md-button class="btn-red" ng-click="save()">{&t('site','save')&}</md-button>
				</div>
			</md-content>
		</md-tab>

		<md-tab label="{&t('users','label_changepass')&}">
			<md-content class="md-padding">
				<div ng-if="errLen(errors2)>0" class="errors-wrap">
					<div ng-repeat="error in errors2">{{error[0]}}</div>
				</div>
				<div style="width:300px">
					<label>{&t('users','password0')&}</label>
					<input type="password" ng-model="form.password0" class="field">
				</div>
				<div style="width:300px">
					<label>{&t('users','password_new')&}</label>
					<input type="password" ng-model="form.password" class="field">
				</div>
				<div style="width:300px">
					<label>{&t('users','password2')&}</label>
					<input type="password" ng-model="form.password2" class="field">
				</div>
				<div style="margin-top:30px;">
					<md-button ng-click="pass()" class="btn-red">{&t('site','change')&}</md-button>
				</div>
			</md-content>
		</md-tab>
	</md-tabs>

</div>
{% endblock %}