<div data-as-sortable="sort" data-ng-model="data.cond">
	<div ng-repeat="cond in data.cond" layout="row" layout-align="start start" data-as-sortable-item class="condBox">

		<div layout="row" layout-align="center start">
			<md-button class="md-icon-button" data-as-sortable-item-handle>
				<md-icon class="material-icons">reorder</md-icon>
			</md-button>
			<md-button class="md-icon-button" ng-click="delCond($index)">
				<md-icon class="material-icons">delete</md-icon>
			</md-button>
		</div>

		<div layout="column">
			<div layout="row" layout-align="start center">
				<div>
					<md-input-container>
						<label>{{price?msg.whencond2:msg.whencond}}</label>
						<md-select ng-model="cond.name" style="min-width:150px;" aria-label="Warunek">
							<md-option value="">{{msg.pick}}</md-option>
							<md-option ng-repeat="opt in getParamList()" ng-value="opt.name">{{opt.name}}</md-option>
						</md-select>
					</md-input-container>
				</div>
				<div flex="10">{{msg.hasvalue}}</div>
				<div flex="10"></div>
				<div ng-if="logic==true">
					<md-input-container>
						<label>{{msg.pick2}}</label>
						<md-select ng-model="cond.value" style="width:150px;">
							<md-option ng-repeat="opt in getParamOptions(cond.name)" ng-value="opt.name">{{opt.name}}</md-option>
						</md-select>
					</md-input-container>
					<!--dropdown-->
				</div>
				<div ng-if="price==true">
					<md-input-container>
						<label>{{msg.startfrom}}</label>
						<input ng-model="cond.start">
					</md-input-container>
				</div>
				<div ng-if="price==true">
					<md-input-container>
						<label>{{msg.itemprice}}</label>
						<input ng-model="cond.price">
					</md-input-container>
				</div>
			</div>

			<div style="padding-top:15px;" ng-if="logic==false">
				<md-checkbox ng-repeat="o in getParamOptions(cond.name)" ng-checked="condChecked(cond.value,o.name)" ng-click="condToggle(cond,o.name)">
					{{o.name}}
				</md-checkbox>
			</div>
		</div>

	</div>
	<span ng-if="!data.cond||data.cond.length==0">{{price?msg.norows2:msg.norows}}</span>

</div>