<div ng-if="pos==1" layout="{{pickdir}}" layout-align="center center" flex="none" layout-fill>
	<div flex-order="{{orderup}}"><md-button class="{{btnclass}}" ng-mousedown="increaseStart(0)" ng-mouseup="timerStop(0)" ng-mouseleave="timerStop(0)" ng-disabled="max&&value>=max">
		<md-tooltip md-direction="top">przytrzymaj aby zwiększyć</md-tooltip>
		<md-icon md-font-set="{{fontset}}">{{iconup}}</md-icon>
	</md-button></div>
	<div flex-order="{{ordernum}}" style="text-align:center"><input type="text" ng-model="$parent.value" ></div><!--ng-pattern="/^[1-9][0-9]*$/"-->
	<div flex-order="{{orderdown}}"><md-button class="{{btnclass}}" ng-mousedown="decreaseStart(0)" ng-mouseup="timerStop(0)" ng-mouseleave="timerStop(0)" ng-disabled="min&&value<=min">
		<md-tooltip md-direction="top">przytrzymaj aby zmniejszyć</md-tooltip>
		<md-icon md-font-set="{{fontset}}">{{icondown}}</md-icon>
	</md-button></div>
</div>
<div ng-if="pos>1" layout="{{pickdir}}" ng-repeat="p in []|range:pos" layout-align="center center" flex="none" layout-fill>
	<div flex-order="{{orderup}}"><md-button class="{{btnclass}}" ng-mousedown="increaseStart(p)" ng-mouseup="timerStop(p)" ng-mouseleave="timerStop(p)" ng-disabled="max&&value>=max">
		<md-tooltip md-direction="top">przytrzymaj aby zwiększyć</md-tooltip>
		<md-icon md-font-set="{{fontset}}">{{iconup}}</md-icon>
	</md-button></div>
	<div flex-order="{{ordernum}}" style="text-align:center;">{{getPos(p)}}</div>
	<div flex-order="{{orderdown}}"><md-button class="{{btnclass}}" ng-mousedown="decreaseStart(p)" ng-mouseup="timerStop(p)" ng-mouseleave="timerStop(p)" ng-disabled="min&&value<=min">
		<md-tooltip md-direction="bottom">przytrzymaj aby zmniejszyć</md-tooltip>
		<md-icon md-font-set="{{fontset}}">{{icondown}}</md-icon>
	</md-button></div>
</div>