{% extends "@layout/public.twig" %}

{% block header %}
	{% include "@partial/top-ribbon.twig" %}
	{% include "@partial/header.twig" with {'headxs':true} %}
{% endblock %}

{% block content %}

<div flex layout="row" layout-align="center center" style="margin-bottom:50px;">
	<div class="page-wrap">
		<div class="headpage">{&panelTitle&}</div>

		<div layout="column" class="comments-wrap">
		<md-divider></md-divider>
		{% for model in models %}
		<div class="comment-item">
			{& model.text|raw &}
			{% if model.user|length>0%}<div class="comment-sig">{&model.user&}</div>{% endif %}
		</div>
		<md-divider></md-divider>
		{% endfor %}
		</div>
	</div>
</div>

{% include "@partial/newsletter-ribbon.twig" %}
{% include "@partial/bottom.twig" %}
{% endblock %}