{% set name='comments' %}

{% extends "@partial/list.twig" %}

{% block controller %}

	$scope.edit=function(id) {
		$window.location.href="{& path(name~'/edit',{'id':'changeme'})|raw &}".replace('changeme',id);
	}

	$scope.publish=function(row) {
		$http.post('{& path(name~"/publish") &}',{'id':row.id},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			if (data.status) {
				row.status="1";
				row.statusLabel="{&t('comments','status_ok')&}";
				$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('comments','msg_published')&}"});
			} else {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_publish')&}"});
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		});
	}

	$scope.delete=function(i) {
		if (confirm("{&t('comments','msg_delconfirm')&}")) {
			$http.post('{& path(name~"/delete") &}',{'id':$scope.rows[i].id},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
			.success(function(data) {
				$scope.rows.splice(i,1);
				$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('comments','msg_deleted')&}"});
			})
			.error(function(data, status, headers) {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
			});
		}
	}

	{% if item %}$scope.listTitle+=" &nbsp;&raquo;"+{&item.name|toJson|raw&}+"&laquo;";{% endif %}

{% endblock %}

{% block panel %}
{% endblock %}

{% set cols=[
	t('comments','model_created'),
	t('comments','model_user'),
	t('comments','model_text'),
	t('comments','model_status'),
	t('site','label_action')
] %}

{% block rows %}
	<td>{{row.created}}</td>
	<td>{{row.author}}</td>
	<td>{{row.text}}</td>
	<td>{{row.statusLabel}}</td>
	<td>
		<span class="action-btn" ng-click="edit(row.id)">{& t('site','edit') &}</span>
		<span class="action-btn" ng-click="publish(row)" ng-if="row.status==0">{& t('site','publish') &}</span>
		<span class="action-btn" ng-click="delete($index)">{& t('site','delete') &}</span>
	</td>
{% endblock %}