{% set name='comments' %}

{% extends "@partial/edit.twig" %}

{% block controller %}

{% endblock %}

{% block bottom %}

<md-input-container class="md-block">
{& t('comments','model_text') &}
<textarea ng-model="model.text"></textarea>
</md-input-container>

<md-input-container class="md-block">
	<label>{& t('comments','model_user') &}</label>
	<input ng-model="model.user">
</md-input-container>

<md-switch ng-model="model.status" ng-true-value="1" ng-false-value="0">
	{& t('comments','model_status') &}: <b>{{ model.status?'{& t('comments','status_ok')&}':'{& t('comments','status_new')&}' }}</b>
</md-switch>

<div style="height:50px"></div>
{% endblock %}