.page-width {
	width:1100px;
}

.top-ribbon {
	height: 70px;
	background-color: #df0024;
	color: #fff;
}

.top-menu {
	height: 70px;
	background-color: #fff;
	padding-left: 20px;
	padding-right: 20px;
}

.menu-fixed {
	position: fixed;
	top:0;
	left: 0;
	z-index: 100;
	width: 100%;
}

.page-top-xs .main-menu{
	padding-top: 0px;
}

.headpanel {
	margin: 40px 0 40px 0;
	position: relative;
}

.headpanel span {
	color: #df0024;
	font-size: 24px;
	font-family: 'Lato';
	font-weight: 700;
}

.headpanel .headicon {
	color: #df0024;
	margin-right: 2px;
	position: relative;
	top:-5px;
}

.errors-wrap {
	padding: 20px 25px;
	background-color: coral;
	color: #444;
	font-weight: bold;
	font-size: 15px;
	border: 1px solid #444;
	line-height: 1.8em;
	margin-bottom: 30px;
}

.content-wrap {
	margin-bottom:50px;
}

.subtitle {
	font-size: 14px;
	color: #df0024;
	margin-bottom: 15px;
}

.md-button.btn-red {
	border: 1px solid #df0024;
	background-color: #fff;
	color: #df0024;
	padding: 2px 15px;
	margin: 0 0 15px 0;
	height: initial;
	min-height: initial;
	line-height: normal;
	margin-right: 15px;
	vertical-align: middle;
}

.md-button.btn-red:hover {

}


/* products */
.param-box {
	border:1px solid #444;
	margin:10px 0;
}

.param-wrap {
	margin-top: 20px;
}

.param-wrap > .as-sortable-placeholder {
	background-color: #f5f5f5;
}

.option-wrap > .as-sortable-placeholder {
	background-color: #f5f5f5;
}

.option-wrap > .as-sortable-hidden {
	display: none;
}

.option-box {
	border: 1px solid #5f5f5f;
	margin-bottom: 10px;
	padding: 10px;
}

.color-box-view {
	width:20px;
	height:20px;
	border: 1px solid #a9a9a9;
	display: inline-block;
	margin-right: 10px;
}


.image-manager .item-box {
	margin:10px;
	width:100px;
	height:140px;
	cursor: pointer;
}

.image-manager .item-box .image-wrap {
	width: 93px;
	height: 93px;
	overflow: hidden;
}

.image-manager .item-box .image-wrap .picture {
	background-color: #f5f5f5;
	width: 98%;
	border: 1px solid #f5f5f5;
}

.image-manager .item-box .image-name {
	display: inline-block;
	line-height: 1.3em;
	margin-top: 5px;
	text-align: center;
}

.image-manager .item-active {
	background-color: #f5f5f5;
	border: 1px solid #444;
}


.param-box md-toolbar {
	min-height: 40px;
}

.param-box .md-toolbar-tools {
	height: 40px;
	font-size: 16px;
}

.md-toolbar-tools md-icon {
	font-size: 20px;
}


.images-wrap {
	margin-top: 20px;
}

.images-wrap .image-box {
	border: 1px solid #5f5f5f;
	margin: 10px 0;
}

.images-wrap .image-box img {
	width: 100%;
	background-color: #5f5f5f;
	border: 1px solid #5f5f5f;
}

.images-wrap .image-box .image-btn {
	width: 50px;
}

.section_label {
	margin-top: 15px;
	font-size: 16px;
}

.section_div {
	margin:5px 0 30px 0;
}

.condBox {
	border-bottom: 1px solid #f5f5f5;
	margin-bottom: 15px;
}

.cond-manager {
	min-width: 600px;
	min-height: 200px;
	padding: 20px;
}

/* tables */

.loading-list {
	position: relative;
}

.loading-list .loading-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
	text-align: center;
	z-index: 5;
}

.loading-list .loading-overlay span {
	position: relative;
	font-size: 18px;
	display: inline-block;
	background-color: #fff;
	border: 1px solid #bbb;
	padding: 10px 25px;
	top: 5%;
}

.table-list {
	 border-collapse: collapse;
}

.table-list thead tr {
	height: 55px;
}

.table-list th {
	border:1px solid #e7e7e7;
	color: #565656;
	font-weight: bold;
	padding:0 15px;
	text-align: left;
	font-size: 1.1em;
}

.table-list tbody tr {
	height: 40px;
}

.table-list tbody td {
	padding: 5px 20px;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
}

.table-list tbody tr:nth-child(odd) {
	background-color: #f5f5f5;
}

.table-list tbody tr:hover{
	background-color: #e0e0e0;
}

.table-list tbody tr:last-child td {
	border-bottom: 1px solid #e7e7e7;
}

.table-list .action-btn, .more-link{
	color: #fff;
	cursor: pointer;
	margin-right: 10px;
	text-decoration: none;
	background: #df0024;
	padding: 6px 10px;
	border-radius: 5px;
	border: 1px solid #df0024;
	font-weight: bold;
	text-transform: capitalize;
	display: inline-block;
	margin: 2px 0px;
}

.table-list .action-btn:hover, .more-link:hover {
	background: #fff;
	color: #df0024;
}

.list-title {
	font-weight: bold;
	margin:20px 0;
	font-size: 1.3em;
}

.user-data{
	background-color:#fbfcff;
	margin-bottom:20px;
	padding:20px;
	border:1px solid #e7e7e7;
	line-height: 150%;
}

.pagination  {
	margin: 10px 0;
}

.pagination .md-button {
	padding: 5px 10px;
	margin: 0 2px;
	min-height: initial;
	min-width: initial;
	line-height: 1em;
}

.pagination .pages.active {
	color: #df0024;
	border: 1px solid #e7e7e7;
	box-sizing: border-box;
}


.tabs-btn {
	margin-top: 20px;
}

.tabs-btn button {
	font-size: 12px;
	color:#525252;
	background-color: #ffffff;
	border: 1px solid #f5f5f5;
	border-radius: initial;
	margin: 0 5px 5px 0;
	padding: 5px 15px;
	min-height: initial;
	min-width: initial;
	line-height: initial;
}

.tabs-btn button.active {
	background-color:#f5f5f5;
	color: #df0024;
}


/* orders */

.item-list-head >div{
	background-color: #f5f5f5;
	border: 1px solid #e7e7e7;
	font-weight: bold;
	padding: 10px 10px;
}

.item-list-row >div{
	border: 1px solid #e7e7e7;
	padding: 10px 10px;
}

.item-list-row:nth-child(even) >div {
	background-color: #f5f5f5;
}

.vip-badge {
	color: darkorange;
	vertical-align: text-bottom;
	font-size: 19px;
	margin-left: 3px;
}

/* users*/

.group-label {
	color: #565656;
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 10px;
}

.users .label-col {
	text-align: right;
	vertical-align: top;
	padding-right: 5px;
}

.users .data-col {
	vertical-align: top;
	padding-left: 10px;
}

.users-tabs .md-button {
	border: 1px solid #f5f5f5;
	margin-bottom: 5px;
	margin-left: 0;
	margin-right: 2px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 12px;
	line-height: 1em;
	min-height: 30px;
}

.users-tabs .md-button.active {
	background-color: #f5f5f5;
}

.users-tabs .md-button.active:hover {
	background-color: #fff;
}

.users-edit {
	border-left:1px solid #dadada;
	padding-left: 15px;
}

.users-edit input{
	height: 25px;
	padding:3px 15px;
	color: #424242;
	background-color: #e7e7e7;
	font-size: 12px;
	border: none;
	border-radius: 3px;
	margin-bottom: 20px;
	width: 100%;
}

.users-edit textarea{
	height:140px;
	padding:10px 15px;
	color: #424242;
	background-color: #e7e7e7;
	font-size: 12px;
	border: none;
	border-radius: 3px;
	margin-bottom: 20px;
	width: 100%;
}

.users-edit select {
	height: 30px;
	padding:3px 15px;
	font-size: 12px;
	border-radius: 3px;
	margin-bottom: 20px;
	width: 100%;
}

.users-edit .error-box {
	border: 1px solid red;
	background-color: coral;
	color: #444;
	padding: 15px 20px;
	margin-bottom: 30px;
	font-size: 1.1em;
}

.sortcol {
	cursor: pointer;
	width: initial;
	height:initial;
	font-size: 16px;
}

.sortcol:focus {
	outline: none;
}

.sortcol.active {
	color: #df0024;
}

.userpanel label {
	display: block;
	color: #545454;
	margin-bottom: 10px;
}

.userpanel input.field {
	color:#545454;
	height: 25px;
	border: 1px solid #cfcfcf;
	border-radius: 3px;
	margin-bottom: 25px;
	padding: 4px 5px;
	font-size: 14px;
	width: 70%;
}

.userpanel .md-padding {
	padding-top: 40px;
}

.cal-contact-info {
	color: darkcyan;
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #444;
}

.deleted-user {
	text-decoration: line-through;
	color: deeppink;
}