a{
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}

hr{
	margin: 30px 0px;
	border-top: 1px solid #ddd;
}


/* pomoc */

.article-section a.btn-red{
    font-weight: bold;
}

.article
{
    font-size: 15px;
    line-height: 150%;
}

.group-title a {
	text-decoration: none;
	color: #424242;
}

.subgroup-body md-tabs md-content {
	padding-top:20px;
}

.article ul li,
.article ol li
{
    padding: 3px 0;
}

.article ul li ol,
.article ul li ul
{
    padding-top: 15px;
}

.center
{
    text-align: center;
}

.tabela-dostawa
{
    border-spacing: 0;
    border-collapse: collapse;
}

.tabela-dostawa td
{
    line-height: 20px;

    padding: 14px 8px;

    vertical-align: top;

    border: 0;
    border-right: 1px solid #df0024;
}

.tabela-dostawa .red td
{
    color: #fff;
    border-right: 1px solid #fff;
    background: #df0024;
}

.tabela-dostawa td:last-child
{
    border: 0;
}


.termin-container
{
    text-align: center;
    text-transform: uppercase;
}

.termin-boxes .termin-box
{
    padding: 20px 0;

    color: #fff;
    border-right: 3px solid #fff;
    background: #11B5E6;
}

.termin-boxes .termin-box h3
{
    font-size: 30px;
    font-weight: 900;
}

.termin-boxes .termin-box h3 strong
{
    font-size: 17px;
    line-height: 120%;

    display: inline-flex;

    padding-top: 3px;
}


.termin-boxes .termin-box.first
{
    background: #9F9F9F;
}

.termin-boxes .termin-box.first h3
{
    font-size: 17px;
    font-weight: normal;

    padding-top: 10px;
}

.termin-boxes .termin-box.first h3 strong
{
    font-size: 30px;
    font-weight: 900;
    line-height: 120%;

    display: inline-flex;

    padding-top: 3px;
}

.termin-boxes .termin-box.last
{
    background: #DF0024;
}

.termin-info
{
    font-size: 13px;
}

.termin-info div
{
    padding: 15px 0;

    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    background: #efefef;
}

.termin-end h3
{
    font-weight: normal;
}



/* do pobrania */

.article a.btn-red:after{
	top: 8px;
}

.article a.btn-red{
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 3px;
}

.article-section .subgroup-head {
	margin: 15px 0 20px 0;
}

.article-section .subgroup-head .md-button {
	border: 1px solid #df0024;
	background-color: #fff;
	color: #df0024;
	padding: 2px 15px;
	margin: 0;
	height: initial;
	min-height: initial;
	line-height: normal;
}

.article-section .subgroup-head .md-button.active {
	color: #fff;
	background-color: #df0024;
}

.article-section .subgroup-head button.md-button{
	padding: 7px 15px !important;
	margin-bottom: 5px;
}

.article-section .group-bar {
	margin-bottom: 15px;
}

.article-section .group-title {
	font-size: 18px;
	font-weight: bold;
	color: #424242;
}

.article-section .group-title-active {
	color: #df0024;
}

.article-section .more .md-button {
	color:#df0024;
	text-transform: lowercase;
}

.article-section .more md-icon {
	color:#df0024;
}

.article-section .expanded {
	margin: 20px 0;
}


.subgroup-body{
    padding: 0px;
    border: 0px solid #df0024;
    margin-top: -10px;
}

.md-tab{
	font-weight: bold;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

.md-tab.md-active{
	background: #df0024;
	font-weight: bold;
	border-top: 1px solid #df0024;
	border-right: 1px solid #df0024;
	border-bottom: 1px solid #df0024;
	border-left: 1px solid #df0024;
}

.md-tab.md-active span{
	color: #fff
}

.subgroup-body md-tab-content{
	border: 1px solid #df0024;
}

.subgroup-body md-tabs md-content{
	padding: 15px;
}

.article-section#section8 .group-title{
	width: 100%;
}

.article-section#section8 .group-title a{
    width: 110%;
    display: inline-flex;
    z-index: 100;
    padding: 14px 0px;
    position: relative;
}


.flex-70 iframe{
	width: 80%;
}





