.menu-bar {
	padding: 10px 20px;
}

.menu-bar>div {
	margin-right:25px;
}

.breadcrumb {
	background-color: #f5f5f5;
	padding: 10px 20px;
}

.upload-wrap {
	padding: 20px;
	margin: 20px 20px 0 20px;
	border:1px solid #5f5f5f;
}

.upload-header {
	font-size: 16px;
	font-weight: bold;
}

.man-folder {
	color:#444444;
	cursor:pointer;
}

.man-file {
	color:#666666;
}

.thumb-wrap {
	margin-left:15px;
}

.thumb {
	border:1px solid grey;
	width: 100px;
	height: 100px;
	display:inline-block;
	margin: 0 10px 10px 0;
	text-align: center;
	position:relative;
}

.thumb .ico-wrap {
	position:absolute;
	left:3px;
	top:3px;
	width:92px;
	height:68px;
}

.thumb input {
	position: absolute;
	top:0px;
	left:-1px;
}

.thumb .ico {
	position:relative;
	top:50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.thumb .ico i {
	font-size:42px;
}

.thumb .name {
	width: 98px;
	padding: 2px 1px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left:0;
	background-color:#f0f0f0;
	white-space: nowrap;
}

.btn-sm {
	background-color: #fff;
	border: 1px solid #f5f5f5;
	color: #5f5f5f;
	font-size: 12px;
	padding: 5px 5px 3px 5px;
}

.btn-sm {
	background-color: #fff;
	border: 1px solid #f5f5f5;
	color: #5f5f5f;
	font-size: 12px;
	padding: 5px 5px 3px 5px;
}

.btn-sm.btn-active {
	background-color: #9f9f9f;
	color:#fff;
}

.btn-sm.btn-active md-icon {
	color:#fff;
}

.btn-sm md-icon {
	font-size: 16px;
	height: initial;
	width: initial;
}

.thumb .tools {
	position: absolute;
	right: 3px;
	top:-2px;
	padding: 0;
}

.thumb .tools button {
	background-color: #fff;
	border: 1px solid #f5f5f5;
	color: #5f5f5f;
	border-radius: 2px;
	padding: 1px 3px;
}

.thumb .tools md-icon {
	font-size: 12px;
	height: initial;
	width: initial;
}

md-menu-item {
	height: initial;
	min-height: initial;
	cursor: pointer;
	padding: 3px 10px;
	text-align: center;
}

 md-menu-item .material-icons {
	height: initial;
	min-height: initial;
	 width: initial;
	font-size: 14px;
	padding: 0;
}

