.modalFullcontent {
	padding: 40px;
}
.modalFullcontent .layout-row{
	text-align: center;
	font-size: 19px;
	color: #424242;
}
.modalFullcontent .layout-row i{
	margin-right: 7px;
	vertical-align: middle;
}
.modalFullcontent .layout-row a{
	color: #424242;
	font-weight: bold;
	text-decoration: none;
}
.modalFullcontent .layout-row a:hover{
	color: #df0024;
	text-decoration: none;
}
.modalFullcontent h2{
	font-size: 23px;
	color: #df0024;
	text-align: center;
}
.modalFullcontent h3{
	font-size: 19px;
	color: #424242;
	text-align: center;
}

.md-toolbar-tools{
	background: #df0024;
}

.md-toolbar-tools h2{
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 21px;
}

.md-dialog-backdrop.md-opaque.ng-scope{
	height: 100% !important;
}

.modalFullaction {
}