/* fixes */
.fc-agendaWeek-view .fc-row.fc-widget-header,
.fc-agendaWeek-view .fc-widget-content {
	border-right-width: 1px;
	margin-right: 16px;
}

.fc-event-container i.material-icons {
	font-size: 16px;
	vertical-align: middle;
	margin-right: 3px;
}

/* ostylowanie edit/add event */

.event-dialog {
	width:500px;
	padding:20px;
}

.event-dialog .event-title {
	font-size: 18px;
	margin-bottom: 15px;
}

.event-dialog md-input-container {
	margin-top: 30px;
}