
.content-wrap {
	background-color: #f5f5f5;
	padding-top: 50px;
	padding-bottom: 40px;
	position: relative;
}

.content {
	width: 1020px;
	margin: 0 auto 100px auto;
	background-color: #fff;
	padding: 40px 20px 60px 60px;
	position: relative;
}

.grid-sizer-20 {
	width: 20%;
}

.headgallery {
	font-family: 'Lato';
	font-weight: 700;
	font-size: 30px;
	color: #df0024;
	margin: 0px auto 20px auto;
	width: 1100px;
	text-transform: capitalize;
}

.breadcrumb {
	margin-bottom: 25px;
	font-size: 17px;
	text-transform: capitalize;
}

.breadcrumb-link {
	cursor: pointer;
}

.breadcrumb-link i{
	font-size: 30px;
	margin-right: 10px;
	transition: all .3s ease-in-out;
}

.breadcrumb-link:hover i{
	color: #df0024;
}

.grid-item {
	cursor: zoom-in;
	transition: all .3s ease-in-out;
}

.grid-item:hover{
	transform: scale(1.1);
}

.grid-item:hover .tile-title{
	color: #df0024;
}

.item-inside {
	height: 195px;
	position: relative;
}

.tile-title {
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	font-size: 14px;
	overflow: hidden;
	text-transform: capitalize;
}

.slider-wrap {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,.5);
}

.thumb-wrap .flickity-prev-next-button{
	zoom: 0.7;
}

.close-slide {
	z-index: 101;
	position: absolute;
	top: 30px;
	right: 30px;
	cursor: pointer;
}

.close-slide button {
	background-color: #bd0724;
	color: #fff;
	border: none;
	padding: 10px 12px;
	border-radius: 100%;
	line-height: 100%;
	border: 2px solid #bd0724;
	transition: all .3s ease-in-out;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
}

.close-slide button i{
	line-height: 100%;
	margin-top: 2px;
	transition: all .3s ease-in-out;
}

.close-slide button:hover{
	background: #fff;
}

.close-slide button:hover i{
	color: #bd0724;
}

.navigate{
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 101;
	color: #fff;
	text-align: center;
	width: 75px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.3);
}
.navigate i{
	margin: 2px;
	border: 1px solid #fff;
}

.flickity-prev-next-button .arrow{
	fill: #bd0724;
}

.slider-wrap figure {
	margin: 0 10px;
}

.slider-wrap img {

}

.thumb-wrap {
	height: 128px;
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 100%;
	z-index: 101;
	background-color: rgba(255,255,255,.2);
}

.thumb-wrap figure {
	top: 10%;
	margin: 0 10px;
}
.thumb-wrap img {
	border: 1px solid #444;
	height: 100px;
}

.thumb-wrap figure.is-nav-selected img {
	border: 1px solid red;
}