@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?8f5ubv');
    src:    url('../fonts/icomoon.eot?8f5ubv#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?8f5ubv') format('truetype'),
        url('../fonts/icomoon.woff?8f5ubv') format('woff'),
        url('../fonts/icomoon.svg?8f5ubv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-file-empty:before {
    content: "\e924";
}
.icon-file-text2:before {
    content: "\e926";
}
.icon-file-picture:before {
    content: "\e927";
}
.icon-file-music:before {
    content: "\e928";
}
.icon-file-zip:before {
    content: "\e92b";
}
.icon-folder:before {
    content: "\e92f";
}
.icon-folder-upload:before {
    content: "\e934";
}

