.page-top-wrap {
	height: 585px;
	background: url('../images/topbg0.jpg') no-repeat top center;
	background-size: cover;
	position: relative;
}

.page-top-home {
	height: 585px;
	background-position: top center;
	background-size: cover;
	position: relative;
	background-image: url(../images/topbg1.jpg);
}

/* slider */

.slider-wrap {
	height:495px;
	margin-top: 0px;
	margin-bottom:0px;
	position: relative;
}

.slide-holder{
	position: relative;
	height:100%;
	width: 100%;
	margin: 0px;
}

.slide-wrap{
	position: absolute;
	height:100%;
	width: 100%;
	margin: 0px;
	overflow: hidden;
}

.slidebg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: cover !important;
	background-repeat: no-repeat;
}


.slide-holder .navi{
	position: absolute;
	width: 80px;
	top:0;
	height: 100%;
	z-index: 10;
	cursor: pointer;
}

.slide-holder .navi-btn:hover{
	background: rgba(255, 255, 255, 1);
}

.slide-holder .navi-prev-wrap {
	left:0;
}

.slide-holder .navi-next-wrap {
	right: 0;
}

.slide-holder .navi-btn {
	width: 50px;
	height: 46px;
	border-radius: 100px;
	background: rgba(255, 255, 255, 0.6);
	transition: all .3s ease-in-out;
}

.slide-holder .slide {
	position: absolute;
	top: 0px;
	right: 100px;
	width: 400px;
	height: 100%;
}

.slide .title{
	color: #fff;
	text-align: center;
	font-size: 45px;
	font-weight: bold;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.slide .text{
	color: #fff;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	margin-top: 15px;
	padding-top: 15px;
	border-top: 2px solid #fff;
}


.slide-holder .slide a.btn-white {
	font-size: 16px;
	color:#df0024;
	font-family: "Lato";
	background-color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 25px;
	margin-right: 25px;
	border-radius: 3px;
	border: 1px solid #fff;
	transition: all .3s ease-in-out;
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 20px;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.slide-holder .slide a.btn-white:hover {
	background-color: #df0024;
	color: #fff;
}

/* ken burns */
.slide-wrap.ng-enter {
	transition: 6.5s;
}

.slide-wrap.ng-leave {
	transition: 1s;
	z-index: 1;
}

.slide-wrap.ng-leave.ng-leave-active {
	opacity:0;
}

.slide-wrap.ng-enter .slidebg {
	transform: translate3d(0,0,0) scale(1);
	transition: all 6.5s linear;
}

.slide-wrap.ng-enter.ng-enter-active .slidebg {
	transform: translate3d(10px,0px,0) scale(1.1);
}


/* comments */

.comment-wrap {
	background-color:#343434;
	height:178px;
	color:#fff;
}

.comment-item {
	font-family:'Lato';
	margin-top: 15px;
}

.comment-item .text {
	font-size:18px;
	text-align: justify;
}

.comment-item .signature {
	font-size: 18px;
	text-align: right;
}

.comment-wrap md-icon {
	font-size:36px;
	height:36px;
	width:36px;
	margin-right:5px;
	color:#fff;
}

.comment-item.ng-enter {
	transition:0.5s linear all;
	display: none;
	opacity:0;
}

.comment-item.ng-enter.ng-enter-active {
	opacity:1;
}

.comment-item.ng-leave {
	transition:0.2s linear all;
}

.comment-item.ng-leave.ng-leave-active {
	opacity:0;
}


/* articles */

.article-row img{
	max-width: 80%;
	height: auto;
}

