button:focus,
div:focus {
	outline:0;
}

.subtitle-wrap {
	font-size: 16px;
	background-color: #f1f1f1;
}

.subtitle {
	height: 90px;
}

.content-wrap {
	background-color: #f5f5f5;
	border-top: 2px solid #fff;
}

.content {
	width: 1020px;
	margin: 50px 0 100px 0;
	background-color: #fff;
	padding: 60px 20px 60px 60px;
}

.product-breadcrumbs{
	padding: 10px 0px;
	width: 1100px;
}

.product-breadcrumbs .home-icon .icon-home{
	color: rgb(119, 119, 119);
	font-size: 25px;
	height: 28px;
	margin-right: 7px;
}

.product-breadcrumbs .main-cat, .product-breadcrumbs .sub-cat{
	text-transform: capitalize;
}

.product-breadcrumbs .separator-cat{
	padding: 0px 10px;
	color: #A7A7A7;
}

.cat-grid-sizer,
.cat-tile-box .grid-item {
	width: 20%;
}

.prod-grid-sizer,
.prod-tile-box .grid-item {
	width: 25%;
}

.cat-tile-box .tile-big {
	width: 60%;
}

.prod-tile-box .tile-big {
	width: 50%;
}

.cat-tile-box .grid-item {
	cursor: pointer;
	margin-bottom: 20px;
}

.prod-tile-box .grid-item {
	cursor: pointer;
	margin-bottom: 30px;
}

.cat-tile-box .tile-info {
	margin-left:20px;
	margin-right: 20px;
}

.prod-tile-box .tile-info {
	margin-right: 20px;
}

.tile-title {
	color: #424242;
	font-size: 16px;
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}

.cat-tile-box .tile-title {
	width: 156px;
	height:40px;
}
.prod-tile-box .tile-title {
	width: 210px;
	min-height: 50px;
}

.grid-item .item-inside:hover .tile-title{
	color: #df0024;
}

.tile-info {
}

.tile-info.ng-enter {
	transition:0.2s linear all;
	display: none;
	opacity:0;
}

.tile-info.ng-enter.ng-enter-active {
	opacity:1;
}

/* product */
.headpanel-wrap {
	height: 70px;
	background-color: #df0024;
	color: #fff;
	position: relative;
}

.headpanel{
	position: relative;
}

.headpanel a:not([disabled]):hover,
.headpanel button:not([disabled]):hover {
	background-color: #f7bbc5;
}

.headpanel .back-home,
.headpanel .my-basket,
.headpanel .see-other {
	text-transform: lowercase;
	border-radius: 4px;
	position: relative;
}

.headpanel .my-basket,
.headpanel .see-other {
	color: #df0024;
	background-color: #fff;
	border: 1px solid #df0024;
}

.headpanel .back-home {
	color: #fff;
	background-color: #5f5f5f;
	border: 1px solid #5f5f5f;
	margin-right:10px;
}

.headpanel .my-basket {
	margin-right:10px;
}

.headpanel .see-other {
	padding: 0 7px 0 18px;
}

.headpanel .see-other span {
	font-size: 15px;
}


.headpanel .see-other md-icon {
	font-size: 10px;
	color: #df0024;
	position: relative;
	top:6px;
	left:-5px;
}

.otherprod-container {
	position: absolute;
	z-index: 100;
	top:45px;
	right: 10px;
}

.otherprod-wrap {
	padding: 30px 25px 10px 25px;
	width: 200px;
	background-color: #fff;
	border: 1px solid #5f5f5f;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	position: relative;
	box-shadow: 3px 3px 13px 1px rgba(0,0,0,0.24);
}

.otherprod-wrap .menu-item {
	margin-bottom: 15px;
}

.otherprod-wrap .menu-item:hover {
	text-decoration: underline;
}

.otherprod-wrap .menu-item .title {
	color:#767676;
	text-transform: capitalize;
	cursor: pointer;
	font-size: 14px;
	font-family: 'Oxygen';
}

.otherprod-wrap .menu-item-active .title {
	color: #df0024;
}

.otherprod-wrap .menu-subitem {
	color:#767676;
	text-transform: capitalize;
	padding-left: 20px;
	min-height: initial;
	height: initial;
	display: none;
	font-size: 12px;
	font-family: 'Oxygen';
	margin-bottom: 10px;
}

.otherprod-wrap .menu-subitem:hover {
	text-decoration: underline;
}

.otherprod-wrap .menu-item-subactive {
	cursor: pointer;
	display:block;
}

.otherprod-wrap .menu-subitem-active .title {
	font-weight: bold;
	position: relative;
}

.otherprod-wrap .menu-subitem-active .title::before {
	font-family: 'Material Icons';
	content:"\e5C4";
	color: #df0024;
	font-size: 10px;
	position: absolute;
	top:3px;
	left:-15px;
}

.subitem-panel{
	background-color: #f9f9f9;
	width: 230px;
	padding: 35px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	position: relative;
	top: 1px;
	box-shadow: 3px 3px 13px 1px rgba(0,0,0,0.14);
	border: 1px solid #f0f0f0;
}

.subitem-panel img {
	width: 100%;
}

.subitem-panel .panel-title {
	font-size: 18px;
	color: #5f5f5f;
	font-family: 'Oxygen';
	text-transform: capitalize;
	margin: 15px 0;
}

.subitem-panel .panel-text {
	font-size: 12px;
	font-family: 'Oxygen';
	color:#424242;
	text-align: justify;
	margin-bottom: 10px;
}

.subtitle-wrap .subtitle .home-icon .icon-home{
	color: rgb(119, 119, 119);
    font-size: 30px;
    height: 33px;
    margin-right: 10px;
}

.subtitle-wrap .subtitle .main-cat, .subtitle-wrap .subtitle .sub-cat{
	text-transform: capitalize;
}

.subtitle-wrap .subtitle .separator-cat{
	padding: 0px 10px;
	color: #A7A7A7;
}


.group-button {
	background-color: #c6c6c6;
	color:#424242;
	margin: 0 1px;
}

.group-button-active {
	background-color: #df0024;
	color:#fff;
}

.group-button span,
.group-button-active span {
	padding: 0 10px;
}


.image-wrap {
	position: relative;
	width:470px;
	height:400px;
	border: 2px solid #cfcfcd;
}

.image-wrap img {
	position: absolute;
	top: 0;
	left: 0;
}


.nav-product {
	width: 1100px;
	margin-top: 20px;
}

.nav-product .active {
	color: #df0024;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
}

.nav-product button {
	background-color: none;
	border: 1px solid #e21839;
	padding: 0 6px;
	line-height: normal;
	min-height: 0;
	min-width: 0;
	font-size: 14px;
}

.nav-product md-icon {
	font-size: 16px;
	width: auto;
	height: auto;
	color:#df0024;
}

.content-product {
	margin: 20px 0 60px 0;
	background-color: #fff;
	padding: 25px 25px 40px 25px;
	width: 1100px;
}


.line {
	margin:20px 0;
}

.order-price-wrap {
	text-align: right;
}

.order-price {
	font-size: 14px;
	display: inline-block;
	margin-right: 10px;
}

.order-brutto {
	font-size: 14px;
	text-align: right;
	color:#989797;
}

.order-amount {
	font-size: 24px;
	color: #df0024;
	font-weight: bold;
}

.order-button {
	width: 100%;
	border-radius: 4px;
	background-color: #5f5f5f;
	color: #fff;
	position: relative;
	overflow: visible;
}

.order-button span {
	font-family: 'Lato';
	font-size: 18px;
	font-weight: 400;
	text-transform: lowercase;
	position: relative;
	left:15px;
}

.order-button md-icon {
	color: #fff;
	position: absolute;
	font-size: 35px;
	top:-5px;
	left:15px;
	padding: 6px 15px 15px 5px;
	border-radius: 25px;
	background-color: #df0024;
}

.order-summary {
	font-family: 'Lato';
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 30px;
}

.summary-item {
	font-size: 13px;
}

.summary-item span {
	font-weight: bold;
}

.summary-item i {
	font-size: 10px;
	color: #df0024;
}


.param-wrap {
	margin-bottom: 10px;
}

.param-name {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 20px;
}

.param-note {
	font-size: 13px;
	margin-bottom: 20px;
	border: 1px solid #444;
	padding: 10px;
	margin-bottom:20px;
}

.param-notes {
	font-size:12px;
	font-style: italic;
}

.param-wrap .param-button {
	width: 99%;
}

.param-wrap .param-button {
	color:#df0024;
	background-color: #fff;
	border: 1px solid #e21839;
	border-radius: 4px;
}

.param-wrap button.param-button:not([disabled]):hover,
button.nav-button:not([disabled]):hover {
	background-color: #f7bbc5;
	color: #fff;
}

.param-wrap .clicked {
	color: #fff;
	background-color: #e21839;
	border: 1px solid #e21839;
}

.param-wrap .round-button {
	border: 1px solid #444;
	margin-bottom: 10px;
}

.param-wrap .round-button:not([disabled]):hover {
	background-color: #f7bbc5;
	border: 1px solid #e21839;
	color: #fff;
}

.param-wrap .round-button.clicked {
	border: 1px solid #e21839;
	color: #fff;
}

.param-wrap .mini-button {
	font-size: 10px;
	line-height: normal;
	min-height: inherit;
	padding: 5px;
}

.option-border {
	padding: 4px;
	border: 1px solid #fff;
	border-radius: 3px;
	width: 100%;
}

.option-border >div {
	text-align: center;
}

.option-border:hover{
	border: 1px solid #e21839;
	color: #df0024;
	/*-webkit-box-shadow: 2px 2px 15px -5px rgba(0,0,0,0.26);
	-moz-box-shadow: 2px 2px 15px -5px rgba(0,0,0,0.26);
	box-shadow: 2px 2px 15px -5px rgba(0,0,0,0.26);*/
}

.option-active {
/*	background-color: #f7bbc5;*/
	border: 2px solid #e21839;
	color:#000;
	/*-webkit-box-shadow: 2px 2px 15px -5px rgba(0,0,0,0.26);
	-moz-box-shadow: 2px 2px 15px -5px rgba(0,0,0,0.26);
	box-shadow: 2px 2px 15px -5px rgba(0,0,0,0.26);*/
}

.option-active img {
	/*-webkit-filter:invert(20%);
	filter: invert(20%);*/
}

.option-icon {
	margin-bottom: 15px;
}

.option-icon img {
	max-width: 100%;
}

.option-color {
	margin-bottom: 15px;
}

.option-color .color-box {
	width:100%;
	height:100%;
	border:1px solid #444444;
}


.nav-button {
	background-color: #e21839;
	border: 1px solid #e21839;
	color: #fff;
	border-radius: 4px;
}

.pager-group {
	font-size:18px;
	font-weight:700;
	margin-bottom:20px;
}

.pager-step {
	cursor: pointer;
}

/* option- fonts */

.option-font-advent {
	font-family: 'Lato' !important;
}

.option-font-oxygen {
	font-family: 'Oxygen' !important;
}

.option-font-courier {
	font-family: 'Courier New' !important;
}

@font-face {
	font-family: 'mtcorsiva';
	src: url('./mtcorsiva.eot');
	src: local('mtcorsiva'),
		url('./mtcorsiva.woff') format('woff'),
		url('./mtcorsiva.ttf') format('truetype');
}

.option-font-corsiva {
	font-family: 'mtcorsiva' !important;
}

@font-face {
	font-family: 'ar-decode';
	src: url('ar-decode.woff') format('woff'),
		url('ar-decode.svg#AR-DECODE') format('svg'),
		url('ar-decode.eot'),
		url('ar-decode.eot?#iefix') format('embedded-opentype');
	/*font-weight: normal;
	font-style: normal;*/
}

.option-font-ardecode {
	font-family: 'ar-decode' !important;
}

/* end option- fonts */


.picker-pos-vert>div {
	width:40px;
}

.picker-pos-vert span {
	line-height:1.3em;
}

.amount-wrap input {
	display: block;
	width:25px;
	margin: auto;
	border: 1px solid #424242;
	padding: 2px;
}

.amount-wrap .amount-button,
.picker-pos-vert .pick-button {
	background-color: #fff;
	border: 1px solid #e21839;
	padding: 0 3px;
	line-height: normal;
	min-height: 0px;
	min-width: 0px;
	font-size: 10px;
}

.amount-wrap .amount-button:hover,
.picker-pos-vert .pick-button:hover {
	color: #fff;
	background-color: #df0024;
}

.amount-wrap md-icon,
.picker-pos-vert md-icon {
	font-size: 14px;
	width: auto;
	height: auto;
	color:#df0024;
}

.amount-wrap .amount-button:hover md-icon,
.picker-pos-vert .amount-button:hover md-icon {
	color: #fff;
}


/* basket */
.basket-subtitle-wrap {
	background-color: #fff;
}

.basket-subtitle {
	font-family: "Lato";
	font-size: 24px;
	color: #df0024;
	height: 85px;
}

.basket-content-wrap {
	background-color: #f5f5f5;
	padding: 50px 0;
}

.basket-content {
	background-color: #fff;
	padding: 40px 25px;
}

.basket-content .list-head {
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid #f5f5f5;
	margin-bottom: 15px;
	padding-bottom: 10px;
}

.basket-content .list-head > div:not(:first-child) {
	text-align: center;
}

.basket-content .list-row {
	font-size: 14px;
	margin-bottom: 10px;
}

.basket-content .list-row > div:first-child >div:not(:first-child) {
	text-align: center;
}

.basket-content .row-config {
	font-size: 12px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #f5f5f5;
	background-color: #fdfdfd;
}

.basket-content .row-config>div {
	padding: 0 5px;
}

.list-row .orginal-price {
	font-size: 0.8em;
	text-decoration: line-through;
	color: #5f5f5f;
	margin-right: 10px;
}

.basket-content .row-action .md-button {
	font-size: 12px;
	border: 1px solid #df0024;
	color: #424242;
	height: 28px;
	padding: 0;
	min-height: 0;
	margin: 0 5px;
	line-height: normal;
}

.basket-total {
	font-size: 15px;
	font-weight: bold;
	background-color: #fff;
	padding: 25px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.basket-total b {
	font-size: 18px;
	color: #df0024;
}

.icon-tooltip .md-content {
	height: auto;
	padding-top: 8px;
	background-color: #fff;
	border: 1px solid #f5f5f5;
}


.basket-buttons .md-button,
.button-white {
	font-size: 16px;
	border: 1px solid #df0024;
	height: 40px;
	padding: 0 15px;
	min-height: 0px;
	margin: 0 5px;
	line-height: normal;
	text-transform: lowercase;
	font-family: 'Lato';
}

.basket-content .row-action .md-button.white,
.basket-buttons .md-button.white,
.button-white {
	color: #df0024;
	background-color: #fff;
}

.basket-content .row-action .md-button.white:hover,
.basket-buttons .md-button.white:hover,
.button-white:hover {
	color: #fff;
	background-color: #df0024;
}

.basket-content .row-action .md-button.red,
.basket-buttons .md-button.red {
	color:#fff;
	background-color: #df0024;
}

.basket-content .row-action .md-button.red:hover,
.basket-buttons .md-button.red:hover {
	color: #df0024;
	background-color: #fff;
}


/* summary */

.basket-summary-wrap {
	min-height: 450px;
	margin-bottom: 50px;
	background-color: #f5f5f5;
	padding: 50px 0;
}

.radio-horiz md-radio-button {
	display:inline-block;
	margin-right:20px;
}

.radio-horiz md-radio-button:not(:first-child) {
	margin-top: 0;
}

.basket-content .content-group {
	font-size: 15px;
	color: #424242;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 30px;
}

.basket-content .content-group.first {
	margin-top: 0;
}

md-radio-button.md-checked .md-off {
	border-color: #df0024;
}

md-radio-button .md-on {
	background-color: #df0024;
}

.ship-address input{
	height: 28px;
	padding: 3px 5px;
	width: 100%;
	border-radius: 2px;
	border: 1px solid #cfcfcf;
	margin-bottom: 15px;
}
