.userpanel .md-padding {
	padding-top: 20px;
}

.userpanel .user-boxes {
	border:1px solid #5f5f5f;
	padding:20px;
}

.userpanel .user-boxes strong {
	font-size: 1.1em;
	display: block;
	margin-bottom: 15px;
}

.panel-title2 {
	font-size: 18px;
	color: #424242;
	font-weight: bold;
	margin-bottom: 10px;
}

.promote-wrap {
	margin-bottom:20px;
	font-size:14px;
}

.promote-info {
	margin-right: 30px;
}

md-content {
	min-height: 200px;
}