

.seasonal a {
	color: #ffd700 !important;
}

.top-ribbon {
	height: 50px;
	background-color: #df0024;
	color: #fff;
}

.top-ribbon a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	box-shadow: 0 0 0 1px #fff;
	border-radius: 3px;
	padding: 5px 10px;
	transition: all .2s ease-in-out;
}

.top-ribbon a:hover{
	color: #df0024;
	background: #fff;
}

.top-menu {
	height: 90px;
	background-color: #fff;
	z-index: 1;
}

.menu-fixed {
	position: fixed;
	top:0;
	left: 0;
	z-index: 100;
	width: 100%;
}

.bottom-wrap {
	background-color: #f5f5f5;
	padding: 40px 0;
}

.page-wrap {
	min-height: 450px;
	padding-bottom: 50px;
	width: 1100px;
}

.page-width {
	width: 1100px;
}

.headpanel-wrap {
	background-color: #fff;
}

.headpanel {
	font-family: 'Lato';
	font-weight: 700;
	font-size: 24px;
	color: #df0024;
	height: 80px;
	width: 1100px;

}

.headpanel a span, .headpanel div button span{
	text-transform: capitalize;
}

.headpanel img{
	margin-top: -10px;
}

.subtitle {
	width:1100px;
}

.headpage {
	font-family: 'Lato';
	font-weight: 700;
	font-size: 30px;
	color: #df0024;
	margin:50px 0 30px 0;
	text-transform: capitalize;
}

.headpage .headicon {
	color: #df0024;
	margin-right: 2px;
	position: relative;
	top:-3px;
}

/* rozne */

.spacer20 {
	margin:20px 0;
}

.spacer30 {
	margin:30px 0;
}

a.btn-red,
input.btn-red,
.btn-red {
	font-size: 14px;
	font-family: "Lato";
	color:#fff;
	padding: 8px 45px 8px 15px;
	border: 1px solid #df0024;
	background-color: #df0024;
	border-radius: 3px;
	text-decoration: none;
	position: relative;
	letter-spacing: 1px;
}

a.btn-red:hover,
input.btn-red:hover,
.btn-red:hover {
	background-color: #fff;
	color: #df0024;
}

a.btn-red:after,
input.btn-red:after,
.btn-red:after {
	margin-left: 9px;
	content: "\e039";
	font-family: "Material Icons";
	font-size: 24px;
	position: absolute;
	top:4px;
}

/* bottom */

.bottom-wrap .bottom-title,
.bottom-wrap .menu-title {
	font-family: "Lato";
	font-size: 20px;
	color: #df0024;
	margin-bottom: 20px;
	font-weight: bold;
}

.bottom-wrap .menu-wrap a {
	text-decoration: none;
	color: #424242;
	text-transform: capitalize;
	padding: 3px 0px;
	font-size: 13px;
	display: inline-block;
	transition: all .2s ease-in-out;
}

.bottom-wrap .menu-wrap a:hover{
	color: #df0024;
}

.bottom-wrap .bottom-address{
	font-size: 13px;
}

.bottom-wrap .bottom-address td{
	line-height: 150%;
    padding-bottom: 10px;
}

.bottom-wrap .bottom-address td i{
	font-size: 28px;
}

.bottom-wrap .bottom-address td a{
	font-weight: bold;
	color: #424242;
	text-decoration: none;
}

.bottom-wrap .bottom-address td a:hover{
	color: #df0024;
}

.bottom-wrap .contact-form input,
.bottom-wrap .contact-form textarea {
	width: 100%;
	font-size: 12px;
	color: #7b7b7b;
	border: none;
}

.bottom-wrap .contact-form input {
	margin-bottom: 15px;
	height: 25px;
	padding: 0 5px;
	width:90%;
}

.bottom-wrap .contact-form textarea {
	padding: 5px;
	width:90%;
}

.contact-form .md-button {
	color:#fff;
	background-color: #bd0724;
	margin: 15px 0 0 0;
	border: 1px solid #bd0724;
	padding: 0 15px;
	max-height: normal;
}

.contact-form md-icon {
	color:#fff;
	margin-left: 10px;
}

.contact-form .md-button:hover {
	color: #bd0724;
	background-color: #fff;
	border: 1px solid #bd0724;
}

.contact-form .md-button:hover md-icon {
	color: #bd0724;
}


/* contact page */

.contact-wrap .contact-form input,
.contact-wrap .contact-form textarea {
	width: 80%;
	font-size: 12px;
	color: #424242;
	border: none;
	background-color: #eee;
}

.contact-wrap .contact-form input {
	margin-bottom: 15px;
	height: 30px;
	padding: 0 10px;
}

.contact-wrap .contact-form textarea {
	padding: 10px 10px;
}

.contact-wrap .title3 {
	color:#df0024;
	font-weight: bold;
	margin:0 0 15px 15px;
}

.contact-dzialy{
	text-align: center;
	font-size: 17px;
	line-height: 150%;
}

.contact-dzialy a{
	text-decoration: none;
	font-weight: bold;
	color: #424242;
}

.contact-dzialy a:hover{
	color: #df0024;
}

.contact-dzialy .title2{
	font-size: 22px;
	color: #df0024;
	margin-top: 15px;
}

.contact-dzialy i{
	vertical-align:middle;
	padding-right: 7px;
}

.contact-dzialy .layout-column div{
	padding-bottom: 10px;
}

.main-contact-info{
	font-size: 18px;
}

.main-contact-info > .title2{
	font-size: 25px;
}

.main-contact-info a{
	text-decoration: none;
	font-weight: bold;
	color: #424242;
}

.main-contact-info a:hover{
	color: #df0024;
}

.main-contact-info td{
	padding-bottom: 15px;
}

.main-contact-info td i{
	padding-right: 10px;
	font-size: 30px;
}

table.table-striped {
	border-collapse: collapse;
}

table.table-striped td {
	border:1px solid #cfcfcf;
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

table.table-striped tr:first-child {
	font-weight: bold;
	font-size: 1.1em;
	height: 65px;
}

table.table-striped tr:nth-child(even) {
	background-color: #f7f7f7;
}

/* login/register */

.login-wrap label,
.userpanel label,
.register-wrap label{
	display: block;
	color: #545454;
	margin-bottom: 10px;
}

.login-wrap input.field,
.userpanel input.field,
.register-wrap input.field {
	color:#545454;
	height: 25px;
	border: 1px solid #cfcfcf;
	border-radius: 3px;
	margin-bottom: 25px;
	padding: 4px 5px;
	font-size: 14px;
	width: 70%;
}

.login-wrap .btn-red,
.register-wrap .btn-red {
	font-size: 18px;
	padding: 8px 15px;
	margin-right: 15px;
}

.login-wrap .error-wrap {
	margin-bottom: 20px;
}

.login-wrap .error {
	font-weight: bold;
	margin-bottom: 5px;
}


.login-wrap a,
.register-wrap a {
	text-decoration: none;
	color: #df0024;
}

.register-wrap .error-wrap {
	position: relative;
	top:-15px;
	margin-bottom: 5px;
	color: #df0024;
}

.cookie-wrap {
	position: fixed;
	bottom: 5px;
	right: 5px;
	border: 1px solid #5f5f5f;
	background-color: #fff;
	padding: 0px 15px 10px 15px;
	width: 300px;
	z-index: 50;
}

.cookie-wrap md-icon {
	cursor:pointer;
}


.item-list-head >div{
	background-color: #f5f5f5;
	border: 1px solid #e7e7e7;
	font-weight: bold;
	padding: 10px 10px;
}

.item-list-row >div{
	border: 1px solid #e7e7e7;
	padding: 10px 10px;
}

.item-list-row:nth-child(even) >div {
	background-color: #f5f5f5;
}

.action-btn {
	color:#df0024;
	cursor: pointer;
	margin-right: 10px;
	text-decoration: none;
}

.errors-wrap {
	padding: 20px 25px;
	background-color: coral;
	color: #444;
	font-weight: bold;
	font-size: 15px;
	border: 1px solid #444;
	line-height: 1.8em;
	margin-bottom: 30px;
}

.pagination  {
	margin: 10px 0;
}

.pagination .md-button {
	padding: 5px 10px;
	margin: 0 2px;
	min-height: initial;
	min-width: initial;
	line-height: 1em;
}

.tinymce-body {
	background-color: #f5f5f5;
}

/* comments */

.comments-wrap {
}

.comments-wrap .comment-item {
	font-size: 13px;
}

.comments-wrap .comment-item .comment-sig {
	font-weight: bold;
}

.comments-wrap md-divider {
	margin-top:20px;
	margin-bottom:30px;
}

/*        */

#news-wrap {
	background-color:#f5f5f5;
	padding:50px 0;
}

#news-wrap .article-row {
	margin: 30px 0;
	padding-bottom: 30px;
	text-align: justify;
	border-bottom: 1px solid #dadada;
}

#news-wrap .article-row .image{
	text-align: center;
}

#news-wrap .article-row .image img{
	width: 80%;
}

#news-wrap .article-row:last-child {
	border: none;
	padding-bottom: 0;
}

#news-wrap .category-title {
	color: #df0024;
	font-size: 30px;
	font-weight: bold;
	font-family: 'Lato';
}

#news-wrap .article-row .content {
	margin-left: 30px;
}

#news-wrap .article-row .title {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 5px;
}

#news-wrap .article-row .intro{
	line-height: 150%;
	font-size: 15px;
}

#news-wrap .article-row .date {
	color: #a4a4a4;
	font-size: 15px;
	margin-bottom: 15px;
}

#news-wrap .article-row .link {
	color: #df0024;
	text-decoration: none;
}