@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext');

html {
	padding: 0;
	margin: 0;
	flex-shrink: 0;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	background-color: #fff;
	color: #424242;
}

button:focus,
div:focus {
	outline:0;
}

.page-top-sm {
	height: 190px;
	background: url('../images/topbg1.jpg') no-repeat top center;
	background-size: cover;
	position: relative;
}

.page-top-xs {
	position: relative;
	background-color: #fff;
}

.top-container{
	width: 1100px;
}

.top-logo{
	float: left;
	width: 280px;
	padding: 0px 15px 0px 0px;
	position: absolute;
	top: 14px;
}

.main-menu {
	font-size: 16px;
	font-family: 'Lato';
	font-weight: 700;
	/*float: right;*/
	padding-top: 10px;
	margin: 0 auto;
	text-align: center;
}

.main-menu a {
	text-decoration: none;
	color: black;
	transition: all .1s ease-in-out;
}

.main-menu .menu-item {
	display: inline-block;
	position: relative;
	padding: 10px;
	transition: all .2s ease-in-out;
}

.main-menu .menu-item:first-child {
}


.main-menu .menu-item .submenu {
	display: none;
	padding: 30px 25px 20px 25px;
	position: absolute;
	top:39px;
	left:0;
	background-color: #df0024;
	opacity: 0.9;
	z-index: 1000;
}

.main-menu .menu-item:hover {
	background-color: #df0024;
}

.main-menu .menu-item:hover a{
	color: #fff;
}

.main-menu .menu-item:hover>.submenu {
	display: flex;
}

.main-menu .subitem {
	padding: 9px 0;
}

.main-menu .subitem a {
	width: 80%;
	border-bottom: 1px solid #f0294a;
	display: block;
	padding-bottom: 5px;
	text-transform: capitalize;
}

.main-menu .subitem:hover a {
	color:#5f5f5f;
}

.main-wrap {
	background-color: #fff;
	min-height: 400px;
}

.end-ribbon {
	background-color: #dadada;
	height: 70px;
}

.end-ribbon a{
	text-decoration: none;
	color: #424242;
}

.end-ribbon a:hover{
	color: #df0024;
}

md-input-container {
	margin: 15px 20px 0 0;
	vertical-align:top;
}

md-input-container .ng-valid +.md-errors-spacer,
md-input-container .ng-untouched +.md-errors-spacer
{
	min-height: 10px;
}

md-switch {
	margin: 0;
}


.grid-sizer .grid-item img:hover{
	cursor: pointer;
}

.slider-wrap .slide-holder .slide-item .flex-100{
width: 100% !important;
display: inline-flex;
}

.title2 {
	font-size: 18px;
	color: #424242;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
}


/* invite */

.invite-content {
	min-width: 350px;
	min-height: 200px;
	padding: 20px;
	font-size: 14px;
}

.invite-title {
	font-size: 16px;
}

.invite-content label {
	display: block;
	font-size: 12px;
}

.invite-content input {
	background-color: #e7e7e7;
	border: medium none;
	border-radius: 3px;
	color: #424242;
	font-size: 12px;
	height: 25px;
	margin-bottom: 20px;
	padding: 3px 15px;
	width: 92%;
}

.invite-content textarea {
	background-color: #e7e7e7;
	border: medium none;
	border-radius: 3px;
	color: #424242;
	font-size: 12px;
	height: 140px;
	margin-bottom: 20px;
	padding: 10px 15px;
	width: 92%;
}

/*  POPRAWKI SAFARI  */

.layout-column{
	display: block;
}


.reminder-wrap .material-icons {
	vertical-align: middle;
}
	
.reminder-notify {
	cursor: pointer;
	position:fixed;
	left:30px;
	bottom:30px;
	padding: 5px 15px;
	border: 1px solid #444;
	background-color: azure;
	z-index: 1;
}

.reminder-notify .material-icons {
	vertical-align: middle;
}