<!doctype html>
<html lang="pl" ng-app="eagfa">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<base href="/">
	<link href="favicon.ico" rel="icon" type="image/ico" />

{% include "@partial/styles.twig" %}
	<link href="css/admin.css?v=4" rel="stylesheet" type="text/css">
{% block header_css %}{% endblock %}

{% include "@partial/scripts.twig" %}
{% block header_js %}{% endblock %}
	<script src="code/app.js"></script>
{% block header_end %}{% endblock %}
</head>
<body ng-cloak>

	<div flex class="top-ribbon" layout="row" layout-align="center center">
		<div class="page-width">
			<a href="/"><img src="/images/logo2.png"></a>
		</div>
	</div>

	<div flex class="page-top-xs md-whiteframe-5dp" layout="row" layout-align="center center" affix affix-class="menu-fixed" affix-options="{placeholder: true}">
		<div class="page-width top-menu" layout="row" layout-align="start center">
			<div>
				<div class="main-menu">
					{& menu({'menuid':app.user.identity.can('administrator')?20:29,'wrapcss':'main-menu','cols':1})|raw &}
				</div>
			</div>
		</div>
	</div>

	<div flex class="main-wrap" layout="row" layout-align="center start" layout-wrap>
		<div class="page-width">
			<div class="headpanel">
				{% if panelIcon %}<md-icon class="material-icons headicon">{& panelIcon &}</md-icon>{% endif %}
				{% if panelTitle %}<span>{& panelTitle &}</span>{% endif %}
			</div>
		</div>
		{% block content %}{% endblock %}
	</div>

	{% include "@partial/reminder.twig" %}

	{% include "@partial/footer.twig" %}

</body>
</html>