<!doctype html>
<html lang="pl" ng-app="eagfa">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<base href="/">
	<link href="favicon.ico" rel="icon" type="image/ico" />

{% include "@partial/styles.twig" %}
	<link href="css/public.css?v=2" rel="stylesheet" type="text/css">
{% block header_css %}{% endblock %}

{% include "@partial/scripts.twig" %}
{% block header_js %}{% endblock %}
	<script src="code/app.js"></script>
{% block header_end %}{% endblock %}
</head>
<body ng-cloak>

	{% block header %}{% endblock %}

	{% block content %}{% endblock %}

	{% if app.user.can('administrator') or app.user.can('merchant') %}
	{% include "@partial/reminder.twig" %}
	{% endif %}

	{% include "@partial/footer.twig" with {'width':app.params.publicWidth} %}
</body>
</html>