{% extends "@layout/public.twig" %}

{% block header %}
	{% include "@partial/top-ribbon.twig" %}
	{% include "@partial/header.twig" with {'headxs':true} %}
{% endblock %}

{% block content %}

<div flex layout="row" layout-align="center center" style="margin-bottom:50px;" layout-wrap>
	<div flex="100" layout="row" layout-align="center center">
	<div style="width:1100px;margin-bottom:20px">
		<div class="headpage">{& model.name &}</div>
	</div>
	</div>
	<div flex="100">
	{& articleList({'catid':model.id,'divid':'news-wrap','more': false,'limit':0})|raw &}
	</div>

</div>

{% include "@partial/newsletter-ribbon.twig" %}
{% include "@partial/bottom.twig" %}
{% endblock %}