{% set name='articles' %}
{% set groupId=app.request.get('group',null) %}

{% extends "@partial/list.twig" %}

{% block controller %}

	$scope.edit=function(id) {
		//zapamietanie obecnych ustawien: group
		$window.location.href="{& path(name~'/edit',{'id':'changeme'})|raw &}".replace('changeme',id);
	}

	$scope.copy=function(id) {
		$window.location.href="{& path(name~'/copy',{'id':'changeme'})|raw &}".replace('changeme',id);
	}

	$scope.delete=function(i) {
		if (confirm("{&t('articles','msg_delconfirm')&}")) {
			$http.post('{& path(name~"/delete") &}',{'id':$scope.rows[i].id},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
			.success(function(data) {
				$scope.rows.splice(i,1);
				$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('articles','msg_deleted')&}"});
			})
			.error(function(data, status, headers) {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
			});
		}
	}

	$scope.setGroup=function(group) {
		if (group==null) {
			$window.location.href="{& path(name~'/index')|raw &}"
		} else {
			$window.location.href="{& path(name~'/index',{'group':'changeme'})|raw &}".replace('changeme',group);
		}
	};

	{% if groupId!=null %}$scope.listTitle+=" &nbsp;&raquo;"+{& groups[groupId]|toJson|raw &}+"&laquo;";{% endif %}

	$scope.findString=function() {
		$scope.getList(1);
	}

{% endblock %}

{% block panel %}
<md-button class="btn-red" ng-href="{& path(name~'/create') &}">{& t('articles','btn_add')&}</md-button><br /><br />

<md-input-container style="width:300px;">
	<label>{& t('articles','find_string') &}</label>
	<input ng-model="f.string">
</md-input-container>
<md-button class="btn-red" ng-click="findString()">{&t('site','search')&}</md-button>

<div class="tabs-btn">
<md-button ng-click="setGroup(null)" class="{&k==groupId?'active'&}">{&t('articles','group_all')&}</md-button>
{% for k,group in groups%}
<md-button ng-click="setGroup({&k&})" class="{&(groupId!=null and k==groupId)?'active'&}">{&group&}</md-button>
{% endfor%}
</div>
{% endblock %}

{% set cols=[
	t('articles','model_id'),
	t('categories','model_name'),
	t('articles','model_title'),
	t('site','label_action')
] %}

{% block rows %}
	<td>{{row.id}}</td>
	<td>{{row.category.name}}</td>
	<td>{{row.title}}</td>
	<td>
		<span class="action-btn" ng-click="edit(row.id)">{& t('site','edit') &}</span>
		<span class="action-btn" ng-click="copy(row.id)">{& t('site','copy') &}</span>
		<span class="action-btn" ng-click="delete($index)" ng-if="row.removable">{& t('site','delete') &}</span>
	</td>
{% endblock %}