{% extends "@layout/public.twig" %}

{% block header_css %}
	<link href="css/articles.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
	{% include "@partial/top-ribbon.twig" %}
	{% include "@partial/header.twig" with {'headxs':true} %}
{% endblock %}

{% block content %}

<script type="text/javascript">
app.run(['$anchorScroll', function($anchorScroll) {
	$anchorScroll.yOffset = 200;
}]);
app.controller('pageController',function($scope,$filter,$location,$anchorScroll) {
	$scope.expand=[];
	$scope.subpages=[];

	$scope.subexpand=function(i,p) {
		if (angular.isArray($scope.subpages[p])) {
			angular.forEach($scope.subpages[p],function(item){
				$scope.expand[item]=false;
			});
		}
		$scope.expand[i]=true;
	}

	{% if part %}
	$scope.expand[{&part-1&}]=true;
	$location.hash('section{&part&}');
	$anchorScroll();
	{% endif %}
}); //end controller
</script>

<div flex layout="row" layout-align="center center" style="margin-bottom:50px;">
	<div class="page-wrap">
		<div class="headpage">{& model.title &}</div>

		{% if model.full|length==0 %}<div class="article-intro">{&model.intro|raw&}</div>{% endif %}

		<div ng-controller="pageController" class="article article-{&model.id&}">
		{% if model.pages|length>1 %}
			{% for page in model.pages %}
			<div class="article-section" id="section{&loop.index&}">
				<div layout="row" layout-align="space-between center" class="article-section-head">
					<div class="group-title" ng-class="{'group-title-active':expand[{& page.index &}]==true}">{&page.title|raw&}</div>
					<div class="more">
						<md-button ng-click="expand[{& page.index &}]=true" ng-if="expand[{& page.index &}]==false||expand[{& page.index &}]==undefined||expand[{& page.index &}]==null">{&t('site','more')&} <md-icon class="material-icons">&#xE5CF;</md-icon></md-button>
						<md-button ng-click="expand[{& page.index &}]=false" ng-if="expand[{& page.index &}]==true">{&t('site','less')&} <md-icon class="material-icons">&#xE5CE;</md-icon></md-button>
					</div>
				</div>
				<div ng-show="expand[{& page.index &}]==true" class="article-section-body expanded">
					{& page.body|raw &}
					{% if page.subpages|length>0 %}
					<div class="subgroup-head" ng-init="subpages[{&page.index&}]=[];subpages[{&page.index&}].push({&(page.subpages|first).index&});subexpand({&(page.subpages|first).index&})">
					{% for subpage in page.subpages %}
						{% if subpage.title|length>0 %}<md-button ng-click="subexpand({& subpage.index &},{&page.index&})" ng-class="{'active':expand[{&subpage.index&}]}">{&subpage.title|raw&}</md-button>{% endif %}
					{% endfor %}
					</div>
					{% for subpage in page.subpages %}
					<div class="subgroup-body" ng-show="expand[{& subpage.index &}]==true" ng-init="subpages[{&page.index&}].push({&subpage.index&})">
						{& subpage.body|raw &}
						{% if subpage.subpages|length>0 %}
						<md-tabs md-dynamic-height>
							{% for subsubpage in subpage.subpages%}
							<md-tab label="{& subsubpage.title|raw &}">
								 <md-content>{& subsubpage.body|raw &}</md-content>
							</md-tab>
							{% endfor %}
						</md-tabs>
						{% endif %}
					</div>
					{% endfor %}
					{% endif %}
				</div>
				<md-divider class="article-section-line"></md-divider>
			</div>
			{% endfor %}
		{% else %}
			<div class="article-full">{&model.full|raw&}</div>
		{% endif %}
		</div>
	</div>
</div>

{% include "@partial/newsletter-ribbon.twig" %}
{% include "@partial/bottom.twig" %}
{% endblock %}