{% set name='articles' %}

{% extends "@partial/edit.twig" %}

{% block header_end %}
	<script src="/lib/tinymce/tinymce.min.js"></script>
	<script src="/lib/ui-tinymce.js"></script>
{% endblock %}

{% block script %}
app.requires.push('ui.tinymce');
{% endblock %}

{% block controller %}

{% include "@function/filemanager.twig"  with {'path':'list-images'} %}

	$scope.productImg=function(e){
		$scope.openManager(e,$scope.model.image)
		.then(function(item) {
			if (angular.isDefined(item)) $scope.model.image=item;
		});
	}

	$scope.editor= {
		'height':300,
		'relative_urls': false,
		'entity_encoding' : "raw",
		'language': 'pl',
		'schema': "html5",
		'force_p_newlines': false,
		'forced_root_block': '',
		'convert_urls' : 0,
		'image_advtab': true,
		'image_description': false,
		'content_css':[
			'/css/site.css','/css/public.css',
			'https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.css',
			'https://fonts.googleapis.com/icon?family=Material+Icons',
			'https://fonts.googleapis.com/css?family=Oxygen:400,700&subset=latin,latin-ext',
			'https://fonts.googleapis.com/css?family=Advent+Pro:400,600,700&subset=latin,latin-ext'
		],
		'fontsize_formats': "8px 10px 12px 13px 14px 16px 18px 24px 30px 36px 48px",
		'plugins': "visualblocks code image table textcolor link anchor charmap hr pagebreak image filemanager",
		'toolbar': [
			"bold italic underline strikethrough charmap | alignleft aligncenter alignright alignjustify | bullist numlist | filemanager link image hr pagebreak | fontselect | fontsizeselect | forecolor backcolor"
		],
		'menubar': "edit format table view tools",
		'pagebreak_separator': "{& model.pagebreak|raw &}",
		'file_picker_callback': function(callback, value, meta) {
			tinymce.activeEditor.plugins.filemanager.openManager(callback,value,meta);
		},
		'table_class_list': [
			{title: 'Brak', value: ''},
			{title: 'Tabela cen', value: 'table-striped'},
		],
		'extended_valid_elements':'div[flex|class|layout|layout-align|style|id]',
		'body_class':"tinymce-body",
		'setup': function(editor) {
			editor.on("init", function() {
				console.log('init');
			});
		}
	};

	$scope.editor2=angular.copy($scope.editor);
	$scope.editor2.fullpage_default_encoding="UTF-8";
	$scope.editor2.plugins+=" fullpage";
	$scope.editor2.toolbar[0]="bold italic underline strikethrough charmap | alignleft aligncenter alignright alignjustify | bullist numlist | fullpage filemanager link image hr pagebreak | fontselect | fontsizeselect | forecolor backcolor";

{% endblock %}

{% block bottom %}

<md-input-container class="md-block">
	<label>{& t('articles','model_title') &}</label>
	<input ng-model="model.title">
</md-input-container>

<md-input-container class="md-block" ng-if="model.group==1||model.group==3">
	<label ng-if="model.group==1">{& t('articles','model_style') &}</label>
	<label ng-if="model.group==3">{& t('articles','model_style2') &}</label>
	<input ng-model="model.style" aria-label="style css">
</md-input-container>

<div layout="row" layout-align="start start" ng-if="model.group==2||model.group==3">
	<md-input-container>
		<label>{& t('articles','model_image') &}</label>
		<input ng-model="model.image">
	</md-input-container>
	<md-button class="md-raised md-primary" aria-label="{& t('products','btn_addimg')&}" ng-click="productImg($event)">
		<md-icon class="material-icons">image</md-icon>
	</md-button>
	<span ng-if="model.image.length>0">
		<img ng-src="/images/{{model.image}}" style="max-width:120px;" />
	</span>
</div>

<md-input-container class="md-block">
	<label>{& t('articles','model_group') &}</label>
	<md-select ng-model="model.group">
		{% for category in categories %}
		<md-option value="{& category.id &}">{& category.name &}</md-option>
		{% endfor %}
	</md-select>
</md-input-container>

<br />

<div ng-if="model.group==2">
{& t('articles','model_intro') &}
<textarea ng-model="model.intro" ui-tinymce="editor"></textarea>
</div>

<div style="height:20px"></div>
{& t('articles','model_full') &}
<textarea ng-model="model.full" ng-if="model.group==4" ui-tinymce="editor2"></textarea>
<textarea ng-model="model.full" ng-if="model.group!=4" ui-tinymce="editor"></textarea>

<div style="height:50px"></div>
{% endblock %}

{% block partials %}
{% include "@partial/filemanager.twig" %}
{% endblock %}