{% extends "@layout/simply.twig" %}

{% block content %}
<iframe style="width:100%;height:100%" src="http://online.fliphtml5.com/tgyg/jmbg/index.html" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe>
{% endblock %}