{% extends "@layout/public.twig" %}

{% block header %}
	{% include "@partial/top-ribbon.twig" %}
	{% include "@partial/header.twig" with {'headxs':true} %}
{% endblock %}

{% block content %}
	<div flex layout="row" layout-align="center center" class="contact-wrap">
		<div class="page-wrap">
			<div class="headpage">kontakt</div>
			<div layout="column">
				<div layout="row" layout-fill layout-align="space-between start" class="main-contact-info">
					<div flex="nogrow">
						<div class="title2">Siedziba eagfa</div>
						{&article(6)|raw&}
						<br />
						<!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2504.199782885252!2d17.042486615279593!3d51.123222846541054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fe9c489382cb1%3A0x83813ec9fb36d736!2sJedno%C5%9Bci+Narodowej+109%2C+50-001+Wroc%C5%82aw!5e0!3m2!1spl!2spl!4v1455749339209" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>-->
					</div>
					<div flex="5"></div>
					<div flex="nogrow" ng-controller="contactController" layout="column" class="contact-form">
						<div class="title2">{&t('site','cform_title')&}</div>
						<div style="width:340px;">
							<input type="text" ng-model="form.name" placeholder="{&t('site','cform_name')&}">
						</div>
						<div>
							<input type="text" ng-model="form.email" placeholder="{&t('site','cform_email')&}">
						</div>
						<div>
							<input type="text" ng-model="form.phone" placeholder="{&t('site','cform_phone')&}">
						</div>
						<div>
							<textarea ng-model="form.text" placeholder="{&t('site','cform_text')&}"></textarea>
						</div>
						<div layout="row" layout-align="start center">
							<md-button ng-click="send()">{&t('site','send')&} <md-icon class="material-icons">&#xE039;</md-icon></md-button>
						</div>
					</div>
				</div>
				<div layout-fill>
					<md-divider class="spacer20"></md-divider>
				</div>
				<div layout-fill layout="row" layout-align="space-between start" class="contact-dzialy">
					{&article(10)|raw&}
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	app.controller('contactController',function($scope,$http,$mdDialog) {

		$scope.sent=false;
		$scope.form={};

		$scope.send=function() {
			if ($scope.sent) {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_form_alreadysent')&}"});
			} else {
				$http.post('{& path(["site/message"]) &}',$scope.form,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
				.success(function(data) {
					if (data.status==true) {
						$scope.sent=true;
						$scope.form={};
						$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('site','msg_form_sent')&}"});
					} else {
						$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_form_sent')&} "+(data.msg?data.msg:"")});
					}
				})
				.error(function(data, status, headers) {
					$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
				});
			}
		}

		{% include "@function/showmsg.twig" %}

	}); //end controller
	</script>

	{% include "@partial/newsletter-ribbon.twig" %}
	{% include "@partial/bottom.twig" %}
{% endblock %}

