{% extends "@layout/public.twig" %}

{% block header %}
	{% include "@partial/top-ribbon.twig" %}
	{% include "@partial/header.twig" %}
{% endblock %}

{% block content %}
	<div flex layout="row" layout-align="center center">
		<div class="page-wrap" layout="row" layout-align="start center">
			<div style="font-size:24px;">
			{% if exception.getCode()>0 %}{& exception.getCode() &} :: {% endif %}{& exception.getMessage() &}
			</div>
			<!--<table cellpadding="5">
			{# exception.xdebug_message|raw #}
			</table>-->
		</div>
	</div>

	{% include "@partial/newsletter-ribbon.twig" %}
	{% include "@partial/bottom.twig" %}
{% endblock %}