{% extends "@layout/public.twig" %}

{% block header_css %}
	<link href="css/index.css" rel="stylesheet" type="text/css">
	<link href="css/fixes.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block header %}
	{% include "@partial/top-ribbon.twig" %}

	<script type="text/javascript">
	app.controller('homeController',function($scope) {

		$scope.style={};

		$scope.$on('topbackground',function(obj,attr) {
			if (!angular.isDefined(attr) || attr.length==0) attr="topbg1.jpg";
			$scope.style['background-image']="url(/images/"+attr+")";
			//animacja
		});

	}); //homeController
	</script>
<div flex class="page-top-wrap">
	<div flex class="page-top-home" layout="row" layout-align="center end" ng-style="style" layout-wrap ng-controller="homeController">
		<div class="top-menu md-whiteframe-5dp" layout="row" layout-align="center center" flex="100" affix affix-class="menu-fixed">
			<div layout="row" layout-align="start center" class="page-width">
				<div class="top-container">
				<div class="top-logo"><a href="/"><img src="/images/logo.png" style="height:60px;"></a></div>
				{& menu({'menuid':1,'wrapcss':'main-menu'})|raw &}
				</div>
			</div>
		</div>
		<div layout="row" layout-align="center center" class="slider-bg" flex="100">
		{& slider({'catid':3,'limit':3})|raw &}
		</div>
	</div>
</div>
{% endblock %}

{% block content %}

	{& strip({'articleid':1})|raw &}
	{& articleList({'catid':2,'divid':'news-wrap'})|raw &}


	<script type="text/javascript">
	app.controller('commentController',function($scope,$mdDialog,$interval,$http,$window) {

		$scope.timer=undefined;
		$scope.timeout=6000;
		$scope.counter=0;
		$scope.items=[];
		$scope.sent=false;

		$scope.getItems=function() {
			$http.post('{& path(["comments/list"]) &}',{},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
			.success(function(data) {
				if (data.items) {
					$scope.items=data.items;
					$scope.setTimer();
				}
			})
		}

		$scope.showAll=function() {
			$window.location.href="{& path(['comments/all'])|raw &}";
		}

		$scope.setItem=function() {
			if ($scope.counter==$scope.items.length-1) $scope.counter=0;
				else $scope.counter++;
			$scope.setTimer();
		}

		$scope.addItem=function(e) {
			$mdDialog.show({
				controller: function($scope,$http,$mdDialog){

					$scope.message="";

					$scope.send=function(){
						$scope.message="";
						$http.post('{& path(["comments/add"]) &}',{'text':$scope.text,'user':$scope.user},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
						.success(function(data) {
							if (data.saved) $mdDialog.hide(true);
								else $scope.message=data.msg;
						})
						.error(function(data, status, headers) {
							$scope.message="{&t('site','err_bad_response')&}";
						})
					}

					$scope.close=function(){
						$mdDialog.hide();
					}
				},
				templateUrl: 'modalComment',
				parent: angular.element(document.body),
				targetEvent: e,
				clickOutsideToClose:true,
			})
			.then(function(answer) {
				if (answer) $scope.sent=true;
			});
		}

		$scope.setTimer=function() {
			$interval.cancel($scope.timer);
			$scope.timer=$interval($scope.setItem,$scope.timeout,0);
		}

		$scope.getItems();

	}); //commentController
	</script>

	<script type="text/ng-template" id="modalComment">
	<md-dialog aria-label="Dodaj komentarz" style="width:400px">
		<md-dialog-content layout="column" flex style="padding:25px;">
			<div style="font-size:14px;font-weight:bold;margin-bottom:10px;">{&t('comments','btn_add_comm')&}</div>
			<div ng-if="message.length>0" style="margin-bottom:10px;color:#df0024;">{{message}}</div>
			<div>{&t('comments','label_yourtext')&}</div>
			<textarea ng-model="text" style="height:60px;padding:5px;"></textarea>
			<div style="margin-top:10px;">{&t('comments','label_signature')&}</div>
			<input type="text" ng-model="user" style="padding:5px;">
		</md-dialog-content>
		<md-dialog-actions>
			<md-button ng-click="close()" class="md-primary">{&t('site','cancel')&}</md-button>
			<md-button ng-click="send()" class="md-primary">{&t('site','send')&}</md-button>
		</md-dialog-actions>
	</md-dialog>
	</script>

	<div flex layout="row" layout-align="center end" class="comment-wrap">
		<div class="page-width" ng-controller="commentController">
			<div ng-repeat="comment in items" ng-if="counter==$index" class="comment-item" layout-fill>
				<div class="text">" {{comment.text}} "</div>
				<div class="signature" ng-if="comment.sig.length>0">- {{comment.sig}}</div>
			</div>

			<div style="font-size:14px;margin:10px 0;" layout="row" layout-align="space-between center" layout-fill>
				<div>
					<md-button ng-click="showAll($event)">
						<md-icon class="material-icons">forum</md-icon>
						{&t('comments','btn_all_comm')&}
					</md-button>
				</div>
				<div>
					<md-button ng-click="addItem($event)" ng-if="sent==false">
						<md-icon class="material-icons">add_circle_outline</md-icon>
						{&t('comments','btn_add_comm')&}
					</md-button>
					<!--<div ng-if="sent" style="padding:10px;font-size:1.1em;">{&t('comments','label_sent')&}</div>-->
				</div>
			</div>
		</div>
	</div>

	{% include "@partial/modal-full.twig" %}


	<!--{# strip({'articleid':2})|raw #}-->

	{% include "@partial/newsletter-ribbon.twig" %}
	{% set contactform=true %}
	{% include "@partial/bottom.twig" %}

{% endblock %}