{% extends "@layout/public.twig" %}

{% block header %}
	{% include "@partial/top-ribbon.twig" %}
	{% include "@partial/header.twig" %}
{% endblock %}

{% block content %}
	<div flex layout="row" layout-align="center center" class="login-wrap">
		<div class="page-wrap" layout="row" layout-align="start start">
			<div flex="40">
				<div class="headpage">Zaloguj się</div>
				<form method="post" action="{& path(['site/login']) &}">
					<input type="hidden" name="_csrf" value="{& csrf() &}">
					<div>
						{% if model.errors|length>0 and model.scenario=="login" %}
						<div class="error-wrap">
							{% for error in model.errors %}{% for msg in error %}<div class="error">{& msg &}</div>{% endfor %}{% endfor %}
						</div>
						{% endif %}
						<div layout-fill>
							<label>{&t('users','model_email')&}</label>
							<input type="text" name="Users[email]" class="field">
						</div>
						<div layout-fill>
							<label>{&t('users','model_password')&}</label>
							<input type="password" name="Users[password]" class="field">
						</div>
						<div>
							<input type="submit" value="{&t('site','login')&}" class="btn-red">
							<a href="{& path(['site/remind']) &}">{&t('site','remid_pass')&}</a>
						</div>
					</div>
				</form>
			</div>
			<div flex="60">
				<div class="headpage" >Zarejestruj się</div>
				<form method="post" action="{& path(['site/register']) &}">
					<input type="hidden" name="_csrf" value="{& csrf() &}">
					<div>
						<div style="margin-bottom:20px;">
						Nie masz jeszcze konta?<br /> Skorzystaj z formularza szybkiej rejestracji i ciesz się pełną funkcjonalnością naszego serwisu.
						</div>
						{% if model.errors|length>0 and model.scenario=="register" %}
						<div class="error-wrap">
							{% for error in model.errors %}{% for msg in error %}<div class="error">{& msg &}</div>{% endfor %}{% endfor %}
						</div>
						{% endif %}
						<div layout-fill>
							<label>{&t('users','model_firstname')&}</label>
							<input type="text" name="Users[firstname]" value="{&model.firstname&}" class="field">
						</div>
						<div layout-fill>
							<label>{&t('users','model_lastname')&}</label>
							<input type="text" name="Users[lastname]" value="{&model.lastname&}" class="field">
						</div>
						<div layout-fill>
							<label>{&t('users','model_phone')&}</label>
							<input type="text" name="Users[phone]" value="{&model.phone&}" class="field">
						</div>
						<div layout-fill>
							<label>{&t('users','model_email')&}</label>
							<input type="text" name="Users[email]" value="{&model.email&}" class="field">
						</div>
						<div layout-fill>
							<label>{&t('users','model_password')&}</label>
							<input type="password" name="Users[password]" class="field">
						</div>
						<div layout-fill>
							<label>{&t('users','password2')&}</label>
							<input type="password" name="Users[password2]" class="field">
						</div>
						<div>
							<input type="submit" value="{&t('site','register')&}" class="btn-red">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	app.controller('contactController',function($scope,$http,$mdDialog) {


		{% include "@function/showmsg.twig" %}

	}); //end controller
	</script>

	{% include "@partial/newsletter-ribbon.twig" %}
	{% include "@partial/bottom.twig" %}
{% endblock %}