{% extends "@layout/public.twig" %}
{% from "@partial/macros.twig" import error as err %}

{% block header %}
	{% include "@partial/top-ribbon.twig" %}
	{% include "@partial/header.twig" %}
{% endblock %}

{% block content %}
	<div flex layout="row" layout-align="center center" class="register-wrap">
		<div class="page-wrap">
			<div class="headpage" >Zarejestruj się</div>
			<div layout="row" layout-align="start start">
				<div flex="50">
					<form method="post" action="{& path(['site/register']) &}">
						<input type="hidden" name="_csrf" value="{& csrf() &}">
						<div style="width:450px;">
							<div layout-fill>
								<label>{&t('users','model_firstname')&}</label>
								<input type="text" name="Users[firstname]" value="{&model.firstname&}" class="field">
								{& err(model.errors.firstname) &}
							</div>
							<div layout-fill>
								<label>{&t('users','model_lastname')&}</label>
								<input type="text" name="Users[lastname]" value="{&model.lastname&}" class="field">
								{& err(model.errors.lastname) &}
							</div>
							<div layout-fill>
								<label>{&t('users','model_phone')&}</label>
								<input type="text" name="Users[phone]" value="{&model.phone&}" class="field">
								{& err(model.errors.phone) &}
							</div>
							<div layout-fill>
								<label>{&t('users','model_email')&}</label>
								<input type="text" name="Users[email]" value="{&model.email&}" class="field">
								{& err(model.errors.email) &}
							</div>
							<div layout-fill>
								<label>{&t('users','model_password')&}</label>
								<input type="password" name="Users[password]" class="field">
								{& err(model.errors.password) &}
							</div>
							<div layout-fill>
								<label>{&t('users','password2')&}</label>
								<input type="password" name="Users[password2]" class="field">
								{& err(model.errors.password2) &}
							</div>
							<div>
								<input type="submit" value="{&t('site','register')&}" class="btn-red">
							</div>
						</div>
					</form>
				</div>
				<div flex="50">
					{#model.errors|toJson|raw#}
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	app.controller('contactController',function($scope,$http,$mdDialog) {


		{% include "@function/showmsg.twig" %}

	}); //end controller
	</script>

	{% include "@partial/newsletter-ribbon.twig" %}
	{% include "@partial/bottom.twig" %}
{% endblock %}