{% extends "@layout/public.twig" %}

{% block header %}
	{% include "@partial/top-ribbon.twig" %}
	{% include "@partial/header.twig" %}
{% endblock %}

{% block content %}
	<div flex layout="row" layout-align="center center">
		<div class="page-wrap">
			<div class="headpage">Przypomnij hasło</div>
			<div ng-controller="remindController" class="login-wrap">
				<div style="margin-bottom:30px">
					Wpisz poniżej e-mail wykorzystywany do logowania, a otrzymasz na tą skrzynkę wiadomość z instrukcją zmiany hasła.
				</div>
				<div style="width:300px">
					<label>{&t('users','model_email')&}</label>
					<input type="text" ng-model="form.email"  class="field">
				</div>
				<input type="button" ng-click="send()" class="btn-red" value="{&t('site','send')&}">
			</div>
		</div>
	</div>

	<script type="text/javascript">
	app.controller('remindController',function($scope,$http,$mdDialog) {
		$scope.form={};

		$scope.send=function() {
			$http.post('{& path(["site/remind"]) &}',$scope.form,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
			.success(function(data) {
				if (data.status==true) {
					$scope.form={};
					$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('site','msg_pass_remind')&}"});
				} else {
					$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_pass_remind')&} "+(data.msg?data.msg:"")});
				}
			})
			.error(function(data, status, headers) {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
			});
		}

		{% include "@function/showmsg.twig" %}

	}); //end controller
	</script>
	{% include "@partial/newsletter-ribbon.twig" %}
	{% include "@partial/bottom.twig" %}
{% endblock %}