{% extends "@layout/public.twig" %}

{% block header %}
	{% include "@partial/top-ribbon.twig" %}
	{% include "@partial/header.twig" %}
{% endblock %}

{% block content %}
	<div flex layout="row" layout-align="center center">
		<div class="page-wrap">
			<div class="headpage">Zmień hasło</div>
			<div ng-controller="remindController" class="login-wrap">
				<div style="margin-bottom:30px">
					Wprowadź nowe hasło dla swojego konta.
				</div>
				<div style="width:300px">
					<label>{&t('users','password_new')&}</label>
					<input type="password" ng-model="form.password" class="field">
				</div>
				<div style="width:300px">
					<label>{&t('users','password2')&}</label>
					<input type="password" ng-model="form.password2" class="field">
				</div>
				<input type="button" ng-click="send()" class="btn-red" value="{&t('site','change')&}">
			</div>
		</div>
	</div>

	<script type="text/javascript">
	app.controller('remindController',function($scope,$http,$mdDialog,$window) {

		$scope.form={
			'hash':{&hash|toJson|raw&}
		};

		$scope.send=function() {
			$http.post('{& path(["site/reset"]) &}',$scope.form,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
			.success(function(data) {
				if (data.status==true) {
					$scope.form={};
					$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('site','msg_pass_reset')&}"});
					$window.location.href="{& path(['site/login'])&}";
				} else {
					$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_pass_reset')&} "+(data.msg?data.msg:"")});
				}
			})
			.error(function(data, status, headers) {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
			});
		}

		{% include "@function/showmsg.twig" %}

	}); //end controller
	</script>
	{% include "@partial/newsletter-ribbon.twig" %}
	{% include "@partial/bottom.twig" %}
{% endblock %}