{% set name='orders' %}

{% extends "@partial/list.twig" %}

{% block controller %}

	$scope.show=function(id) {
		$window.location.href="{& path(name~'/show',{'id':'changeme'})|raw &}".replace('changeme',id);
	}

	$scope.showUser=function(id) {
		$window.location.href="{& path('users/show',{'id':'changeme'})|raw &}".replace('changeme',id);
	}

	$scope.setStatus=function(status) {
		$scope.f.status=status;
		$scope.getList(1);
	};


	$scope.statuses={&statuses|toJson|raw&}
	$scope.baseTitle=angular.copy($scope.listTitle);

	$scope.updateTitle=function(){
		if (angular.isDefined($scope.f.status)) {
			{% if group!=null %}
			$scope.listTitle=angular.copy($scope.baseTitle)+" &nbsp;&raquo;"+$scope.statuses[$scope.f.status]+"&laquo; handlowca &raquo;"+{&group.name|toJson|raw&}+"&laquo;"
			{% else %}
			$scope.listTitle=angular.copy($scope.baseTitle)+" &nbsp;&raquo;"+$scope.statuses[$scope.f.status]+"&laquo;";
			{% endif %}
		} else {
			{% if group!=null %}
			$scope.listTitle=angular.copy($scope.baseTitle)+" handlowca &raquo;"+{&group.name|toJson|raw&}+"&laquo;";
			{% else %}
			$scope.listTitle=angular.copy($scope.baseTitle);
			{% endif %}
		}
	}

	$scope.$watch("f.status", $scope.updateTitle);
	{% if group!=null %}$scope.updateTitle();{% endif %}

	$scope.period={};

	$scope.findPeriod=function() {
		if ($scope.prepDate('start')) $scope.f.start=$scope.prepDate('start')+" 00:00:00";
			else delete $scope.f.start;
		if ($scope.prepDate('end')) $scope.f.end=$scope.prepDate('end')+" 23:59:59";
			else delete $scope.f.end;

		$scope.getList(1);
	}

	$scope.findId=function() {
		$scope.getList(1);
	}

	$scope.prepDate=function(d) {
		if ($scope.period[d]==null||!angular.isDefined($scope.period[d])) return '';
		var dt=new Date($scope.period[d]);
		return dt.getFullYear()+"-"+('0'+(dt.getMonth()+1)).slice(-2)+"-"+('0'+dt.getDate()).slice(-2);
	}

	$scope.minDate=function(date) {
		if (angular.isDefined($scope.period.end)) {
			return date > $scope.period.end ? false : true;
		} else {
			return true;
		}
	}

	$scope.maxDate=function(date) {
		return (date<$scope.period.start||date>Date.now())?false:true;
	}

{% endblock %}

{% block panel %}
<md-datepicker ng-model="period.start" md-date-filter="minDate" md-placeholder="Data od"></md-datepicker>
<md-datepicker ng-model="period.end" md-date-filter="maxDate" md-placeholder="Data do"></md-datepicker>
<md-button class="btn-red" ng-click="findPeriod()" style="margin-left:10px;">{&t('site','search')&}</md-button>

<md-input-container style="width:150px;vertical-align: bottom;margin-left:40px;margin-right:10px">
	<label>{& t('orders','find_byid') &}</label>
	<input ng-model="f.id">
</md-input-container>
<md-button class="btn-red" ng-click="findId()" style="vertical-align: bottom;">{&t('site','search')&}</md-button>

<div class="tabs-btn">
<md-button ng-click="setStatus(undefined)" ng-class="{'active':f.status==undefined}">{&t('orders','status_all')&}</md-button>
{% for k,status in statuses%}
<md-button ng-click="setStatus({&k&})" ng-class="{'active':f.status=={&k&}}">{&status&}</md-button>
{% endfor%}
</div>
{% endblock %}

{% block summary %}
<div style="margin-left:20px;">Suma brutto: {{summary.brutto}} PLN</div>
{% endblock%}

{% set sort=[
	null,'created'
] %}
{% set cols=[
	t('orders','model_id'),
	t('orders','model_created'),
	t('orders','model_user'),
	t('orders','model_status'),
	t('orders','model_brutto'),
	t('site','label_action')
] %}

{% block rows %}
	<td>{{row.id}}</td>
	<td>{{row.created}}</td>
	<td><span ng-class="{'deleted-user':!row.user}">{{row.user_name}}</span> <i class="material-icons vip-badge" ng-if="row.user.vip">verified_user</i></td>
	<td ng-style="{'color':'#'+row.statusData.color}"><md-icon class="material-icons" ng-style="{'color':'#'+row.statusData.color}">{{row.statusData.icon}}</md-icon> {{row.statusLabel}}</td>
	<td>{{row.brutto}}</td>
	<td>
		<span class="action-btn" ng-click="show(row.id)">{& t('orders','btn_show') &}</span>
		<span class="action-btn" ng-if="row.user" ng-click="showUser(row.user.id)">{&t('orders','btn_client')&}</span>
	</td>
{% endblock %}

{% block bottom%}
{% endblock %}