{% set name='orders' %}

{% extends "@layout/admin.twig" %}

{% block content %}
<script type="text/javascript">
app.controller('showController',function($scope,$window,$http,$mdDialog) {

	$scope.statuses={&statuses|toJson|raw&};
	$scope.status={&model.status&};

	{% if app.user.identity.can('administrator') %}
	$scope.setStatus=function(status) {
		var confirm=$mdDialog.confirm()
		.title('{&t("site","title_ask")&}')
		.textContent('{&t("orders","msg_stat_send")&}')
		.ok('{&t("site","yes")&}')
		.cancel('{&t("site","no")&}');

		$mdDialog.show(confirm).then(function() {
			$scope.statusSave(status,true);
		}, function() {
			$scope.statusSave(status,false);;
		});
	}

	$scope.statusSave=function(status,mode) {
		$http.post('{& path("orders/status") &}',{'id':{&model.id&},'status':status,'mode':mode},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			if (data.delete) $scope.deleted=true;
			if (data.saved==true) {
				$scope.status=status;
			} else {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('orders','err_stat_not_saved')&}"});
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		});
	}
	{% endif %}


{% include "@function/showmsg.twig" %}

	$scope.delete=function() {
		if (confirm("{&t('orders','msg_delconfirm')&}")) {
			$http.post('{& path(name~"/delete") &}',{'id':{&model.id&}},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
			.success(function(data) {
				if (data.delete) {
					$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('orders','msg_deleted')&}"});
					$window.location.href="{& path(name~'/index')&}";
				} else {
					$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('orders','err_deleted')&}"});
				}
			})
			.error(function(data, status, headers) {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
			});
		}
	}

	$scope.delFiles=function() {
		if (confirm("{&t('files','msg_confirm_delall')&}")) {
			$http.post('{& path(name~"/delfiles",{"id":model.id}) &}',{},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
			.success(function(data) {
				if (data.delete) {
					$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('files','msg_deletedall')&}"});
					$scope.deleted=true;
				} else {
					$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('files','err_deletedall')&}"});
				}
			})
			.error(function(data, status, headers) {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
			});
		}
	}

}); //end controller
</script>

<div ng-controller="showController" class="page-width content-wrap admin-order">
	<div layout="row" style="height:30px;" layout-align="space-between center">
		<div style="font-size:14px;font-weight:bold;">{&t('orders','label_orderid')&} {&model.id&}</div>
		{% if app.user.identity.can('administrator') %}
		<div>
			<md-button class="btn-red" ng-if="status<0" ng-click="delete()">{&t('site','delete')&}</md-button>
			<md-menu>
				<md-button class="btn-red" ng-click="$mdOpenMenu($event)">{&t('orders','btn_status')&}</md-button>
				<md-menu-content width="4">
					{% for k,status in statuses %}
					<md-menu-item>
						<md-button ng-click="setStatus({&k&})">{&status&}</md-button>
					</md-menu-item>
					{% endfor %}
				</md-menu-content>
			</md-menu>
		</div>
		{% endif %}
	</div>
	<div class="subtitle">{&t('orders','label_data')&}</div>
	<div layout="row" class="item-list-head">
		<div flex>{&t('orders','model_status')&}</div>
		<div flex>{&t("orders","model_created")&}</div>
		<div flex>{&t("orders","label_payment")&}</div>
		<div flex>{&t("orders","label_shipping")&}</div>
		<div flex>{&t("orders","label_invoice")&}</div>
		<div flex>{&t("orders","label_coupons")&}</div>
	</div>
	<div>
		<div layout="row" class="item-list-row">
			<div flex>
				<md-icon class="material-icons" style="color:#{&model.statusData.color&}">{&model.statusData.icon&}</md-icon>
				<span style="color:#{&model.statusData.color&}">{&model.statusLabel&}</span>
			</div>
			<div flex>{&model.created&}</div>
			<div flex>{&model.paymentLabel&}</div>
			<div flex>{&model.shippingLabel&}</div>
			<div flex>{&model.invoiceLabel&}</div>
			<div flex>{% if model.params.couponDiscount>0 %}{&model.params.couponDiscount&} PLN / {&model.params.coupons|length&} szt. {%else%}brak{% endif %}</div>
		</div>
	</div>

	<div style="height:20px;"></div>

	<div class="subtitle">{&t('orders','label_user')&}</div>
	<div class="user-data" layout="row">
		<div flex="33">
			<div>{&t('users','name')&}: {&model.user_name&}</div>
			{% if model.user %}
			<div>{&t('users','model_email')&}: {&model.user.email&}</div>
			<div>{&t('users','model_phone')&}: {&model.user.phone&}</div>
			<div><a class="more-link" href="{&path('users/show',{'id':model.user.id})&}" target="_blank">{&t('orders','client')&}</a></div>
			{% else %}
			<div>UŻYTKOWNIK USUNIĘTY</div>
			{% endif %}
		</div>
		<div flex="33">
			<div>{&t('orders',(model.params.ship.type==1?'label_colladdr':'label_shipaddr'))&}:</div>
			<div>{&nl2br(model.location)|raw&}</div>
		</div>
		<div flex="33">
			<div>{&t('orders','label_invoice_data')&}:</div>
			<div>{&nl2br(model.invoiceData)|raw&}</div>
		</div>
	</div>

	{% if model.params.notice|length>0 %}
	<div class="subtitle">{&t('orders','label_notice')&}</div>
	<div style="margin-bottom:30px;">{&model.params.notice&}</div>
	{% endif %}
	
	<div class="subtitle">{&t('orders','label_items')&}</div>
	<div layout="row" class="item-list-head">
		<div flex="15">{&t('orders','label_product')&}</div>
		<div flex="55">{&t('orders','label_config')&}</div>
		<div flex="5">{&t('orders','label_amount')&}</div>
		<div flex="10">{&t('orders','label_itemprice')&}</div>
		<div flex="5">{&t('orders','label_discount')&}</div>
		<div flex="10">{&t('orders','label_price2')&}</div>
	</div>
	<div>
	{% for item in model.items %}
	<div layout="row" class="item-list-row">
		<div flex="15">{&item.category&} {&item.name&}</div>
		<div flex="55">{% for param in toArray(item.config) %} <i>{&param.name&}:</i> <b>{&param.value|join(", ")&}</b>{& loop.last?"":" | "&}{% endfor %}</div>
		<div flex="5">{&item.amount&}</div>
		<div flex="10">{&item.price&} PLN</div>
		<div flex="5">{&item.discount&}%</div>
		<div flex="10">{&item.price2?item.price2:item.price&} PLN</div>
	</div>
	{% endfor %}
	</div>
	<div layout="row" layout-align="end center" class="item-list-row">
		<div flex="15">
			{% if model.params.shipCost>0 %}{&t('orders','label_shipcost')&}: &nbsp; + {&model.params.shipCost|default(0)&} PLN<br />{% endif %}
			{% if model.params.couponDiscount>0 %}{& t('orders','label_discount') &}: &nbsp; - {& model.params.couponDiscount &} PLN<br />{% endif %}
			{&t('orders','label_total')&}: &nbsp; <span style="color:#df0024;font-size:14px;">{& model.brutto &} PLN</span>
		</div>
	</div>

	{% if model.projects|length>0 %}
	<md-divider style="margin:30px 0;"></md-divider>
	<div class="subtitle">{&t('orders','list_projects')&}</div>
	<div layout="row" layout-fill layout-wrap>
	{% for item in model.items %}
		{% set pi=loop %}
		{% for project in model.projects[pi.index0] %}
		<div flex="25" style="border:1px solid #f5f5f5;padding:10px;">
			<div style="font-size:1.2em;">{&pi.index&}) {&item.category&} {&item.name&}</div>
			<strong>Dostawca:</strong> {& project.provider &}<br />
			{% if project.mode=='project' %}
			<strong>Nazwa projektu:</strong> {&project.name&}<br />
			<strong>Rozmiary:</strong> {&project.width&} mm x {&project.height&} mm<br />
			{% endif %}
			{% if project.mode=='print' %}
			{% for printpos in model.zalamoPrintValues(pi.index0,loop.index0) %}
				{% for kp,vp in printpos %}
				{& kp &}: {&vp &}{& loop.last?"":"," &}
				{% endfor %}
				{% if not loop.last %}<hr />{% endif %}
			{% endfor %}
			{% endif %}<br />
			<a href="{&model.projectUrl(project)&}" target="_blank" class="action-btn">{&t('orders','btn_download')&}</a>
		</div>
		{% endfor %}
	{% endfor %}
	</div>
	{% endif %}

	{% if model.user and model.files|length>0 %}
	<div layout="row" layout-align="start start" style="margin-top:30px;margin-bottom:25px;" ng-hide="deleted">
		<div class="subtitle">{&t('orders','list_files')&}</div>
		<div flex="5"></div>
		<md-button class="btn-red" ng-click="delFiles()" ng-if="status<0||status>=1">{&t('files','delete_files')&}</md-button>
	</div>
	<div ng-hide="deleted">
		{& t('orders','files_amount')&}: {& model.files|length &}
		{% for item in model.files %}
		<div class="item-list-row" layout="row" layout-fill>
			<div flex="5"><md-icon class="material-icons">{&item.dir?'folder':'insert_drive_file'&}</md-icon></div>
			<div flex="70">{&item.name&}</div>
			<div flex="10">{&(item.size/1024/1024)|number_format(2)&} MB</div>
			<div flex="15"><a ng-href="{& path('orders/get',{'id':model.id,'name':item.name}) &}" class="more-link" target="_blank">{&t('site','download')&}</a></div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
</div>
{% endblock %}