{% set name='categories' %}
{% set typeId=app.request.get('type',null) %}

{% extends "@partial/list.twig" %}

{% block controller %}

	$scope.edit=function(id) {
		$window.location.href="{& path(name~'/edit',{'id':'changeme'})|raw &}".replace('changeme',id);
	}

	$scope.delete=function(i) {
		if (confirm("{&t('categories','msg_delconfirm')&}")) {
			$http.post('{& path(name~"/delete") &}',{'id':$scope.rows[i].id},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
			.success(function(data) {
				if (data.delete) {
					$scope.rows.splice(i,1);
					$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('categories','msg_deleted')&}"});
				} else {
					$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('categories','err_readonly')&}"});
				}
			})
			.error(function(data, status, headers) {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
			});
		}
	}

	$scope.setType=function(type) {
		if (type==null) {
			$window.location.href="{& path(name~'/index')|raw &}"
		} else {
			$window.location.href="{& path(name~'/index',{'type':'changeme'})|raw &}".replace('changeme',type);
		}
	};

	{% if typeId!=null %}$scope.listTitle+=" &nbsp;&raquo;"+{&types[typeId]|toJson|raw&}+"&laquo;";{% endif %}

{% endblock %}

{% block panel %}
<md-button class="btn-red" ng-href="{& path(name~'/create') &}">{& t('products','btn_add')&}</md-button>

<div class="tabs-btn">
<md-button ng-click="setType(null)" class="{&k==typeId?'active'&}">{&t('categories','type_all')&}</md-button>
{% for k,type in types%}
<md-button ng-click="setType({&k&})" class="{&(typeId!=null and k==typeId)?'active'&}">{&type&}</md-button>
{% endfor%}
</div>
{% endblock %}

{% set cols=[
	t('categories','model_id'),
	t('categories','model_name'),
	t('categories','model_type'),
	t('site','label_action')
] %}

{% block rows %}
	<td>{{row.id}}</td>
	<td>{{row.name}}</td>
	<td>{{row.typeLabel}}</td>
	<td>
		<span class="action-btn" ng-click="edit(row.id)">{& t('site','edit') &}</span>
		<span class="action-btn" ng-if="row.childs==0" ng-click="delete($index)">{& t('site','delete') &}</span>
	</td>
{% endblock %}

{% block bottom%}
{% endblock %}