{% set name='categories' %}

{% extends "@partial/edit.twig" %}

{% block controller %}

{% include "@function/filemanager.twig"  with {'path':'list-images'} %}

	$scope.categoryImg=function(e){
		$scope.openManager(e,$scope.model.foto)
		.then(function(item) {
			if (angular.isDefined(item)) $scope.model.foto=item;
		});
	}

{% endblock %}

{% block bottom %}
<md-input-container class="md-block">
	<label>{&t('categories','model_type')&}:</label><br />
	<md-select ng-model="model.type">
		{% for k,name in types %}
		<md-option value="{&k&}">{& name &}</md-option>
		{% endfor %}
	</md-select>
</md-input-container>

<md-input-container class="md-block">
	<label>{& t('categories','model_name') &}</label>
	<input ng-model="model.name">
</md-input-container>

<md-input-container class="md-block" ng-if="model.type==0">
	<label>{& t('categories','model_subtitle') &}</label>
	<input ng-model="model.subtitle">
</md-input-container>

<div layout="row" layout-align="start start" ng-if="model.type==0">
	<md-input-container>
		<label>{& t('categories','model_foto') &}</label>
		<input ng-model="model.foto">
	</md-input-container>
	<md-button class="md-raised md-primary" aria-label="{& t('products','label_addimg')&}" ng-click="categoryImg($event)">
		<md-icon class="material-icons">image</md-icon>
	</md-button>
	<span ng-if="model.foto.length>0">
		<img ng-src="/images/{{model.foto}}" style="max-width:120px;" />
	</span>
</div>

<md-input-container class="md-block" ng-if="model.type==0">
	<label>{& t('categories','model_sort') &}</label>
	<input ng-model="model.sort">
</md-input-container>

{#
<md-input-container class="md-block" ng-if="model.type==0">
	<label>{& t('categories','model_sort') &}</label>
	<md-select ng-model="model.sort">
		<md-option ng-repeat="item in model.siblings" ng-value="{{item.id}}">
		{{item.name}}
		</md-option>
	</md-select>
</md-input-container>
#}

<div ng-if="model.type==0">
{& t('categories','model_intro') &}
<textarea ng-model="model.intro" style="height:250px;width:100%;"></textarea>
</div>
{% endblock %}

{% block partials %}
{% include "@partial/filemanager.twig" %}
{% endblock %}