<div flex layout="row" layout-align="center center" class="bottom-wrap">
	<div class="page-width" layout="row" layout-align="start start">
		<div flex="30" layout="column" layout-align="end start">
			{% if contactform %}
			<div ng-controller="contactController" layout="column" class="contact-form" layout-fill>
				<div class="bottom-title">{&t('site','cform_title')&}</div>
				<div>
					<input type="text" ng-model="form.name" placeholder="{&t('site','cform_name')&}">
				</div>
				<div>
					<input type="text" ng-model="form.email" placeholder="{&t('site','cform_email')&}">
				</div>
				<div>
					<input type="text" ng-model="form.phone" placeholder="{&t('site','cform_phone')&}">
				</div>
				<div>
					<textarea ng-model="form.text" placeholder="{&t('site','cform_text')&}"></textarea>
				</div>
				<div layout="row" layout-align="start center">
					<md-button ng-click="send()">{&t('site','send')&} <md-icon class="material-icons">&#xE039;</md-icon></md-button>
				</div>
			</div>

			<script type="text/javascript">
			app.controller('contactController',function($scope,$http,$mdDialog) {

				$scope.sent=false;
				$scope.form={};
				$scope.send=function() {
					if ($scope.sent) {
						$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_form_alreadysent')&}"});
					} else {
						$http.post('{& path(["site/message"]) &}',$scope.form,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
						.success(function(data) {
							if (data.status) {
								$scope.sent=true;
								$scope.form={};
								$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('site','msg_form_sent')&}"});
							} else {
								$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':data.msg});
							}
						})
						.error(function(data, status, headers) {
							$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
						});
					}
				}

				{% include "@function/showmsg.twig" %}

			}); //end controller
			</script>

			{% else %}
			<div style="text-align:center;">
				{&article(3)|raw&}
			</div>
			{% endif %}
		</div>
		<div flex="5"></div>
		<div flex="20" class="bottom-address">
			<div class="bottom-title">{&t('site','title_fastcontact')&}</div>
			<div style="text-align:justify;">
				{&article(11)|raw&}
			</div>
		</div>
		<div flex="15">
		{#& menu({'menuid':3,'wrapcss':'menu-wrap','children':false,'title':true,'multi':true,'colwidth':0})|raw &#}
		{& menu({'menuid':41,'wrapcss':'menu-wrap','children':false,'title':true})|raw &}
		</div>
		<div flex="15">
		{& menu({'menuid':47,'wrapcss':'menu-wrap','children':false,'title':true})|raw &}
		</div>
		<div flex="15">
		{& menu({'menuid':37,'wrapcss':'menu-wrap','children':false,'title':true})|raw &}
		</div>

	</div>
</div>

{% if cookie() %}
<div ng-controller="cookieController">
<div class="cookie-wrap" ng-if="show">
	<div style="text-align:right;"><md-icon class="material-icons" ng-click="clear()">clear</md-icon></div>
	{&article(21)|raw&}
</div>
</div>

<script type="text/javascript">
app.controller('cookieController',function($scope,$http,$mdDialog) {
	$scope.show=true;
	$scope.clear=function() {
			$http.post('{& path(["site/cookie"]) &}',$scope.form,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
			.success(function(data) {
				$scope.show=false;
			})
	}
}); //end controller
</script>
{% endif %}
