{% extends "@layout/admin.twig" %}

{% block content %}
<script type="text/javascript">
app.controller('editController',function($scope,$http,$window,$filter,$mdDialog) {

	$scope.errors={};
	$scope.model={& model|toJson|raw &};

	$scope.save=function(type) {
		if (angular.isUndefined($scope.beforeSave) || (angular.isDefined($scope.beforeSave) && $scope.beforeSave(type))) {
			out={
				'data':	angular.isDefined($scope.prepData)?$scope.prepData():$scope.model,
				'mode':	type,
			};
			if (angular.isDefined($scope.model.id)) out.model_id=$scope.model.id;

			$http.post('{& path([name~"/save"]) &}',out,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
			.success(function(data) {
				if (data.saved==true) {
					$scope.model.id=data.model_id;
					$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':data.msg});
					if (type=='close') {
						$scope.close();
					} else {
						$scope.errors={};
					}
				} else {
					$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':data.msg});
					$scope.errors=data.errors;
				}
			})
			.error(function(data, status, headers) {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
			})
		}
	}

	$scope.close=function() {
		$window.location.href='{& parentid?path(name~"/index",{'id':parentid}):path(name~"/index") &}';
	}

{% include "@function/showmsg.twig" %}

	$scope.errLen=function(a) {
		return Object.keys(a).length;
	}

{% block controller %}{% endblock %}

}); //end controller

{% block script %}{% endblock %}
</script>

<div ng-controller="editController" class="page-width content-wrap">

	<div ng-if="errLen(errors)>0" class="errors-wrap">
	 <div ng-repeat="error in errors">{{error[0]}}</div>
	</div>

{% block bottom %}{% endblock %}

	<section layout="row" layout-sm="column" layout-align="end center" style="background: #f7f7f7; padding:5px 10px;margin: 20px 0">
		<md-button class="md-raised md-primary" ng-click="save()" ng-hide="buttons.save">{& t('site','save')&}</md-button>
		<md-button class="md-raised md-primary md-hue-1" ng-click="save('close')" ng-hide="buttons.saveclose">{& t('site','saveclose')&}</md-button>
		<md-button class="md-raised md-warn" ng-click="close()" ng-hide="buttons.close">{& t('site','close')&}</md-button>
	</section>
</div>

{% block partials %}{% endblock %}
{% endblock %}