<script type="text/ng-template" id="eventDialog">
<md-dialog aria-label="Dodaj zdarzenie">
	<md-dialog-content class="event-dialog">
		<div class="event-title">{{mode=='edit'?'{&t('events','panel_title_edit')&}':'{&t('events','panel_title_new')&}'}}</div>

		<div>
			<label>{&t('events','model_target')&}: {{event.targetLabel}}</label>
		</div>

		<div>
			<label>{&t('events','label_time')&}: {{prepDate(event.start)}} - {{prepDate(event.end)}}</label>
		</div>

		<form name="eventForm">
		<md-input-container class="md-block">
			<label>{&t('events','model_title')&}</label>
			<input ng-model="event.title" minlength="2" required name="title">
			<div ng-messages="eventForm.title.$error">
				<div ng-message="required">Tytuł zdarzenia jest wymagany</div>
				<div ng-message="minlength">Tytuł zdarzenia powiniem mieć przynajmniej 2 znaki</div>
			</div>
		</md-input-container>
		</form>


		<md-input-container class="md-block">
		 <label>{&t('events','model_remind')&}</label>
		 <md-select ng-model="event.remind">
			<md-option ng-value="-1"><em>Nie przypominaj</em></md-option>
			<md-option ng-value="0">O czasie</md-option>
			<md-option ng-value="5">5 minut przed</md-option>
			<md-option ng-value="15">15 minut przed</md-option>
			<md-option ng-value="30">30 minut przed</md-option>
			<md-divider></md-divider>
			<md-option ng-value="60">1 godzinę przed</md-option>
			<md-option ng-value="120">2 godziny przed</md-option>
			<md-option ng-value="180">3 godziny przed</md-option>
			<md-option ng-value="720">12 godzin przed</md-option>
			<md-divider></md-divider>
			<md-option ng-value="1440">1 dzień przed</md-option>
			<md-option ng-value="2880">2 dni przed</md-option>
			<md-option ng-value="10080">tydzień przed</md-option>
		 </md-select>
		</md-input-container>


		<md-input-container class="md-block">
			<label>{&t('events','model_description')&}</label>
			<textarea ng-model="event.description" {#md-maxlength="350" #}rows="3" md-select-on-focus></textarea>
		</md-input-container>

	</md-dialog-content>
	<md-dialog-actions class="">
		<md-button ng-if="mode=='edit'" ng-click="delete()" class="btn-red md-warn">{&t('site','delete')&}</md-button>
		<md-button  ng-click="save()" class="btn-red md-primary">{&t('site','save')&}</md-button>
		<md-button ng-click="close()" class="btn-red">{&t('site','cancel')&}</md-button>
	</md-dialog-actions>
</md-dialog>
</script>