<script type="text/ng-template" id="modalManager">
<md-dialog aria-label="Menedżer obrazów" class="image-manager">
	<md-dialog-content layout="row" flex layout-wrap>
		<div layout="column" layout-align="start center" class="item-box" ng-click="folder(parent)" ng-if="path.length>1">
			<div class="image-wrap" layout="row" layout-align="center end">
				<img src="/images/folder_black.png" width="60" height="60" />
			</div>
			<span class="image-name">{& t('site','folder_up') &}</span>
		</div>
		<div ng-repeat="item in items|where:{'dir':1}" ng-click="folder(path+item.name)" layout="column" layout-align="start center" class="item-box">
			<div class="image-wrap" layout="row" layout-align="center end">
				<img src="/images/folder_black.png" width="60" height="60" />
			</div>
			<span class="image-name">{{item.name}}</span>
		</div>

		<div ng-repeat="item in items|where:{'type':'image'}" ng-click="close(item.name)" layout="column" layout-align="start center" class="item-box" ng-class="{'item-active':item.name==activeItem}">
			<div class="image-wrap" layout="row" layout-align="center end">
				<img ng-src="{{base}}{{path}}{{item.name}}" class="picture">
			</div>
			<span class="image-name">{{item.name}}</span>
		</div>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button ng-click="close()" class="md-primary">{&t('site','close')&}</md-button>
	</md-dialog-actions>
</md-dialog>
</script>