	<div flex class="end-ribbon" layout="row" layout-align="center center">
		<div class="page-width" layout="row">
			<div flex="50" layout="row" layout-align="start center"><div style="font-size:10px;">Copyright © EAGFA.PL 2016</div></div>
			<div flex="50" layout="row" layout-align="end center" >Wykonawca: <a href="http://www.grupafaro.pl">Grupa Faro</a><!--<img src="/images/logofaro.png">--></div>
		</div>
	</div>
