<script type="text/ng-template" id="freshmailDialog">
<md-dialog aria-label="Eksport freshmail">
	<md-dialog-content class="invite-content">
		<div class="invite-title">Eksportuj do Freshmail</div>
		<div>
			Lista będzie zawierać {{count}} adresatów
		</div>
		<div>
			<label>{&t('users','label_freshmail_name')&}:</label>
			<input type="text" ng-model="list.name">
		</div>
		<div>
			<label>{&t('users','label_freshmail_desc')&}:</label>
			<textarea ng-model="list.desc"></textarea>
		</div>
	</md-dialog-content>
	<md-dialog-actions class="modalFullaction">
		<span ng-if="sending">{&t('site','msg_sending')&}</span>
		<md-button class="md-raised" ng-click="send()" ng-disabled="sending">{&t('site','export')&}</md-button>
		<md-button class="md-raised" ng-click="cancel()" ng-disabled="sending">{&t('site','cancel')&}</md-button>
	</md-dialog-actions>
</md-dialog>
</script>