<div flex class="page-top-{&headxs?'xs':'sm'&}" layout="row" layout-align="center start" layout-wrap>
	<div class="top-menu md-whiteframe-5dp" layout="row" layout-align="center center" flex="100" affix affix-class="menu-fixed">
		<div layout="row" layout-align="start center" class="page-width">
				<div class="top-container">
				<div class="top-logo"><a href="/"><img src="/images/logo.png" style="height:60px;"></a></div>
				{& menu({'menuid':1,'wrapcss':'main-menu'})|raw &}
				</div>
			</div>
	</div>
</div>