	<div flex class="headpanel-wrap" layout="row" layout-align="center start">
		<section class="headpanel" layout="row" layout-align="space-between center">
			<div>{& panelTitle &}</div>
		</section>
	</div>