{% extends "@layout/admin.twig" %}

{% block content %}
<script type="text/javascript">
app.controller('listController',function($scope,$window,$http,$mdDialog) {

	$scope.loading=false;
	$scope.rows={& models|toJson|raw&};
	$scope.listTitle={&listTitle|toJson|raw&};
	$scope.pagination={& pager|toJson|raw &};
	$scope.f={};
	$scope.summary={& summary|toJson|raw &};

{% block controller %}{% endblock %}

{% include "@function/paginate.twig" %}
{% include "@function/showmsg.twig" %}

	if ($scope.pagination!=null) $scope.createBar();

}); //end controller
</script>

<div ng-controller="listController" class="page-width content-wrap">

	{% block panel %}{% endblock %}
	<div class="list-title" ng-if="listTitle.length" ng-bind-html="listTitle"></div>

	<div class="alert alert-info" ng-if="!rows||rows.length==0" style="margin-top:20px;">{& t(name?name:'site','msg_no_rows')&}</div>

	<div ng-class="{'loading-list':loading}">
		<div layout="row" ng-if="rows.length>0">
		<div>Znalezionych pozycji: {{pagination.totalCount}}</div>
		{% block summary %}{% endblock%}
		</div>

		<table class="table-list" ng-if="rows.length>0" style="width:100%;">
		<thead>
			<tr>
				{% for th in cols if th %}<th><div layout="row">
				{% if sort[loop.index0] %}<div><md-icon class="material-icons sortcol" ng-click="sort('{& sort[loop.index0] &}','asc')" ng-class="{'active':f.order=='{& sort[loop.index0] &}'&&f.dir=='asc'}">keyboard_arrow_down</md-icon></div>{% endif %}
				<div>{& th &}</div>
				{% if sort[loop.index0] %}<div><md-icon class="material-icons sortcol" ng-click="sort('{& sort[loop.index0] &}','desc')" ng-class="{'active':f.order=='{& sort[loop.index0] &}'&&f.dir=='desc'}">keyboard_arrow_up</md-icon></div>{% endif %}
				</div></th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in rows">
				{% block rows %}{% endblock %}
			</tr>
		</tbody>
		</table>

{% block bottom %}{% endblock %}

{% include "@partial/paginator.twig" %}
		<div class="loading-overlay" ng-if="loading"><span>{&t('site','msg_loading')&}<br /><img src="/images/list-load.gif" /></span></div>
	</div>

</div>
{% endblock %}