	<div flex class="page-top-sm" layout="row" layout-align="center start" layout-wrap>
		<div class="top-menu md-whiteframe-5dp" layout="row" layout-align="start center">
			<div style="width:280px;padding:0 15px;"><a href="/"><img src="/images/logo.png"></a></div>
			<div><!-- module  -->
				<div class="main-menu">
					<div class="menu-item"><a href="/">Start</a></div>
					<div class="menu-item"><a href="/oferta">Oferta</a></div>
				</div>
			</div>
		</div>
	</div>
