<!-- modal -->
<script type="text/javascript">
app.controller('modalfullController',function($scope,$window,$mdDialog,$document) {

	$mdDialog.show({
		controller: function($scope, $mdDialog) {
			$scope.close = function() {
				$mdDialog.cancel();
			};
		},
		templateUrl: 'modalFull',
		parent: angular.element(document.body),
		clickOutsideToClose:false,
		fullscreen: true//$scope.customFullscreen
	});
	
	$scope.c=$window.getComputedStyle($document[0].body);
	console.log($scope.c.fixed);

}); //end controller
</script>

<div ng-controller="modalfullController"></div>

<script type="text/ng-template" id="modalFull">
<md-dialog aria-label="Ważna informacja">
	<md-dialog-content class="modalFullcontent">
		{& article.full|raw &}
	</md-dialog-content>
	<md-dialog-actions class="modalFullaction">
		<md-button ng-click="close()" class="md-primary">{&t('site','close')&}</md-button>
	</md-dialog-actions>
</md-dialog>
</script>