<div flex layout="row" layout-align="center center" style="background-color:#5f5f5f;height:82px;">
	<div class="page-width" layout="row" layout-align="space-between center" class="newsletter-wrap">
		<div style="color:#e9e8e8;font-size:14px;">{&t('site','nform_title')&}</div>
		<div style="position:relative;">
			<script type="text/javascript">
			app.controller('newsletterController',function($scope,$http,$mdDialog) {

				$scope.form={};

				$scope.send=function() {
					$http.post('{& path(["newsletter/subscribe"]) &}',$scope.form,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
					.success(function(data) {
						if (data.status==true) {
							$scope.form={};
							$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('newsletter','msg_subscribe')&}"});
						} else {
							$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('newsletter','err_subscribe')&} "+(data.msg?data.msg:"")});
						}
					})
					.error(function(data, status, headers) {
						$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
					});
				}

				{% include "@function/showmsg.twig" %}

			}); //end controller
			</script>
			<div ng-controller="newsletterController">
				<input type="text" ng-model="form.email" placeholder="{&t('site','nform_email')&}" style="color:#b7b7b7;background-color:#414141;height:32px;padding-left:20px;width:430px;border:none;">
				<button class="md-icon-button" ng-click="send()" style="position:relative;right:50px;top:-1px;background:none;border:none;">
					<md-icon class="material-icons" style="color:#b6b6b6;font-size:26px;">play_circle_outline</md-icon>
				</button>
			</div>
		</div>
	</div>
</div>