	<div flex class="headpanel-wrap" layout="row" layout-align="center start" ng-controller="changeProductController">
		<section class="headpanel" layout="row" layout-align="start center">
			<img src="/images/logo2.png" />

			<span flex></span>

			<md-button ng-href="/" class="back-home">
				<span style="padding:0 10px;">{&t('offer','btn_backhome')&}</span>
			</md-button>

			<md-button class="my-basket" href="{&path(['offer/basket'])&}">
				<span style="padding:0 10px;">{&t('offer','btn_mybasket')&}</span>
			</md-button>

			<div style="position:relative;" ng-mouseleave="closeOther()">
				<md-button class="see-other" ng-click="openOther()">
					<span>{&t('offer','btn_seeother')&}</span>
					<md-icon md-menu-origin class="material-icons">&#xE5DB;</md-icon>
				</md-button>
				<div ng-if="showMenu" class="otherprod-container">
					<div layout="row">
						<div class="subitem-panel">
						{% for cat in categories %}
							<div ng-if="activeCat=='{&cat.name&}'&&activeProd==''">
								<img src="{& cat.getFoto() &}" />
								<div class="panel-title">{&cat.name&}</div>
								<div class="panel-text">{&cat.intro|raw&}</div>
								<a href="{&path('offer/category',{'category':cat.name})&}" class="btn-red">{&t('site','show')&}</a>
							</div>
							{% for prod in cat.childrens %}
							<div ng-if="activeProd=='{&prod.name&}'&&activeCat=='{&cat.name&}'">
								<img src="{& prod.getFoto() &}" />
								<div class="panel-title">{&cat.name&}: {&prod.name&}</div>
								<div class="panel-text">{&prod.intro|raw&}</div>
								<a href="{&path('offer/product',{'category':prod.category.name,'product':prod.name})&}" class="btn-red">{&t('site','show')&}</a>
							</div>
							{% endfor %}
						{% endfor %}
						</div>
						<div class="otherprod-wrap">
						{% for cat in categories %}
							<div ng-click="setCat('{&cat.name&}')" ng-class="{'menu-item-active':activeCat=='{&cat.name&}'}" class="menu-item">
								<div class="title">{& cat.name &}</div>
							</div>
							{% for prod in cat.childrens %}
							<div ng-click="setProd('{&cat.name&}','{&prod.name&}')" ng-class="{'menu-subitem-active':activeProd=='{&prod.name&}','menu-item-subactive':activeCat=='{&cat.name&}'}" class="menu-subitem">
								<div class="title">{&prod.name&}</div>
							</div>
							{% endfor %}
						{% endfor %}
						</div>
					</div>
				</div>
			</div>

		</section>
	</div>

<script type="text/javascript">
app.controller('changeProductController',function($scope,$mdDialog,$window) {

	$scope.showMenu=false;
	$scope.activeCat="{&activeCat&}";
	$scope.activeProd="{&activeProd&}";

	$scope.openOther=function() {
		$scope.showMenu=!$scope.showMenu;
	}

	$scope.closeOther=function() {
		$scope.showMenu=false;
	}

	$scope.setCat=function(cat){
		$scope.activeProd="";
		$scope.activeCat=cat;
	}

	$scope.setProd=function(cat,prod){
		$scope.activeProd=prod;
	}

}); //changeProductController
</script>