	<div class="pagination" ng-if="pagination!=null&&pagination.pageCount>1" layout="row">
		<div class="first" ng-class="{'disabled':pagination.page<=1}">
			<md-button ng-disabled="pagination.page<=1" ng-click="selPage($event,1)">&laquo;</md-button>
		</div>
		<div class="prev" ng-class="{'disabled':pagination.page<=1}">
			<md-button ng-disabled="pagination.page<=1" ng-click="prevPage($event)">&larr;</md-button>
		</div>
		<div class="pages" ng-repeat="n in pagination.visible" ng-class="{'active':pagination.page==n}">
			<md-button ng-click="selPage($event,n)">{{n}}</md-button>
		</div>
		<div class="next" ng-class="{'disabled':pagination.page>=pagination.pageCount}">
			<md-button ng-disabled="pagination.page>=pagination.pageCount" ng-click="nextPage($event)">&rarr;</md-button>
		</div>
		<div class="next" ng-class="{'disabled':pagination.page>=pagination.pageCount}">
			<md-button ng-disabled="pagination.page>=pagination.pageCount" ng-click="selPage($event,pagination.pageCount)">&raquo;</md-button>
		</div>
	</div>