<script type="text/ng-template" id="recommendDialog">
<md-dialog aria-label="Zaproś kogoś">
	<md-dialog-content class="invite-content">
		<div class="invite-title">Wyślij wiadomość</div>
		<div>
			<label>{&t('merchant','user_email')&}:</label>
			<input type="text" ng-model="message.email">
		</div>
		<div>
			<label>{&t('users','label_msg_title')&}:</label>
			<input type="text" ng-model="message.subject">
		</div>
		<div>
			<label>{&t('users','label_msg_text')&}:</label>
			<textarea ng-model="message.text"></textarea>
		</div>
	</md-dialog-content>
	<md-dialog-actions class="modalFullaction">
		<span ng-if="sending">{&t('site','msg_sending')&}</span>
		<md-button class="md-raised" ng-click="send()" ng-disabled="sending">{&t('site','send')&}</md-button>
		<md-button class="md-raised" ng-click="cancel()" ng-disabled="sending">{&t('site','cancel')&}</md-button>
	</md-dialog-actions>
</md-dialog>
</script>