<script type="text/javascript" src="/lib/web-notification.js"></script>
<script type="text/javascript" src="/lib/angular-web-notification.js"></script>

<script type="text/javascript">
app.requires.push("angular-web-notification");

app.controller('reminderController',function($scope,$http,$window,$mdDialog,$timeout,$filter,$mdSidenav,webNotification) {

	$scope.hasFocus=true;
	$window.onblur = function() {
		$scope.hasFocus = false;
	};

	$window.onfocus = function() {
		$scope.hasFocus = true;
	};

	$scope.events=[];

	$scope.ring=new Audio('audio/what-friends-are-for.mp3');
	$scope.ring.loop=false;

	$scope.load=function() {
		var out={};
		$http.post('{& path("events/list") &}',out,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.then(function(r) {
			var counter=0;
			if (angular.isArray(r.data)) {
				$scope.events=r.data;
				counter=r.data.length;
			}
			$scope.$parent.$broadcast('eventsCount',counter);
			if (counter>0) {
				$scope.panelOpen();
				$scope.ring.play();
				if (!$scope.hasFocus) {
					webNotification.showNotification('Zdarzenie', {
						body: 'Przypomnienie o '+(counter>1?"zdarzenach":"zdarzeniu"),
						icon: 'images/alert-clock-icon.png',
						onClick: function onNotificationClicked(e) {
							e.target.close();
							$window.focus();
							$scope.panelOpen();
						},
						autoClose: 30000
					}, function onShow(error, hide) {
						// hide();
					});
				}
			} else {
				$scope.panelClose();
			}
			$timeout(function() { $scope.load(); },60000);
		});
	}

	$timeout(function() {
		$scope.load();
	},1000);

	$scope.panelOpen=function(){
		$mdSidenav("reminder").open();
	}

	$scope.panelClose=function(){
		$mdSidenav("reminder").close();
	}

	$scope.eventClose=function(event) {
		$http.post('{& path("events/close") &}',{'id':event.id},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			if (data.saved) $scope.load();
		});
	}

	$scope.prepDate=function(date) {
		return moment(date).format("YYYY-MM-DD HH:mm");
	}

	$scope.openTarget=function(e) {
		console.log(e);
		$window.open(e.targetLink, '_blank');
	}

});

app.controller('reminderBox',function($scope,$mdSidenav){

	$scope.queue=0;

	$scope.$on('eventsCount',function(e,param) {
		$scope.queue=param;
	});

	$scope.openPanel=function(){
		$mdSidenav('reminder').open();
	}


	$scope.label=function() {
		if ($scope.queue==0) return "Brak zdarzeń";
		if ($scope.queue==1) return "1 zdarzenie";
		if ($scope.queue>1&&$scope.queue<5) return $scope.queue+" zdarzenia";
		if ($scope.queue>=5&&$scope.queue<=22) return $scope.queue+" zdarzeń";
		if ($scope.queue>21) {
			if($scope.queue%10>=2&&$scope.queue%10<=4) return $scope.queue+" zdarzenia";
				else return $scope.queue+" zdarzeń";
		}
	}

});
</script>

<md-sidenav class="md-sidenav-left reminder-wrap" md-component-id="reminder">
	<div ng-controller="reminderController">
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				<div flex>Zdarzenia</div>
				<div flex md-truncate></div>
				<md-button ng-click="panelClose()" class="md-icon-button"><i class="material-icons">close</i></md-button>
			</div>
		</md-toolbar>
		<div class="events-holder">
			<md-card ng-repeat="event in events">
				<md-card-title><md-card-title-text>
					<span class="md-headline">{{event.title}}</span>
					<span class="md-subhead">
						<div>
							<i class="material-icons">alarm</i> {{prepDate(event.startDate)}}
							<md-tooltip md-direction="top">{&t('events','model_when')&}</md-tooltip>
						</div>
						<div ng-click="openTarget(event)" style="cursor:pointer;" ng-if="event.target_type>0">
							<i class="material-icons">perm_contact_calendar</i> {{event.targetLabel}}
							<md-tooltip md-direction="top">{& t('events','model_target')&}</md-tooltip>
						</div>
					</span>
				</md-card-title-text></md-card-title>
				<md-card-content>
					<p>{{event.description}}</p>
				</md-card-content>
				<md-card-actions layout="row" layout-align="end center">
					<md-button class="md-icon-button" aria-label="close" ng-click="openTarget(event)" ng-if="event.target_type>0">
						<i class="material-icons">perm_contact_calendar</i>
						<md-tooltip md-direction="top">{& t('events','label_target_profile')&}</md-tooltip>
					</md-button>
					<md-button class="md-icon-button" aria-label="close" ng-click="eventClose(event)">
						<i class="material-icons">close</i>
						<md-tooltip md-direction="top">{& t('events','label_close_remind')&}</md-tooltip>
					</md-button>
				</md-card-actions>
			</md-card>
		</div>
	</div>
</md-sidenav>

<div ng-controller="reminderBox">
	<div class="reminder-notify" ng-click="openPanel()" ng-if="queue>0">
		<i class="material-icons">notifications_active</i> <span>{{label()}}</span>
	</div>
</div>

