	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/pl.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/{& app.params.angularVer &}/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/{& app.params.angularVer &}/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/{& app.params.angularVer &}/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/{& app.params.angularVer &}/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/{& app.params.angularVer &}/angular-sanitize.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/{& app.params.materialVer &}/angular-material.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.15/angular-filter.min.js"></script>
	<script src="/lib/ng-scrollspy.min.js"></script>

