<div flex class="top-ribbon" layout="row" layout-align="center center">
	<div class="page-width" layout="row" layout-align="space-between center">
		<div>
		{% if app.user.isGuest() %}
			<a href="{&path(['site/login'])&}">Zaloguj się / Zarejestruj się</a>
		{% else %}
			{& app.user.identity.name&}&nbsp;&nbsp; <a href="{&path(['site/logout'])&}">wyloguj się</a>
		{% endif %}
		</div>
		<div>
			{% if app.session.has('basket') and app.session('basket')|length>0 %}
			<a href="{&path(['offer/basket'])&}">{&t('offer','btn_mybasket')&}</a>
			{% if not app.user.isGuest() %}&nbsp; | &nbsp;{% endif %}
			{% endif %}
			{% if not app.user.isGuest() %}
				{% if app.user.identity.can('administrator') %}<a href="{&path(['dashboard/index'])&}">panel administracyjny</a>{% endif %}
				{% if app.user.identity.can('merchant') %}<a href="{&path(['merchant/index'])&}">panel handlowca</a>{% endif %}
				{% if app.user.identity.can('customer') %}<a href="{&path(['panel/index'])&}">panel użytkownika</a>{% endif %}
			{% endif %}
		</div>

	</div>
</div>