{% set name='coupons' %}

{% extends "@partial/list.twig" %}

{% block controller %}

	$scope.show=function(id) {
		$window.location.href="{& path('users/show',{'id':'changeme'})|raw &}".replace('changeme',id);
	}

{% endblock %}

{% block panel %}
{% endblock %}

{% set cols=[
	t('coupons','model_id'),
	t('coupons','model_created'),
	t('coupons','model_user'),
	t('coupons','model_amount'),
	t('coupons','model_status'),
	t('coupons','label_reason')
] %}

{% block rows %}
	<td>{{row.id}}</td>
	<td>{{row.created}}</td>
	<td ng-click="show(row.user.id)" style="cursor:pointer">{{row.user.name}}</td>
	<td>{{row.amount}} PLN</td>
	<td>{{row.statusLabel}}</td>
	<td>{{row.params.reason}}</td>
{% endblock %}