{% set name='merchant' %}

{% extends "@partial/list.twig" %}

{% block controller %}

	$scope.show=function(id) {
		$window.location.href="{& path('users/show',{'id':'changeme'})|raw &}".replace('changeme',id);
	}

	$scope.message={'subject':{&message.title|toJson|raw&}};

	$scope.statuses={&statuses|toJson|raw&}
	$scope.priorities={&priorities|toJson|raw&}
	$scope.baseTitle=angular.copy($scope.listTitle);
	$scope.paramTitle={&paramTitle|toJson|raw&};

	$scope.setStatus=function(status) {
		$scope.f.status=status;
		$scope.getList(1);
	};

	$scope.setVip=function(status) {
		$scope.f.vip=status;
		$scope.getList(1);
	};

	$scope.setBuyer=function(i) {
		$scope.f.buyer=i;
		$scope.getList(1);
	};

	$scope.$watch("f.vip", function(){
		$scope.createTitle();
	});

	$scope.$watch("f.status", function(){
		$scope.createTitle();
	});

	$scope.createTitle=function() {
		if (angular.isDefined($scope.f.status)||angular.isDefined($scope.f.vip)) {
			$scope.listTitle=angular.copy($scope.paramTitle);
			if (angular.isDefined($scope.f.status)) $scope.listTitle+=" ze statusem &nbsp;&raquo;"+$scope.statuses[$scope.f.status]+"&laquo;";
			if (angular.isDefined($scope.f.vip)) $scope.listTitle+=" "+(angular.isDefined($scope.f.status)?"i":"o")+" ważności &nbsp;&raquo;"+$scope.priorities[$scope.f.vip]+"&laquo;";
		} else {
			$scope.listTitle=angular.copy($scope.baseTitle);
		}
	}
	$scope.findString=function() {
		$scope.getList(1);
	}

{% include "@function/showmsg.twig" %}

{% include "@function/recommend.twig" %}

{& include ("@function/sendmessage.twig",{"name":"users"}) &}

{% endblock %}

{% block panel %}
<div layout="row" layout-wrap>
	<div flex="45" layout="row" layout-align="start center">
		<md-input-container style="width:300px;">
			<label>{& t('users','find_string') &}</label>
			<input ng-model="f.string">
		</md-input-container>
		<md-button class="btn-red" ng-click="findString()">{&t('site','search')&}</md-button>
	</div>
	<div flex="55" style="margin-top:11px">
		<md-button class="btn-red" ng-click="sendInvite()" style="vertical-align:top">{& t('merchant','invite_user')&}</md-button>
		<md-button class="btn-red" ng-click="sendMessage()" ng-disabled="pagination.totalCount==0||loading">{&t('users','btn_sendmsg')&}</md-button>
		<md-button class="btn-red" href="{&url({0:'merchant/export','mode':'emails'})&}" style="vertical-align:top">{& t('merchant','export_contacts')&}</md-button>
	</div>
	<div flex="100" class="tabs-btn" layout="row">
		<div flex="40">
		Status:<br />
		<md-button ng-click="setStatus(undefined)" ng-class="{'active':f.status==undefined}">{&t('users','status_all')&}</md-button>
		{% for k,status in statuses%}
		<md-button ng-click="setStatus({&k&})" ng-class="{'active':f.status=={&k&}}">{&status&}</md-button>
		{% endfor%}
		</div>
		{% if not hideVip %}
		<!--<div flex="30">
			Ważność:<br />
			<md-button ng-click="setVip(undefined)" ng-class="{'active':f.vip==undefined}">{&t('users','priority_all')&}</md-button>
			{% for k,priority in priorities%}
			<md-button ng-click="setVip({&k&})" ng-class="{'active':f.vip=={&k&}}">{&priority&}</md-button>
			{% endfor%}
		</div>-->
		<div flex="30">
			Zakupy:<br />
			<md-button ng-click="setBuyer(undefined)" ng-class="{'active':f.buyer==undefined}">{&t('users','status_all')&}</md-button>
			<md-button ng-click="setBuyer(0)" ng-class="{'active':f.buyer==0}">{&t('site','no')&}</md-button>
			<md-button ng-click="setBuyer(1)" ng-class="{'active':f.buyer==1}">{&t('site','yes')&}</md-button>
			<md-button ng-click="setBuyer(2)" ng-class="{'active':f.buyer==2}">3 m. bez</md-button>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% set sort=hideVip?[null,'lastname',null,null,null,'brutto','ilosc','days']:[null,'lastname',null,null,null,null,'brutto','ilosc','days'] %}

{% set cols=[
	t('users','model_id'),
	t('users','name2'),
	t('users','model_email'),
	t('users','model_status'),
	t('users','model_vip'),
	t('users','model_created'),
	t('users','orders_brutto'),
	t('users','orders_amount'),
	t('users','orders_days'),
	t('site','label_action')
] %}

{% block rows %}
	<td>{{row.id}}</td>
	<td>{{row.lastname}} {{row.firstname}}</td>
	<td>{{row.email}}</td>
	<td>{{row.statusLabel}}</td>
	<td>{{row.vip?"{&t('site','yes')|upper&}":"{&t('site','no')&}"}}</td>
	<td>{{row.created}}</td>
	<td>{{row.ordersSum}} PLN</td>
	<td>{{row.ordersCount}}</td>
	<td><span ng-if="row.lastDate">{{row.lastDate}}<br /> ({{row.lastDays}} dni)</span></td>
	<td>
		<span class="action-btn" ng-click="show(row.id)">{& t('site','show') &}</span>
	</td>
{% endblock %}

{% block bottom%}
{% include "@partial/sendmessage.twig" %}

{% include "@partial/recommend.twig" %}
{% endblock %}