{% extends "@layout/public.twig" %}

{% block header %}
	{% include "@partial/top-ribbon.twig" %}
	{% include "@partial/header.twig" %}
{% endblock %}

{% block content %}
	<div flex layout="row" layout-align="center center">
		<div class="page-wrap" layout="row" layout-align="start center">
			<div style="font-size:24px;">
				{&t('newsletter','msg_unsubscribe')&}
			</div>
		</div>
	</div>

	{% include "@partial/bottom.twig" %}
{% endblock %}