{% extends "@layout/public.twig" %}

{% block header_css %}
	<link href="css/offer.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include "@partial/offer-head.twig" with {'categories':categories, activeItem:''}%}
{% endblock %}

{% block content %}
<div flex class="basket-subtitle-wrap" layout="row" layout-align="center start">
	<section class="page-width basket-subtitle" layout="row" layout-align="start center">
		{& t('offer','basket_title') &}
	</section>
</div>

<script type="text/javascript">
app.controller('basketController',function($scope,$filter,$http,$mdDialog,$window,$interval) {

	$scope.timer=undefined;

	$scope.items={&items|toJson|raw&};

	$scope.clearBasket=function(){
		if (confirm("{&t('offer','msg_clear_confirm')&}")) {
			$http.post('{& path(["offer/store"]) &}',{'mode':'clear'},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
			.success(function(data) {
				if (data.saved!=true) {
					$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('offer','msg_basket_error')&}"});
				} else {
					$scope.items=[];
				}
			})
			.error(function(data, status, headers) {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
			})
		}
	}

	$scope.delPos=function(i) {
		if (confirm("{&t('offer','msg_del_confirm')&}")) {
			$http.post('{& path(["offer/store"]) &}',{'mode':'del','index':i},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
			.success(function(data) {
				if (data.saved!=true) {
					$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('offer','msg_basket_error')&}"});
				} else {
					$scope.items.splice(i,1);
				}
			})
			.error(function(data, status, headers) {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
			});
		}
	}

	$scope.editPos=function(i) {
		$window.location.href="{& path('offer/change',{'pos':'changeme'})|raw &}".replace('changeme',i);
	}

	$scope.$on('picknumber',function(obj,attr){
		if (angular.isDefined($scope.timer)) $interval.cancel($scope.timer);
		$scope.timer=$interval($scope.updateAmount,1500,1);
	});

	$scope.updateAmount=function() {
		var amount=$filter('map')($scope.items,'amount');
		$http.post('{& path(["offer/store"]) &}',{'mode':'amount','amount':amount},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			if (data.saved!=true) {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('offer','msg_basket_error')&}"});
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		});
	}

	//type return float/fixed
	$scope.calcPrice=function(prod,mode,type) {
		switch(mode) {
			case 'row':
			case 'rowdiscount':
				price=$scope.calcAmount(prod)*parseInt(prod.amount);
				break;
			default:
				price=$scope.calcAmount(prod);
		}
		if (prod.discount>0&&(mode=="discount"||mode=="rowdiscount")) {
			price=price-(price*(prod.discount/100));
		}
		return type?price:price.toFixed(2);
	}

	$scope.calcAmount=function(prod) {
		var price=0
		if (angular.isObject(prod.aprices)&&Object.keys(prod.aprices).length>0) {
			angular.forEach(prod.aprices,function(cena,start){
				if (start>prod.amount) return;
				price=angular.copy(cena);
			});
		} else {
			price=prod.price;
		}
		return parseFloat(price);
	}

	$scope.calcTotal=function(fixed) {
		var total=0;
		angular.forEach($scope.items,function(item){
			total+=$scope.calcPrice(item,'rowdiscount',true);
		});
		return (fixed?total.toFixed(2):total);
	}

	$scope.checkout=function() {
		$window.location.href="{& path(['offer/buying'])|raw &}";
	}

	$scope.formatParam=function(p) {
		return angular.isArray(p.value)?p.value.join(", "):p.value;
	}

{% include "@function/showmsg.twig" %}

}); //basketController
</script>

<div flex layout="row" layout-align="center start" ng-controller="basketController" class="basket-content-wrap">

	<div class="page-width">
		<div class="basket-content">

			<div ng-if="items.length>0" layout="row" flex class="list-head">
				<div flex="40">{&t('offer','label_item_name')&}</div>
				<div flex="10">{&t('offer','label_item_discount')&}</div>
				<div flex="10">{&t('offer','label_item_price')&}</div>
				<div flex="10">{&t('offer','label_item_amount')&}</div>
				<div flex="10">{&t('offer','label_item_sum')&}</div>
				<div flex></div>
			</div>

			<div ng-repeat="item in items" class="list-row">
				<div layout="row">
					<div flex="40">{{item.category}} - {{item.name}}</div>
					<div flex="10">{{item.discount}}</div>
					<div flex="10">
						<span ng-if="item.discount>0" class="discount-price">{{calcPrice(item,'discount')}}</span> 
						<span ng-class="{'orginal-price':item.discount>0}">{{calcPrice(item,'single')}}</span> PLN
					</div>
					<div flex="10" class="amount-wrap">
						<number-picker value="item.amount" min="1" pickdir="row" calldep="$index" layout="row" iconup="arrow_upward" icondown="arrow_downward" btnclass="amount-button" orderup="3" orderdown="1"></number-picker>
					</div>
					<div flex="10">{{calcPrice(item,'rowdiscount')}} PLN</div>
					<div flex class="row-action" layout="row">
						<md-button ng-click="editPos($index)" class="white">{&t('site','edit')&}</md-button>
						<md-button ng-click="delPos($index)" class="red">{&t('site','delete')&}</md-button>
					</div>
				</div>
				<div layout="row" layout-wrap class="row-config">
					<div flex="100"><strong>{&t('offer','label_item_cfg')&}:</strong></div>
					<div ng-repeat="p in item.config"> <i>{{p.name}}:</i> &nbsp;{{formatParam(p)}} </div>
				</div>
				<md-divider></md-divider>
			</div>

			<div ng-if="items.length==0">{&t('offer','err_empty_basket')&}</div>

		</div>

		<div class="basket-total" layout="row" layout-align="end end" ng-if="calcTotal()">
			<div>{& t('offer','label_total') &}</div>
			<div flex="15" layout="row" layout-align="end center"><b>{{calcTotal(true)}} PLN</b></div>
		</div>

		<div layout="row" layout-align="end end" class="basket-buttons">
			<md-button class="md-raised white" ng-click="clearBasket()" ng-if="items.length>0">{&t('offer','btn_clearbasket')&}</md-button>
			<md-button class="md-raised red" ng-click="checkout()" ng-if="items.length>0">{&t('offer','btn_checkout')&}</md-button>
		</div>

	</div>

</div>

{% endblock %}