{% extends "@layout/public.twig" %}

{% block header_css %}
	<link href="css/offer.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include "@partial/offer-head.twig" with {'categories':categories, activeItem:''}%}
{% endblock %}

{% block content %}
<div flex class="basket-subtitle-wrap" layout="row" layout-align="center start">
	<section class="page-width basket-subtitle" layout="row" layout-align="start center">
		{& t('offer','summary_title') &}
	</section>
</div>

<script type="text/javascript">
app.controller('summaryController',function($scope,$http,$filter,$mdDialog,$window) {

	$scope.sending=false;

	$scope.ship={
		'type':"0",
		'address':{&app.user.identity.shipping|length>0?app.user.identity.shipping|toJson|raw:'{}'&},
		'collect':"0",
	};
	$scope.notice="";
	$scope.payType="1";
	$scope.invoice={
		'type':"0",
		'address':{&app.user.identity.invoice|length>0?app.user.identity.invoice|toJson|raw:'{}'&},
	};

	$scope.coupons={&coupons|toJson|raw&};

	$scope.back=function() {
		$window.location.href="{& path(['offer/basket'])|raw &}";
	}

	$scope.finalize=function() {
		var s=$scope.ship.address;
		if ($scope.ship.type=="0" && (
				angular.isUndefined(s.name) || s.name.length<3 ||
				angular.isUndefined(s.street) || s.street.length<5 || 
				angular.isUndefined(s.postcity) || s.postcity.length<2 ||
				angular.isUndefined(s.postcode) || s.postcode.length<5
			)) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('offer','err_no_address')&}"});
			return false;
		}

		var i=$scope.invoice.address;
		if ($scope.invoice.type=="1" && (
				angular.isUndefined(i.nip) || i.nip.length<10 ||
				angular.isUndefined(i.name) || i.name.length<3 ||
				angular.isUndefined(i.street) || i.street.length<5 || 
				angular.isUndefined(i.postcity) || i.postcity.length<2 ||
				angular.isUndefined(i.postcode) || i.postcode.length<5
			)) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('offer','err_no_invoice')&}"});
			return true;
		}

		var out={
			'ship':$scope.ship,
			'payment':$scope.payType,
			'invoice':$scope.invoice,
			'notice':$scope.notice,
			'coupons':$filter('map')($filter('where')($scope.coupons,{'checked':true}),'id')
		};

		$scope.sending=true;

		$http.post('{& path(["offer/finalize"]) &}',out,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			if (data.saved==true) {
				if (data.id) {
					$window.location.href="{&path('panel/order',{'files':'true','id':'changeme'})|raw&}".replace('changeme',data.id);
				} else {
					$window.location.href="{&path(['panel/index'])&}";
				}
			} else {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('orders','err_not_saved')&}"+"<br />"+(data.msg?$filter('join')(data.msg,"<br />"):"")});
				$scope.sending=false;
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
			$scope.sending=false;
		});
	}

	$scope.discountCalc=function() {
		var sum=0;
		angular.forEach($scope.coupons,function(item){
			if (item.checked) {sum+=parseFloat(item.amount);}
		});
		return sum;
	}

	$scope.shipcost=function() {
		var cost=0;
		if ($scope.ship.type=="0") {
			switch($scope.payType) {
				case '1': cost+={&app.params['shipping']['instant']&}; break;
				case '2': cost+={&app.params['shipping']['delay']&}; break;
				case '3':
				case '4': cost+={&app.params['shipping']['delivery']&}; break;
			}
		}
		return cost;
	}

	$scope.tomuch=function(total) {
		var cost=total+$scope.shipcost();
		var discount=$scope.discountCalc();
		return cost-discount<0;
	}

	$scope.sumTotal=function(total){
		var cost=total+$scope.shipcost();
		var discount=$scope.discountCalc();
		return cost-discount>0?cost-discount:0;
	}

	$scope.$watch('ship.type',function(n,o) {
		if (o==1 && n==0 && $scope.payType==3) $scope.payType=1;
		if (o==0 && n==1 && $scope.payType==4) $scope.payType=1;
	});

{% include "@function/showmsg.twig" %}

}); //summaryController
</script>

<div flex layout="row" layout-align="center start" ng-controller="summaryController" class="basket-summary-wrap">

	<div class="page-wrap">
		<div class="basket-content">
			<div layout="row" flex class="list-head">
				<div flex="40">{&t('offer','label_item_name')&}</div>
				<div flex="10">{&t('offer','label_item_discount')&}</div>
				<div flex="10">{&t('offer','label_item_price')&}</div>
				<div flex="10">{&t('offer','label_item_amount')&}</div>
				<div flex="10">{&t('offer','label_item_sum')&}</div>
				<div flex></div>
			</div>
			{% set total=0 %}
			{% for item in items %}
			{% set pricerow=(item.price2 or item.aprice2)?(item.price2+item.aprice2):(item.price+item.aprice) %}
			{% set total= total+pricerow * item.amount%}
			<div class="list-row">
				<div layout="row">
					<div flex="40">{&item.category&} - {&item.name&}</div>
					<div flex="10">{&item.discount&}</div>
					<div flex="10" layout="row" layout-align="start center">{% if item.price2 or item.aprice2 %}<span flex="55">{& item.price2+item.aprice2 &}</span><span flex="45" class="orginal-price">{& item.price+item.aprice&}</span>{%else%}{& item.price+item.aprice &}{%endif%}</div>
					<div flex="10" class="amount-wrap">{&item.amount&}</div>
					<div flex="10">{& pricerow * item.amount &}</div>
					<div flex class="row-action">
					</div>
				</div>
				<div layout="row" layout-wrap class="row-config">
					<div flex="100"><strong>{&t('offer','label_item_cfg')&}:</strong></div>
					{% for param in toArray(item.config) %}<div><i>{&param.name&}:</i> <b>{&param.value|join(", ")&}</b></div>{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>

		<div class="basket-total" layout="row" layout-align="end end">
			<div>{& t('offer','label_total') &}</div>
			<div flex="10" layout="row" layout-align="end center"><b>{& total &} PLN</b></div>
		</div>

		<div class="basket-content">
			<div>
				<div class="content-group first">{&t('orders','label_shipping')&}:</div>
				<md-radio-group ng-model="ship.type" class="radio-horiz">
					{% for i,pos in shiptypes %}
					<md-radio-button value="{&i&}">{&pos&}</md-radio-button>
					{% endfor %}
				</md-radio-group>
			</div>

			<div ng-if="ship.type=='0'" class="ship-address">
				<div class="content-group">{&t('orders','label_shipaddr')&}:</div>
				<div style="width:350px">
				<input type="text" ng-model="ship.address.name" placeholder="{&t('orders','label_shipaddr_name')&}">
				</div>
				<div style="width:350px">
				<input type="text" ng-model="ship.address.street" placeholder="{&t('orders','label_shipaddr_street')&}">
				</div>
				<div layout="row">
					<div style="width:350px">
						<input type="text" ng-model="ship.address.postcity" placeholder="{&t('orders','label_shipaddr_postcity')&}">
					</div>
					<div style="width:170px;margin-left:20px">
						<input type="text" ng-model="ship.address.postcode" placeholder="{&t('orders','label_shipaddr_postcode')&}">
					</div>
				</div>
			</div>

			<div ng-if="ship.type=='1'">
				<div class="content-group">{&t('orders','label_colladdr')&}:</div>
				<md-radio-group ng-model="ship.collect">
					{% for i,loc in locations %}
					<md-radio-button value="{&i&}">{&loc&}</md-radio-button>
					{% endfor %}
				</md-radio-group>
			</div>

			<div ng-if="coupons.length>0">
				<div class="content-group">{& t('offer','label_coupons') &}:</div>
				<div layout="row" class="list-head">
					<div flex="10">wybierz</div>
					<div flex="50">{& t('coupons','label_reason')&}</div>
					<div flex="15">{& t('coupons','model_amount')&}</div>
					<div flex="5">{& t('coupons','model_id')&}</div>
				</div>
				<div layout="row" ng-repeat="coupon in coupons" class="list-row">
					<div flex="10"><md-checkbox ng-model="coupon.checked" aria-label="Wybierz kupon" style="margin-left:20px;"></md-checkbox></div>
					<div flex="50">{{coupon.reason}}</div>
					<div flex="15" style="text-align:center">{{coupon.amount}} PLN</div>
					<div flex="5" style="text-align:center">{{coupon.id}}</div>
				</div>
			</div>
			
			<div>
				<div class="content-group">{&t('orders','label_payment')&}:</div>
				<div style="margin:20px 0;font-size:14px;">UWAGA: Niższy koszt dostawy obowiązuje tylko po natychmiastowym przelewie za złożone zamówienie.</div>
				<md-radio-group ng-model="payType" class="radio-horiz">
					{# show zalezne od ship.type #}
					{% set payvar={1:null,2:null,3:1,4:0} %}
					{% for k,type in paytypes %}
					<md-radio-button value="{&k&}"{% if payvar[k] is not null %} ng-if="ship.type=='{&payvar[k]&}'"{% endif %}>{&type&}</md-radio-button>
					{% endfor %}
				</md-radio-group>
			</div>

			<div>
				<div class="content-group first">{&t('orders','model_invoice')&}:</div>
				<md-radio-group ng-model="invoice.type" class="radio-horiz">
					{% for i,pos in invoicetypes %}
					<md-radio-button value="{&i&}">{&pos&}</md-radio-button>
					{% endfor %}
				</md-radio-group>
			</div>

			<div ng-if="invoice.type=='1'" class="ship-address">
				<div class="content-group">{&t('orders','label_invoice_data')&}:</div>

				<div style="width:350px">
				<input type="text" ng-model="invoice.address.nip" placeholder="{&t('orders','label_invoice_nip')&}">
				</div>
				<div style="width:350px">
				<input type="text" ng-model="invoice.address.name" placeholder="{&t('orders','label_invoice_name')&}">
				</div>
				<div style="width:350px">
				<input type="text" ng-model="invoice.address.street" placeholder="{&t('orders','label_invoice_street')&}">
				</div>
				<div layout="row">
					<div style="width:350px">
						<input type="text" ng-model="invoice.address.postcity" placeholder="{&t('orders','label_invoice_postcity')&}">
					</div>
					<div style="width:170px;margin-left:20px">
						<input type="text" ng-model="invoice.address.postcode" placeholder="{&t('orders','label_invoice_postcode')&}">
					</div>
				</div>
			</div>
			<div>
				<div class="content-group">{&t('orders','label_notice')&}:</div>
				<textarea ng-model="notice" style="width:550px;height:100px;"></textarea>
			</div>
		</div>

		<div class="basket-total">
			<div layout="row" layout-align="end end">
				<div flex="nogrow">{& t('offer','label_total') &}</div>
				<div flex="10" layout="row" layout-align="end center"><b>{&total&} PLN</b></div>
			</div>
			<div layout="row" layout-align="end end" style="font-size:0.8em">
				<div flex="nogrow">{& t('offer','label_shipcost') &}</div>
				<div flex="10" layout="row" layout-align="end center">+ {{shipcost()}} PLN</div>
			</div>
			<div layout="row" layout-align="end end" style="font-size:0.8em" ng-if="discountCalc()>0">
				<div flex="nogrow">{& t('offer','label_discount') &}</div>
				<div flex="10" layout="row" layout-align="end center">- {{discountCalc()}} PLN</div>
			</div>
			<div layout="row" layout-align="end end">
				<div flex="nogrow">{& t('offer','label_finaltotal') &}</div>
				<div flex="10" layout="row" layout-align="end center"><b>{{sumTotal({&total&})}} PLN</b></div>
			</div>
		</div>

		<div layout="row" layout-align="end center" class="basket-buttons" ng-if="tomuch({&total&})">
			<div style="font-size:1.3em;margin:0 15px;">{&t('offer','err_tomuch_coupons')&}</div>
		</div>
		<div layout="row" layout-align="end end" class="basket-buttons" ng-if="sending==false">
			<md-button class="md-raised white" ng-click="back()">{&t('site','return')&}</md-button>
			<md-button class="md-raised red" ng-click="finalize()" ng-if="!tomuch({&total&})">{&t('offer','btn_finalize')&}</md-button>
		</div>
		<div layout="row" layout-align="end center" class="basket-buttons" ng-if="sending==true">
			<md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="50"></md-progress-circular>
			<div style="font-size:1.3em;margin:0 15px;">Trwa przetwarzanie zamówienia</div>
		</div>
	</div>

</div>

{% endblock %}