{% extends "@layout/public.twig" %}

{% block header_css %}
	<link href="css/offer.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block header_js %}
<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="/lib/angular-masonry-directive.js"></script>
{% endblock %}

{% block header %}
{% include "@partial/offer-head.twig" with {'categories':categories, 'activeCat':model.name} %}
{% endblock %}

{% block content %}
<script type="text/javascript">
app.requires.push('masonry');

app.controller('offerController',function($scope,$window) {

	$scope.items={&childs|toJson|raw&};

	$scope.selected=0;

	$scope.over=function(item) {
		if ($scope.selected!=item.id&&angular.isDefined(item.intro)&&item.intro!=null&&item.intro.length>0) {
			$scope.selected=item.id;
			$scope.update();
		}
	}

	$scope.canGrow=function(item) {
		return $scope.selected==item.id&&angular.isDefined(item.intro)&&item.intro!=null&&item.intro.length>0;
	}

	$scope.out=function() {
		//$scope.selected=0;
	}

	$scope.show=function(name) {
		$window.location.href="{& path('offer/product',{'category':model.name,'product':'changeme'}) &}".replace('changeme',encodeURIComponent(name));
	}

});
</script>

<div flex class="subtitle-wrap" layout="row" layout-align="center start">
	<section class="subtitle" layout="row" layout-align="start center">
		<span class="home-icon">
			<md-icon md-font-icon="icon-home" class="step md-font icon-home material-icons" aria-hidden="true">home</md-icon>
		</span>
		<span class="main-cat">{& model.name&}</span>
		<span class="separator-cat">/</span>
		<span class="sub-cat">{& model.subtitle &}</span>
	</section>
</div>
<div flex class="content-wrap" layout="row" layout-align="center start">
	<section class="content" ng-controller="offerController">
		<div class="prod-tile-box" masonry='{"transitionDuration":"0.4s","itemSelector":".grid-item","columnWidth":".prod-grid-sizer","percentPosition":true}' flex>
			<div class="prod-grid-sizer" />
			<div ng-repeat="item in items track by item.id" class="grid-item" ng-mouseover="over(item)" ng-class="{'tile-big':canGrow(item)}" ng-click="show(item.name)" layout="row">
				<div class="item-inside" nogrow>
					<img ng-src="{{item.foto}}" style="width:210px;height:210px;" />
					<div class="tile-title">{{item.name}}</div>
				</div>
				<div ng-if="canGrow(item)" layout="row" layout-align="center center" class="tile-info">{{item.intro}}</div>
			</div>
		</div>
		<div ng-hide="items.length>0">{& t('offer','msg_empty_category') &}</div>
	</section>
</div>
{% endblock %}
