{% extends "@layout/public.twig" %}

{% block header_css %}
	<link href="css/offer.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include "@partial/offer-head.twig" with {'categories':categories, 'activeCat':model.category.name, 'activeProd':model.name} %}
{% endblock %}

{% block content %}
<script type="text/javascript">
app.controller('productController',function($scope,$filter,$http,$mdDialog) {

	$scope.autonext=true;
	$scope.item={& model.id &};
	$scope.amount={& order.amount &};
	$scope.index={& order.index|toJson|raw &};
	$scope.params={& order.data|toJson|raw &};
	$scope.optionImages={&model.images|toJson|raw&};
	$scope.optionAmount={& model.amount.cond|toJson|raw &};

	$scope.images=[];

	$scope.baseprice=parseFloat({& model.price &});

	$scope.activeGroup=($filter('first')($scope.params)).group;
	$scope.activeStep=0;
	$scope.maxStep=$filter('last')($filter('map')($scope.params,'step'));


	$scope.priceSum=function() {
		var prices=$filter('map')(
			$filter('pick')($scope.params,'data.price!=undefined'),
			function(item){
				return parseFloat(item.data.price);
			}
		);

		var aprice=0;
		if (angular.isArray($scope.optionAmount)) {
			angular.forEach($filter('unique')($filter('map')($scope.optionAmount,'name')),function(item){
				var p=$filter('where')($scope.params,{'name':item});
				if (p.length>0&&angular.isDefined(p[0].data)&&angular.isDefined(p[0].data.name)) {
					var min=0;
					angular.forEach($filter('where')($scope.optionAmount,{'name':item,'value':p[0].data.name}),function(item){
						if ($scope.amount>=item.start&&(min==0||item.start>min)) {
							min=angular.copy(item.start);
							aprice=parseFloat(item.price);
						}
					});
				}
			});
		}
		return ($filter('sum')(prices,$scope.baseprice+aprice)*$scope.amount).toFixed(2);
	}

	$scope.toBasket=function() {
		var out={
			'index':$scope.index, //position in basket
			'mode':'update',
			'item':$scope.item,
			'amount':$scope.amount,
			'data':$filter('map')($scope.params,'data'),
			'link': {&link|toJson|raw&},
		};

		$http.post('{& path(["offer/store"]) &}',out,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			if (data.saved==true) {
				$scope.index=data.index;
				//$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('offer','msg_basket_updated')&}"});
				$mdDialog.show({
					controller: function($scope,$mdDialog){
						$scope.close = function() {
							$mdDialog.hide();
						}
					},
					template:
						'<md-dialog><md-dialog-content style="padding-bottom:30px;text-align:center;width:450px;">'
						+'<div style="text-align:right;"><md-icon class="material-icons" ng-click="close()" style="cursor:pointer;">close</md-icon></div>'
						+'<div><img src="/images/basket-red.png"></div>'
						+'<div style="font-size:18px;font-weight:bold;margin:20px 0;">{&t("offer","msg_basket_updated")&}</div>'
						+'<div><a href="{&path(["offer/basket"])&}" class="btn-red">{&t("offer","btn_gobasket")&}</a></div>'
						+'<div style="margin-top:20px;"><md-button ng-click="close()" class="button-white">{&t("offer","btn_continuebuy")&}</md-button></div>'
						+'</md-dialog-content></md-dialog>',
					parent: angular.element(document.body),
					clickOutsideToClose:true,
				});
			} else {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('offer','msg_basket_error')&}"});
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		})
	}

	$scope.defaults=function() {
		angular.forEach($scope.params,function(param,k){
			if ($scope.paramVisible(param)) {
					switch(parseInt(param.type)){
						case 0:
						case 7:
								if (angular.isUndefined(param.data)&&angular.isDefined(param.text)&&angular.isDefined(param.text.default)) param.data={'name':param.text.default,'price':'0'};
							break;
						case 1:
						case 2:
						case 3:
						case 4:
						case 5:
						case 6:
								if (angular.isDefined(param.options) && param.options.length>0){
									var visible=$filter('pick')(param.options,function(option){ return $scope.optionVisible(option) });
									var optdefault=$filter('where')(visible,{'default':true});
									if (optdefault.length>0) {
										if (angular.isUndefined(param.data)) param.data={'name':optdefault[0].name,'price':optdefault[0].price};
									} else {
										if (angular.isDefined(visible[0])) {
											if (angular.isUndefined(param.data) || (angular.isDefined(param.data)&&angular.isDefined(param.data.name)&&($filter('where')(visible,{'name':param.data.name})).length==0)) {
												param.data={'name':visible[0].name,'price':visible[0].price};
											}
										}
									}
							}
							break;
					}
			} else {
				if (angular.isDefined(param.data)) param.data=undefined;
			}
		});
	}

	$scope.paramBtn=function(param,option) {
		var next=false;
		var params=$filter('where')($scope.params,{'step':param.step});
		if (params.length>1) {
			if (angular.isDefined(param.noauto)&&param.noauto) {
				next=false;
			} else {
				var displayed=0;
				angular.forEach(params,function(item){
					if ($scope.paramVisible(item)) displayed++;
				});
				if (displayed==2 && params[0].name!=param.name) next=true;
			}
		} else {
			if (angular.isDefined(param.noauto)&&param.noauto) next=false;
				else next=true;
		}

		if (angular.isDefined(param.multiple)&&param.multiple>0) {
			if (angular.isUndefined(param.data)||!angular.isArray(param.data.name)) param.data={'name':[]};
			if (param.data.name.indexOf(option.name)>=0) {
				param.data.name.splice(param.data.name.indexOf(option.name),1);
			} else {
				param.data.name.push(option.name);
			}
		} else {
			param.data={
				'name':option.name,
				'price':option.price
			};
			if (angular.isDefined(option.multiply)) {
				var m=$filter('where')($scope.params,{'name':option.multiply});
				if (m.length==1 && angular.isDefined(m[0].data) && angular.isDefined(m[0].data.name)) {
					param.data.price=param.data.price*parseInt(m[0].data.name);
					param.data.depend=option.multiply;
				}
			}
		}
		$scope.defaults();
		$scope.paramBoxPrice(param);
		$scope.updateImages();
		if ($scope.autonext&&next) $scope.nextStep();
	}

	$scope.paramBox=function(param,i) {
		i++;
		if (angular.isUndefined(param.data)||!angular.isArray(param.data.name)) param.data={'name':[]};
		if (param.data.name.indexOf(i)>=0) {
			param.data.name.splice(param.data.name.indexOf(i),1);
		} else {
			param.data.name.push(i);
		}

		if (param.data.name.length>1) param.data.name.sort();
		$scope.defaults();
		$scope.paramBoxPrice(param);
	}

	$scope.paramBoxBulk=function(param,mode) {
		if (angular.isUndefined(param.data)) param.data={'name':[]};
		switch(mode) {
			case 'clear':
						param.data=undefined;
						break;
			case 'all':
						if (angular.isDefined(param.multi)&&angular.isDefined(param)) {
							param.data.name=[];
							for(i=1;i<=$scope.dependVal(param);i++) {
								if (!$scope.btnDisabled(param,i-1)) param.data.name.push(i);
								$scope.paramBoxPrice(param);
							}
						}
						break;
		}
	}

	$scope.paramBoxPrice=function(param) {

		if (angular.isUndefined(param.price)||angular.isUndefined(param.price.cond)||param.price.cond.length==0) {
			angular.forEach($filter('pick')($scope.params,'price.cond.length>0&&name!=\"'+param.name+'\"'),function(item){
				$scope.paramBoxPrice(item);
			});
		}

		if (angular.isDefined(param.multi)&&angular.isDefined(param.multi.price)) {
			param.data.price=(param.data.name.length*parseFloat(param.multi.price)).toFixed(2);
		}

		if (angular.isDefined(param.price)) {
			var pages=(angular.isDefined(param.data)&&angular.isDefined(param.data.name))?parseInt(param.data.name):0;
			var minpages=(angular.isDefined(param.text)&&angular.isDefined(param.text.min))?parseInt(param.text.min):0;

			if (angular.isDefined(param.price.cond) && param.price.cond.length>0){
				param.data.price=0;
				var min=0;

				var calc=function(cond) {
					if (pages>=cond.start&&(min==0||cond.start>min)) {
						min=angular.copy(cond.start);
						param.data.price=(pages-minpages)*cond.price;
					}
				}

				for (var i=0,len=param.price.cond.length;i<len;i++) {
					var cond=param.price.cond[i];
					if (angular.isUndefined(cond.price)||angular.isUndefined(cond.start)) continue;
					if (angular.isDefined(cond.name)&&cond.name.length>0) {
						var p=$filter('where')($scope.params,{'name':cond.name});
						if (p.length==1 && angular.isDefined(p[0].data) && angular.isDefined(p[0].data.name) && angular.isDefined(cond.value)) {
							if (angular.isArray(cond.value)) {
								if (cond.value.indexOf(p[0].data.name)>-1) calc(cond);
							} else {
								if (cond.value==p[0].data.name) calc(cond);
							}
						}
					} else {
						calc(cond); //bez powiazanych innych parametrow
					}
				}
			} else {
				if (angular.isDefined(param.price.value)) {
					param.data.price=(pages-minpages)*param.price.value;
				}
			}
		}

	}

	$scope.paramClicked=function(param,option) {
		if (angular.isDefined(param.multiple)&&param.multiple>0) {
			if (angular.isDefined(param.data) && angular.isDefined(param.data.name)&&angular.isArray(param.data.name)) {
				return param.data.name.indexOf(option.name)>=0;
			}
			return false;
		} else {
			return param.data&&param.data.name==option.name;
		}
	}

	$scope.optionClicked=function(param,i) {
		i++;
		if (angular.isDefined(param.data) && angular.isDefined(param.data.name)) {
			return param.data.name.indexOf(i)>=0;
		}
		return false;
	}

	$scope.changeGroup=function(group) {
		$scope.activeGroup=group;
		var f=$filter('where')($scope.params,{'group':group});
		if (f.length>0) $scope.activeStep=f[0].step;
	}

	$scope.changeStep=function(step) {
		$scope.defaults();
		$scope.activeStep=step;
	}

	$scope.stepVisible=function(step){
		if (step[0].group==$scope.activeGroup) {
			var visible=$filter('pick')(step,function(s){ return $scope.paramVisible(s) });
			return visible.length>0?true:false;
		} else {
			return false;
		}
	}

	$scope.isStepVisible=function(step){
		var instep=$filter('where')($scope.params,{'step':step});
		if (instep.length>0) {
			var visible=$filter('pick')(instep,function(s){ return $scope.paramVisible(s) });
			return visible.length>0?true:false;
		} else {
			return false;
		}
	}

	$scope.nextStep=function() {
		if ($scope.activeStep<$scope.maxStep) {
			var next=1;
			while (($scope.activeStep+next)<$scope.maxStep&& !$scope.isStepVisible($scope.activeStep+next)) { next++; }
			$scope.activeStep+=next;
			$scope.defaults();
			$scope.adjustGroup();
		}
	}

	//nextStep button visibility
	$scope.nextDisabled=function(){
		if ($scope.activeStep<$scope.maxStep) {
			var next=1;
			while (($scope.activeStep+next)<=$scope.maxStep) {
				if ($scope.isStepVisible($scope.activeStep+next)) {
					next=0;
					break;
				} else {
					next++;
				}
			}
			return next>0;
		}
		return true;
	}

	$scope.prevStep=function() {
		if ($scope.activeStep>0) {
			var prev=1;
			while (($scope.activeStep-prev)>0&& !$scope.isStepVisible($scope.activeStep-prev)) { prev++;	}
			$scope.activeStep-=prev;
			$scope.defaults();
			$scope.adjustGroup();
		}
	}

	$scope.prevDisabled=function(){
		if ($scope.activeStep>0) {
			var prev=1;
			while (($scope.activeStep-prev)>=0) {
				if ($scope.isStepVisible($scope.activeStep-prev)) {
					prev=0;
					break;
				} else {
					prev++;
				}
			}
			return prev>0;
		}
		return true;
	}

	$scope.paramVisible=function(param) {
		if (angular.isDefined(param.cond)) return $scope.optionVisible(param,true);
		return true;
	}

	//logic: true-AND, false-OR
	$scope.optionVisible=function(option,logic) {
		if (angular.isDefined(option.cond)&&angular.isArray(option.cond)&&option.cond.length>0) {
			for (var i=0,len=option.cond.length;i<len;i++) {
				if (option.cond[i].name && option.cond[i].value) {
					var p=$filter('where')($scope.params,{'name':option.cond[i].name});
					if (p.length==1) {
						if (angular.isDefined(p[0].data)&&angular.isDefined(p[0].data.name)) {
							if (angular.isArray(option.cond[i].value)) {
								//zwraca pierwsze spotkane false lub ostatnie true
								var result=option.cond[i].value.indexOf(p[0].data.name)>-1;
								if (!logic||(logic && (!result||i==len-1))) return result;
							} else {
								var result=p[0].data.name==option.cond[i].value;
								if (!logic||(logic && (!result||i==len-1))) return result;
							}
						} else {
							return logic?false:true;
						}
					} else {
						return false;
					}
				}
			}
		}
		return true;
	}

	$scope.optionFirst=function(opts){
		if (opts.length>0) {
			var ile=$filter('countBy')(opts,'default');
			if (angular.isDefined(ile['true']) && ile['true']>0) return false;
		}
		return true;
	}

	$scope.dependVal=function(param) {
		var p=$filter('first')($filter('where')($scope.params,{'name':param.multi.depend}));
		return (angular.isDefined(p)&&angular.isDefined(p.data)&&angular.isDefined(p.data.name))?parseInt(p.data.name):0;
	}

	$scope.adjustGroup=function() {
		var f=$filter('where')($scope.params,{'step':$scope.activeStep});
		if (f.length>0) $scope.activeGroup=f[0].group;
	}

	$scope.groupVisible=function(group) {
		var steps=$filter('where')($scope.params,{'group':group});
		if (steps.length>0) {
			var visible=$filter('pick')(steps,function(s){ return $scope.paramVisible(s) });
			//todo: czy przynajmniej jedna opcja jest widoczna w widocznych parametrach
			return visible.length>0;
		}
		return false;
	}

	$scope.$on('picknumber',function(obj,attr){
		if (angular.isDefined(attr.depend)) {
			//uaktualnienie w danym parametrze
			var params=$filter('filterBy')($scope.params,['name'],attr.depend);
			if (params.length==1&&angular.isDefined(params[0].price.cond)&&(params[0].price.cond.length>0)){
				params[0].data.name=attr.val;
				$scope.paramBoxPrice(params[0]);
			}
			//uaktualnienie w parametrach zaleznych
			angular.forEach($filter('filterBy')($scope.params,['multi.depend'],attr.depend),function(item){
				if (angular.isDefined(item.data)&&angular.isDefined(item.data.name)&&item.data.name.length>0) {
					item.data.name=$filter('pick')(item.data.name,function(i){ return i<=attr.val; });
					$scope.paramBoxPrice(item);
				}
			});

			//uaktualnienie mnożników
			angular.forEach($filter('filterBy')($scope.params,['data.depend'],attr.depend),function(item){
				if (angular.isDefined(item.data.name) && angular.isDefined(item.options)) {
					if (!angular.isArray(item.data.name)) {
						var opts=$filter('filterBy')(item.options,['name'],item.data.name);
						if (opts.length==1) item.data.price=attr.val*opts[0].price;
					}
				}
			});
		}
	});

	$scope.boxsize=function(cols) {
		var max=525;
		return (Math.floor(max/parseInt(cols))-10)+"px";
	}

{% include "@function/showmsg.twig" %}

	$scope.defaults();
 
	$scope.updateImages=function() {
		$scope.images=[];
		angular.forEach($scope.optionImages,function(image) {
			var fulfill=0;
			angular.forEach(image.cond,function(cond){
				var condition="";
				if (angular.isArray(cond.value)) {
					if (cond.value.length==1) {
						condition="data.name==\'"+cond.value[0]+"\'";
					} else {
						angular.forEach(cond.value,function(item){
							condition+=(condition.length>0?"||":"")+"data.name==\'"+item+"\'";
						});
					}
				} else {
					condition="data.name==\'"+cond.value+"\'";
				}
				if (($filter('pick')($scope.params,"name==\'"+cond.name+"\'"+(condition.length>0?"&&("+condition+")":""))).length>0) fulfill++;
			});
			if ((fulfill>0&&fulfill==image.cond.length)||image.cond.length==0) {
				$scope.images[image.layer]="/pictures/"+image.path;
			}
			if (angular.isUndefined($scope.images[0])) $scope.images[0]="/pictures/tlo-szare.jpg";
		});
	}

	$scope.updateImages();

 	$scope.tooltipImg=function(option) {
		return (typeof option.tooltip =="string" && option.tooltip.length>0)? option.tooltip:option.data;
	}

	$scope.btnDisabled=function(param,i) {
		i++;
		var params=$filter('pick')($scope.params,"step=="+param.step+"&&type=="+param.type+"&&name!=\'"+param.name+"\'");

		for(a=0;a<params.length;a++) {
			if (angular.isDefined(params[a].data)&&angular.isDefined(params[a].data.name)&&params[a].data.name.indexOf(i)>-1) {
				return true;
			}
		};
		return false;
	}

}); //productController
</script>

<span ng-controller="productController">

<div flex layout="row" layout-align="center start">
	<div class="product-breadcrumbs">
		<span class="home-icon">
			<md-icon md-font-icon="icon-home" class="step md-font icon-home material-icons" aria-hidden="true">home</md-icon>
		</span>
		<span class="main-cat">{& model.category.name&}</span>
		<span class="separator-cat">/</span>
		<span class="sub-cat">{&model.name&}</span>
	</div>
</div>

<div flex class="subtitle-wrap" layout="row" layout-align="center start">
	<section class="subtitle" layout="row" layout-align="start center">
		<md-button ng-repeat="group in params|removeWith:{'group':''}|map:'group'|unique" class="group-button" ng-class="{'group-button-active':activeGroup==group}" ng-click="changeGroup(group)" ng-if="groupVisible(group)">
			<span>{{group}}</span>
		</md-button>
	</section>
</div>

<div flex class="content-wrap" layout="row" layout-align="center start" layout-wrap>
	<div flex="none" layout="row" layout-align="space-between center" class="nav-product">
		<md-button style="margin-left:0" ng-click="prevStep()" ng-disabled="prevDisabled()">
			<md-icon md-font-set="material-icons">arrow_back</md-icon>
		</md-button>

		<div ng-repeat="step in params|groupBy:'step'" ng-if="stepVisible(step)" ng-click="changeStep(step[0].step)" ng-class="{'active':step[0].step==activeStep}" style="cursor:pointer;">{{step|map:'name'|first}}</div>

		<md-button style="margin-right:0" ng-click="nextStep()" ng-disabled="nextDisabled()">
			<md-icon md-font-set="material-icons">arrow_forward</md-icon>
		</md-button>
	</div>
	<section flex="none" class="content-product" layout="row" layout-align="center start">
		<div flex="50">
			<div class="image-wrap">
				<img ng-repeat="img in images|filter:''" ng-src="{{img}}" />
			</div>

			<section flex layout="row" layout-align="center start" style="margin-top:50px;">
				<div flex="50">
					<div class="order-price-wrap">
						<span class="order-price">{& t('offer','label_price') &}</span> <span class="order-amount">{{priceSum()}} PLN</span>
					</div>
					<div class="order-brutto">{& t('offer','label_brutto') &}</div>
				</div>
				<div flex="45" layout="row" layout-align="center end">
					<div flex="80">
						<md-button class="order-button" ng-click="toBasket()">
							<md-icon class="material-icons">&#xE8CC;</md-icon>
							<span>{{index===null?'{& t('offer','btn_addbasket') &}':'{& t('offer','btn_savebasket') &}'}}</span>
						</md-button>
					</div>
				</div>
			</section>
			<div layout="row" layout-align="start center" class="amount-wrap">
				<span>{&t('offer','label_item_amount')&}:</span>
				<number-picker value="amount" min="1" pickdir="row" layout="row" iconup="arrow_upward" icondown="arrow_downward" btnclass="amount-button" orderup="3" orderdown="1" pos="1"></number-picker>
			</div>
			<md-divider class="line" flex="95"></md-divider>
			<div class="order-summary">{& t('offer','label_order_sum') &}</div>
			<div ng-repeat="param in params|pick:'data!=\'\'&&data!=undefined'" class="summary-item" ng-if="param.data.name">
				<i class="material-icons">&#xE5C8;</i> {{param.name}}: <span>{{param.data.name|join:", "}}</span>
				<i ng-if="param.data.price>0">(+ {{param.data.price}} PLN)</i>
			</div>
		</div>
		<div flex="50">
			<section ng-repeat="(gname,group) in params|groupBy:'group'" ng-if="activeGroup==gname">
				<div class="param-wrap" ng-repeat="param in group" ng-if="param.step==activeStep&&paramVisible(param,false)">
					<!--step: {{param.step}}-->
					<div class="param-name">{{param.name}}</div>
					<div class="param-note" ng-if="param.notes">{{param.notes}}</div>

					<div flex ng-if="param.type==0" style="font-size:15px;">
						<input type="text" ng-model="param.data.name" ng-if="param.text.lines==1||param.text.lines==undefined" placeholder="{{param.name}}">
						<textarea ng-model="param.data.name" ng-if="param.text.lines>1" placeholder="{{param.name}}" rows="{{param.text.lines}}" style="width:100%"></textarea>
						<div class="param-notes" ng-if="param.notes&&param.notes.length>0">{{param.notes}}</div>
					</div>

					<div layout="row" flex layout-wrap ng-if="param.type>0">
						<div flex="{{param.size}}" ng-if="param.type==1&&optionVisible(option)" ng-repeat="option in param.options" class="option-button" >
							<md-button class="param-button" ng-class="{'clicked':paramClicked(param,option)}" ng-click="paramBtn(param,option)">{{option.name}}</md-button>
						</div>

						<div flex="{{param.size?param.size:10}}" class="option-icon" ng-if="param.type==2&&optionVisible(option)" ng-repeat="option in param.options" layout="row" layout-align="center end" ng-click="paramBtn(param,option)">
							<md-tooltip ng-if="option.tooltip" md-direction="top" class="icon-tooltip"><img ng-src="/pictures/{{tooltipImg(option)}}" /></md-tooltip>
							<span class="option-border" ng-class="{'option-active':param.data&&param.data.name==option.name}" layout="row" layout-align="center start" layout-wrap>
								<div flex="100"><img ng-src="/pictures/{{option.data}}" /></div>
								<div flex="100">{{option.name}}</div>
							</span>
						</div>

						<div flex="{{param.size?param.size:10}}" class="option-color" ng-if="param.type==3&&optionVisible(option)" ng-repeat="option in param.options" layout="row" layout-align="center end" ng-click="paramBtn(param,option)">
							<span class="option-border" ng-class="{'option-active':param.data&&param.data.name==option.name}" layout="row" layout-align="center start" layout-wrap>
								<div flex="100" class="color-box" ng-style="{'background-color':'#'+option.data,'height':boxsize(param.size)}"></div>
								<div flex="100">{{option.name}}</div>
							</span>
						</div>
						<div layout="row" flex ng-if="param.type==4">
							<select ng-model="param.data.name" style="font-size:15px;">
								<option value="" ng-if="optionFirst(param.options)">{&t('products','option_choose')&}</option>
								<option ng-repeat="option in param.options" ng-value="option.name" class="{{option.data}}" ng-checked="option.default">{{option.name}}</option>
							</select>
						</div>

						<div ng-if="param.type==5" layout="row" layout-wrap>
							<div flex="100" style="margin-bottom:15px;">
								<md-button class="md-raised mini-button" ng-click="paramBoxBulk(param,'all')">zaznacz wszystke</md-button>
								<md-button class="md-raised mini-button" ng-click="paramBoxBulk(param,'clear')">odznacz wszystke</md-button>
							</div>
							<div class="mini-button-wrap" ng-repeat="num in []|range:dependVal(param)">
								<md-button class="md-icon-button round-button" ng-disabled="btnDisabled(param,num)" ng-class="{'clicked':optionClicked(param,num)}" ng-click="paramBox(param,num)">{{num+1}}</md-button>
							</div>
						</div>

						<div ng-if="param.type==7" style="font-size:18px;">
							<number-picker value="param.data.name" min="param.text.min" max="param.text.max" pos="2" step="param.text.step" calldep="param.name" layout="row" class="picker-pos-vert" btnclass="pick-button"></number-picker>
							<div class="param-notes" ng-if="param.notes&&param.notes.length>0">{{param.notes}}</div>
						</div>

					</div>
				</div>
			</section>

			<md-divider style="margin:20px 0 10px 0;"></md-divider>

			<div flex layout="row" layout-align="end center" style="margin-bottom:30px;">
				<!--<div style="margin-right:10px;"><input type="checkbox" ng-model="autonext"> <span>auto</span></div>-->
				<md-button class="nav-button" ng-click="prevStep()" ng-if="!prevDisabled()"><span>{& t('offer','btn_prevstep') &}</span></md-button>
				<md-button class="nav-button" ng-click="nextStep()" ng-if="!nextDisabled()"><span>{& t('offer','btn_nextstep') &}</span></md-button>
				<md-button class="nav-button" ng-click="toBasket()" ng-if="nextDisabled()"><span>{& t('offer','btn_addbasket') &}</span></md-button>
			</div>

		</div>
	</section>
</div>
</span>

{% endblock %}
