{% set name='panel' %}

{% extends "@layout/public.twig" %}

{% block header_css %}
	<link href="css/panel.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
	{% include "@partial/top-ribbon.twig" %}
	{% include "@partial/header.twig" with {'headxs':true} %}
{% endblock %}

{% block content %}
<div flex layout="row" layout-align="center center" ng-controller="panelController">
	<div class="page-wrap userpanel">
		<div class="headpage"><md-icon class="material-icons headicon">{& panelIcon &}</md-icon> {&panelTitle&}</div>

		<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="{& t('orders','msg_orderlist') &}">
			<md-content class="md-padding">
				<div ng-if="rows.length>0">
					<div layout="row" class="item-list-head">
						<div flex="5">{&t('orders','model_id')&}</div>
						<div flex>{&t('orders','model_created')&}</div>
						<div flex="40">Produkt(y)</div>
						<div flex>{&t('orders','label_itemprice')&}</div>
						<div flex>{&t('orders','model_status')&}</div>
						<div flex>{&t('site','label_action')&}</div>
					</div>

					<div>
					<div ng-repeat="order in rows" layout="row" class="item-list-row">
						<div flex="5">{{order.id}}</div>
						<div flex>{{order.created}}</div>
						<div flex="40">
							<div ng-repeat="item in order.items">{{item.category}} {{item.name}} x {{item.amount}}</div>
						</div>
						<div flex>{{order.brutto}} PLN</div>
						<div flex ng-style="{color:'#'+order.statusData.color}">
							<md-icon class="material-icons" ng-style="{color:'#'+order.statusData.color}">{{order.statusData.icon}}</md-icon>
							{{order.statusLabel}}
						</div>
						<div flex>
							<span class="action-btn" ng-click="show(order.id)">{&t('site','show')&}</span>
							<span class="action-btn" ng-if="order.upload" ng-click="show(order.id,true)">wgraj pliki</span>
						</div>
					</div>
					</div>

					{% include "@partial/paginator.twig" %}

				</div>

				<div ng-hide="rows.length>0">{& t('panel','msg_no_orders') &}</div>
			</md-content>
		</md-tab>

		<md-tab label="{&t('users','label_discount')&}">
			<md-content class="md-padding">
				<div class="panel-title2">{&t('panel','title_discounts')&}</div>
				<div layout="row" layout-wrap>
				{% for category in categories %}
				<div flex="25" layout="row">
					<div flex="50">{&category.name&}:</div><div flex="50">{{getDiscount('{&category.id&}')}} %</div>
				</div>
				{% endfor %}
				</div>
				<br />
				<md-divider></md-divider>
				<br />
				<div class="panel-title2">{&t('panel','title_coupons')&}</div>
				<div ng-if="coupons.length>0">
					<div layout="row" class="item-list-head">
						<div flex="5">{&t('coupons','model_id')&}</div>
						<div flex>{&t('coupons','model_created')&}</div>
						<div flex>{&t('coupons','model_amount')&}</div>
						<div flex>{&t('coupons','model_status')&}</div>
						<div flex>{&t('coupons','label_reason')&}</div>
					</div>
					<div>
						<div ng-repeat="coupon in coupons" layout="row" class="item-list-row">
							<div flex="5">{{coupon.id}}</div>
							<div flex>{{coupon.created}}</div>
							<div flex>{{coupon.amount}} PLN</div>
							<div flex>{{coupon.statusLabel}}</div>
							<div flex>{{coupon.reason}}</div>
						</div>
					</div>
				</div>
				<div ng-hide="coupons.length>0">{& t('coupons','msg_no_coupons') &}</div>
			</md-content>
		</md-tab>

		<md-tab label="{&t('users','label_followers')&}">
			<md-content class="md-padding">
				<div class="promote-wrap">
					<span class="promote-info">
						Poleć nas swoim znajomym by otrzymać atrakcyjne kupony zniżkowe
					</span>
					<button ng-click="sendInvite()" class="btn-red">wyślij zaproszenie</button>
				</div>

				<div ng-if="followers.length>0">
					<md-divider></md-divider>
					<br />
					<div class="panel-title2">Nasi klienci z Twojego polecenia</div>
					<div layout="row" class="item-list-head">
						<div flex="25">{&t('users','name')&}</div>
						<div flex="20">{&t('users','model_created')&}</div>
						<div flex="15">{&t('users','orders_brutto')&}</div>
						<div flex="10">{&t('users','orders_amount')&}</div>
						<div flex="15">{&t('users','orders_days')&}</div>
						<div flex="15">Kupon rabatowy</div>
					</div>
					<div>
						<div layout="row" class="item-list-row" ng-repeat="follower in followers">
							<div flex="25">{{follower.name}}</div>
							<div flex="20">{{follower.created}}</div>
							<div flex="15"><span ng-hide="follower.isRefunded">{{follower.ordersSum}} PLN</span></div>
							<div flex="10"><span ng-hide="follower.isRefunded">{{follower.ordersCount}}</span></div>
							<div flex="15"><span ng-if="follower.lastDate">{{follower.lastDate}} ({{follower.lastDays+" "+(follower.lastDay==1?"dzień":"dni")}})</span></div>
							<div flex="15">{{follower.isRefunded?"{&t('site','yes')&}":"{&t('site','no')&}"}}</div>
						</div>
					</div>
				</div>
			</md-content>
		</md-tab>

		<md-tab label="{&t('users','label_personal')&}">
			<md-content class="md-padding">
				<div ng-if="errLen(errors)>0" class="errors-wrap">
					<div ng-repeat="error in errors">{{error[0]}}</div>
				</div>
				<div layout="row">
					<div flex="33">
						<div class="panel-title2">Dane osobowe</div>
						<div style="width:280px;">
							<label>{&t('users','model_firstname')&}:</label>
							<input type="text" ng-model="user.firstname" class="field">
						</div>
						<div style="width:280px;">
							<label>{&t('users','model_lastname')&}:</label>
							<input type="text" ng-model="user.lastname" class="field">
						</div>
						<div style="width:280px;">
							<label>{&t('users','model_phone')&}:</label>
							<input type="text" ng-model="user.phone" class="field">
						</div>
					</div>
					<div flex="33">
						<div class="panel-title2">Dane do wysyłki</div>
						<div style="width:300px;">
							<label>{&t('orders','label_shipaddr_name')&}:</label>
							<input type="text" ng-model="user.params.shipping.name" class="field">
						</div>
						<div style="width:300px;">
							<label>{&t('orders','label_shipaddr_street')&}:</label>
							<input type="text" ng-model="user.params.shipping.street" class="field">
						</div>
						<div style="width:300px">
							<label>{&t('orders','label_shipaddr_postcode')&}</label>
							<input type="text" ng-model="user.params.shipping.postcode" class="field">
						</div>
						<div style="width:300px">
							<label>{&t('orders','label_shipaddr_postcity')&}</label>
							<input type="text" ng-model="user.params.shipping.postcity" class="field">
						</div>
					</div>
					<div flex="33">
						<div class="panel-title2">Dane do faktury</div>
						<div style="width:300px;">
							<label>{&t('orders','label_invoice_name')&}</label>
							<input type="text" ng-model="user.params.invoice.name" class="field">
						</div>
						<div style="width:300px;">
							<label>{&t('orders','label_invoice_nip')&}</label>
							<input type="text" ng-model="user.params.invoice.nip" class="field">
						</div>
						<div style="width:300px;">
							<label>{&t('orders','label_invoice_street')&}</label>
							<input type="text" ng-model="user.params.invoice.street" class="field">
						</div>
						<div style="width:300px;">
							<label>{&t('orders','label_invoice_postcode')&}</label>
							<input type="text" ng-model="user.params.invoice.postcode" class="field">
						</div>
						<div style="width:300px">
							<label>{&t('orders','label_invoice_postcity')&}</label>
							<input type="text" ng-model="user.params.invoice.postcity" class="field">
						</div>
					</div>
				</div>
				<div>
					<button class="btn-red" ng-click="save()">{&t('site','save')&}</button>
				</div>
			</md-content>
		</md-tab>

		<md-tab label="{&t('users','label_changepass')&}">
			<md-content class="md-padding">
				<div ng-if="errLen(errors2)>0" class="errors-wrap">
					<div ng-repeat="error in errors2">{{error[0]}}</div>
				</div>
				<div style="width:300px">
					<label>{&t('users','password0')&}</label>
					<input type="password" ng-model="form.password0" class="field">
				</div>
				<div style="width:300px">
					<label>{&t('users','password_new')&}</label>
					<input type="password" ng-model="form.password" class="field">
				</div>
				<div style="width:300px">
					<label>{&t('users','password2')&}</label>
					<input type="password" ng-model="form.password2" class="field">
				</div>
				<div>
					<button ng-click="pass()" class="btn-red">{&t('site','change')&}</button>
				</div>
			</md-content>
		</md-tab>

		{% if app.user.indentity.projects|length>0 %}
		<md-tab label="Projekty zewnętrzne">
			<!-- lista nieprzypiętych projektów z zalamo itp.-->
		</md-tab>
		{% endif %}

		</md-tabs>

	</div>
</div>

<script type="text/javascript">
app.controller('panelController',function($scope,$http,$window,$mdDialog) {

	$scope.user={&user|toJson|raw&};
	$scope.form={};
	$scope.errors={};
	$scope.errors2={};
	$scope.rows={&orders|toJson|raw&};
	$scope.pagination={& pager|toJson|raw &};

	$scope.coupons={&coupons|toJson|raw&};
	$scope.followers={&followers|toJson|raw&};

	$scope.getDiscount=function(cat) {
		if ($scope.user.params && $scope.user.params.discount && angular.isDefined($scope.user.params.discount[cat]) && $scope.user.params.discount[cat]>0) {
			return $scope.user.params.discount[cat];
		}
		return 0;
	}

	$scope.show=function(id,files) {
		var url=(files?"{& path(name~'/order',{'id':'changeme','files':'true'})|raw &}":"{& path(name~'/order',{'id':'changeme'})|raw &}");
		$window.location.href=url.replace('changeme',id);
	}

	$scope.save=function() {
		$http.post('{& path([name~"/save"]) &}',$scope.user,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			$scope.errors=[];
			if (data.saved==true) {
				$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('users','msg_saved')&}"});
			} else {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('users','msg_notsaved')&}"});
				$scope.errors=data.errors;
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		});
	}

	$scope.pass=function() {
		$http.post('{& path([name~"/savepass"]) &}',$scope.form,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			$scope.errors2=[];
			if (data.saved==true) {
				$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('site','msg_pass_reset')&}"});
			} else {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_pass_reset')&}"});
				$scope.errors2=data.errors;
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		});
	}

	$scope.errLen=function(a) {
		return Object.keys(a).length;
	}

{% include "@function/paginate.twig" %}

{% include "@function/showmsg.twig" %}

{% include "@function/recommend.twig" %}

	if ($scope.pagination!=null) $scope.createBar();

}); //end controller
</script>

{% include "@partial/recommend.twig" %}

	{% include "@partial/newsletter-ribbon.twig" %}
	{% include "@partial/bottom.twig" %}
{% endblock %}