{% set name='panel' %}

{% extends "@layout/public.twig" %}

{% block header_js %}
	<script type="text/javascript" src="lib/es5-shim.min.js"></script>
	<script type="text/javascript" src="lib/es5-sham.min.js"></script>
	<script type="text/javascript" src="lib/angular-file-upload.min.js"></script>
	<script src="http://zalamo.com/js/remote/projectselect/index.js"></script>
{% endblock %}

{% block header %}
	{% include "@partial/top-ribbon.twig" %}
	{% include "@partial/header.twig" with {'headxs':true} %}
{% endblock %}

{% block content %}
<script type="text/javascript">
app.requires.push('angularFileUpload');

app.controller('orderController',function($scope,$http,$mdDialog,FileUploader,$filter) {

	$scope.tabIndex={&files?1:0&};
	$scope.files={&model.files|toJson|raw&};
	$scope.projects={&model.projectsParsed|toJson|raw&};
	$scope.projects2=[];
	$scope.ftp={&model.user.params.ftp|toJson|raw&};

	$scope.delete=function(i) {
		if (confirm("{&t('orders','msg_delfile_confirm')&}")) {
			$http.post('{& path([name~"/filedel"]) &}',{'id':{&model.id&},'name':$scope.files[i].name},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
			.success(function(data) {
				if (data.delete) {
					if (data.files) $scope.files=data.files;
					$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('orders','msg_filedeleted')&}"});
				} else {
					$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('orders','err_filedeleted')&}. "+(data.error?data.error:"")});
				}
			})
			.error(function(data, status, headers) {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
			});
		}
	}

	$scope.size=function(s) {
		return (s/1024/1024).toFixed(2)+" MB";
	}

	$scope.itemClose=function(item) {
		item.remove();
	}

	$scope.itemReload=function(item) {
		item.upload();
	}

	$scope.itemCancel=function(item) {
		item.cancel();
	}

	$scope.uploader=new FileUploader({
		url: "{& path([name~'/upload']) &}",
		headers: {'X-CSRF-Token': '{& csrf() &}' },
		autoUpload: true,
		removeAfterUpload: false,
		onSuccessItem:function(item, response, status, headers) {
			if (angular.isDefined(response.error)) {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':response.error});
			} else {
				if (response.files) $scope.files=response.files;
			}
		},
		onErrorItem: function(item, response, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"Nieudany zapis pliku: "+item.file.name});
		},
		filters: [{
			name: 'sizeLimit',
			fn: function(item) {
				if (item.size>100000000) {
					$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"Plik '"+item.name+"' jest za duży (limit 100MB)"});
					return false;
				} else {
					return true;
				}
			}
		}],
		onBeforeUploadItem: function(item) {
			item.formData=[{'id':{&model.id&}}];
		}
	});

	$scope.attach=function(hash,pos,provider) {
		$http.post('{& path([name~"/updateorder"]) &}',{'mode':'get','id':{&model.id&},'pos':pos,'hash':hash,'provider':provider},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			if (data.saved==true&&data.project) {
				if (angular.isUndefined($scope.projects[pos])) $scope.projects[pos]=[];
				$scope.projects[pos].push(angular.copy(data.project));
				$scope.projflat();
				$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('panel','msg_pined')&}"});
			} else {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('panel','msg_notpined')&}"});
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		});
	}

	$scope.deattach=function(project) {
		$http.post('{& path([name~"/updateorder"]) &}',{'mode':'del','id':{&model.id&},'pos':project.itemPos,'hash':project.hash},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			if (data.saved==true) {
				$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('panel','msg_unpined')&}"});
				$scope.projects[project.itemPos]=$filter('omit')($scope.projects[project.itemPos],'hash=="'+project.hash+'"');
				$scope.projflat();
			} else {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('panel','msg_notunpined')&}"});
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		});
	}

{% include "@function/showmsg.twig" %}

	$scope.openZalamo=function(pos) {
		zalamoPickProject({

		}, function (details) {
			console.log(details);
			if (angular.isDefined(details.hash)) {
				if (angular.isUndefined($scope.projects[pos])||($filter('where')($scope.projects[pos],{'hash':details.hash})).length==0){
					$scope.attach(details.hash,pos,'zalamo');
				} else {
					$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"Ten projekt jest już przyłączony do tej pozycji zamówienia"});
				}
			} else {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"Nieprawidłowe dane z zalamo.com"});
			}
			window.focus();
		})
	}

	$scope.projflat=function() {
		var items=[];
		{% for item in model.items %}items.push("{&item.category~" "~item.name&}");{% endfor %}
		var projs=angular.copy($scope.projects);
		angular.forEach(projs,function(item,k) {
			angular.forEach(item, function(subitem) {
				subitem.itemName=items[k];
				subitem.itemPos=k;
			});
		});
		$scope.projects2=$filter('flatten')(projs);
	}

	$scope.projflat();

	$scope.createFTP=function() {
		$http.post('{& path([name~"/updateftp"]) &}',{},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			if (data.ftp) {
				$scope.ftp=data.ftp;
				$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('panel','msg_ftpcreated')&}"});
			} else {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('panel','err_ftpcreated')&}"});
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		});
	}

}); //end controller
</script>

<div flex layout="row" layout-align="center center" style="margin-bottom:50px;" ng-controller="orderController">
	<div class="page-wrap userpanel">
		<div class="headpage"><md-icon class="material-icons headicon">{& panelIcon &}</md-icon> {&panelTitle&} nr {&model.id&}</div>

		<div layout="row" layout-align="end center"><a href="{&path(['panel/index'])&}">wróć do panelu użytkownka</a>
		</div>
		{% if newOrder %}
		<div></div><!-- dziekujemy -->
		{% endif %}

		<md-tabs md-dynamic-height md-stretch-tabs="never" md-selected="tabIndex">
		<md-tab label="Szczegóły zamówienia">
			<md-content class="md-padding" style="overflow:visible;">
				<div class="title2">{&t('orders','label_data')&}</div>
				<div layout="row" class="item-list-head">
					<div flex>{&t('orders','model_status')&}</div>
					<div flex>{&t("orders","model_created")&}</div>
					<div flex>{&t("orders","label_payment")&}</div>
					<div flex>{&t("orders","label_shipping")&}</div>
					<div flex>{&t("orders","label_invoice")&}</div>
					<div flex>{&t("orders","label_coupons")&}</div>
				</div>
				<div>
					<div layout="row" class="item-list-row">
						<div flex>
							<md-icon class="material-icons" style="color:#{&model.statusData.color&}">{&model.statusData.icon&}</md-icon>
							<span style="color:#{&model.statusData.color&}">{&model.statusLabel&}</span>
						</div>
						<div flex>{&model.created&}</div>
						<div flex>{&model.paymentLabel&}</div>
						<div flex>{&model.shippingLabel&}</div>
						<div flex>{&model.invoiceLabel&}</div>
						<div flex>{% if model.params.couponDiscount>0 %}{&model.params.couponDiscount&} PLN / {&model.params.coupons|length&} szt. {%else%}brak{% endif %}</div>
					</div>
				</div>

				<div style="height:20px;"></div>

				<div class="title2">{&t('orders','label_user')&}</div>
				<div style="background-color:#fbfcff;margin-bottom:20px;padding:20px;border:1px solid #e7e7e7" layout="row">
					<div flex="33">
						<div>{&t('users','name')&}: {&model.user.name&}</div>
						<div>{&t('users','model_email')&}: {&model.user.email&}</div>
						<div>{&t('users','model_phone')&}: {&model.user.phone&}</div>
					</div>
					<div flex="33">
						<div>{&t('orders',(model.params.ship.type==1?'label_colladdr':'label_shipaddr'))&}:</div>
						<div>{&nl2br(model.location)|raw&}</div>
					</div>
					<div flex="33">
						<div>{&t('orders','label_invoice_data')&}:</div>
						<div>{&nl2br(model.invoiceData)|raw&}</div>
					</div>
				</div>

				<div class="title2">{&t('orders','label_items')&}</div>
				<div layout="row" class="item-list-head">
					<div flex="15">{&t('orders','label_product')&}</div>
					<div flex="55">{&t('orders','label_config')&}</div>
					<div flex="5">{&t('orders','label_amount')&}</div>
					<div flex="10">{&t('orders','label_itemprice')&}</div>
					<div flex="5">{&t('orders','label_discount')&}</div>
					<div flex="10">{&t('orders','label_price2')&}</div>
				</div>
				<div>
				{% for item in model.items %}
				<div layout="row" class="item-list-row">
					<div flex="15">{&item.category&} {&item.name&}</div>
					<div flex="55">{% for param in toArray(item.config) %} <i>{&param.name&}:</i> <b>{&param.value|join(", ")&}</b>{& loop.last?"":" | "&}{% endfor %}</div>
					<div flex="5">{&item.amount&}</div>
					<div flex="10">{&item.price&} PLN</div>
					<div flex="5">{&item.discount&}%</div>
					<div flex="10">{&item.price2?item.price2:item.price&} PLN</div>
				</div>
				{% endfor %}
				</div>
				<div layout="row" layout-align="end center" class="item-list-row">
					<div flex="15" >
						{&t('orders','label_shipcost')&}: &nbsp; + {&model.params.shipCost|default(0)&} PLN<br />
						{% if model.params.couponDiscount>0 %}{& t('orders','label_discount') &}: &nbsp; - {& model.params.couponDiscount &} PLN<br />{% endif %}
						{&t('orders','label_total')&}: &nbsp; <span style="color:#df0024;font-size:14px;">{& model.brutto &} PLN</span>
					</div>
				</div>
			</md-content>
		</md-tab>

		<md-tab label="Załączone pliki">
			<md-content class="md-padding">
				{% if model.canUpload() %}
				<div layout="row">
					<div flex="50" class="user-boxes">
						<strong>Wgraj pliki za pomocą FTP</strong>
						<div ng-if="ftp!=null" style="font-size:1.2em;margin-top:20px;">
							<div>HOST FTP: {&app.params.ftphost&}</div>
							<div>UŻYTKOWINK: {{ftp.user}}</div>
							<div>HASŁO: {{ftp.pass}}</div>
						</div>

						<div ng-if="ftp==null" style="margin-top:20px;">
							<button  class="btn-red" ng-click="createFTP()">utwórz konto FTP</button>
						</div>

						<md-divider style="margin:20px 0;"></md-divider>

						<strong>Wgraj pliki za pomocą przeglądarki</strong>

						<div style="margin-top:20px;">
							<input type="file" nv-file-select="" uploader="uploader" multiple />
						</div>

						<div ng-if="uploader.queue.length>0" style="margin-bottom:20px;"></div>

						<div ng-repeat="item in uploader.queue" class="item-list-row" layout="row">
							<div flex="70">
								<div>{{item.file.name}} ({{item.progress}}%)</div>
								<div ng-if="uploader.isHTML5&&item.isUploading">
									<md-progress-linear md-mode="determinate" value="{{item.progress}}"></md-progress-linear>
								</div>
							</div>
							<div flex="15">{{size(item.file.size)}}</div>
							<div flex="15">
								<md-button class="md-icon-button" ng-if="item.isUploading" ng-click="itemCancel(item)"><md-icon class="material-icons">cancel</md-icon></md-button>
								<md-button class="md-icon-button" ng-if="item.isSuccess" ng-click="itemClose(item)"><md-icon class="material-icons">done</md-icon></md-button>
								<md-button class="md-icon-button" ng-if="item.isError||item.isCancel" ng-click="itemReload(item)"><md-icon class="material-icons">cached</md-icon></md-button>
							</div>
						</div>
					</div>
					<div flex="5"></div>
					<div flex="45" class="user-boxes">
						<div layout="row" layout-align="start center">
							<div><img src="/images/zalamo1.jpg" alt=""></div>
							<div flex="10"></div>
							<div><strong>Wykorzystaj swoje gotowe projekty ze strony zalamo.com</strong></div>
						</div>
						<div style="font-size:1.2em; margin:10px 0;">Przyłącz projekt do pozycji:</div>
						<div layout="row" layout-wrap>
							{% for item in model.items %}
							<div flex="50">{& item.category.name &} {&item.name&}</div>
							<div flex="50"><button class="btn-red" ng-click="openZalamo({&loop.index0&})">przyłącz</button></div>
							{% if not loop.last %}<div flex="grow"><md-divider style="margin:10px 0;"></md-divider></div>{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>

				<div ng-if="projects2.length>0">
					<md-divider style="margin:30px 0;"></md-divider>
					<div class="title2">{&t('panel','list_projects')&}</div>
					<div layout="row" layout-fill layout-wrap>
						<div flex="25" ng-repeat="project in projects2" style="border:1px solid #f5f5f5;padding:10px;margin-right:20px;">
							<div style="font-size:1.2em;">{{project.itemPos+1}}) {{project.itemName}}</div>
							<strong>Dostawca:</strong> {{project.provider}}<br />
							<div ng-if="project.mode=='project'">
								<strong>Nazwa projektu:</strong> {{project.name}}<br />
								<strong>Rozmiary:</strong> {{project.width}} mm x {{project.height}} mm<br />
							</div>
							<div ng-if="project.mode=='print'">
								<div ng-repeat="pos in project.data">
								<span ng-repeat="(k,v) in pos">{{k}}: {{v}}<span ng-if="!$last">, </span></span>
								</div>
								<md-divider ng-if="!$last"></md-divider>
							</div>
							<span class="action-btn" ng-click="deattach(project)">{&t('panel','unpin')&}</span>
						</div>
					</div>
				</div>

				<md-divider style="margin:30px 0;"></md-divider>
				{% endif %}

				<div>
					<div class="title2">{&t('orders','list_files')&}</div>
					<div ng-if="files.length>0">
						{& t('orders','files_amount')&}: {{files.length}}
						<div class="item-list-row" layout="row" ng-repeat="item in files" layout-fill>
							<div flex="5"><md-icon class="material-icons">{{item.dir?'folder':'insert_drive_file'}}</md-icon></div>
							<div flex="80">{{item.name}}</div>
							<div flex="10">{{size(item.size)}}</div>
							<div flex="5"><span class="action-btn" ng-click="delete($index)">{&t('site','delete')&}</span></div>
						</div>
					</div>
					<div ng-if="files.length==0">{&t('orders','msg_no_files')&}</div>
				</div>

			</md-content>
		</md-tab>
		</md-tabs>

	</div>
</div>

	{% include "@partial/newsletter-ribbon.twig" %}
	{% include "@partial/bottom.twig" %}
{% endblock %}