<div flex layout="row" layout-align="center center" style="{&wrapcss|raw&}" id="{&divid&}">
	<div class="page-width">
		{% if title %}<div style="{&titlecss|raw&}" class="category-title">{& category.name &}</div>{% endif %}
		{% for article in articles %}
		<div layout="row" class="article-row">
			<div flex="40" class="image"><img src="{&article.getFoto()&}" /></div>
			<div flex="60" layout="row" class="content" layout-align="start start" layout-wrap>
				<div class="title" flex="100">{&article.title&}</div>
				<div class="date" flex="100">{&article.date&}</div>
				<div class="intro" flex="100">{&article.intro|raw&}</div>
				{% if article.full|length>0 %}
				<div layout="row" layout-align="end end" layout-fill>
					<a class="link" href="{&path('articles/show',{'id':article.id,'title':article.title})&}">{& t('site','more') &}</a>
				</div>
				{% endif %}
			</div>
		</div>
		{% endfor %}
		{% if more and count > limit %}
		<div layout="row" layout-align="center center">
			<md-button class="md-raised" href="{& path('articles/category',{'id':2}) &}">{& t('articles','all_news') &}</md-button>
		</div>
		{% endif %}
	</div>
</div>
