{% if title %}<div class="{&titlecss&}">{&menu.name&}</div>{% endif %}
<div class="{&wrapcss&}">
	{% for item in items %}
	<div class="{&itemcss&} {&item.class?item.class~' '&}menuitem-{&item.id&}"{% if item.style %} style="{&item.style&}"{% endif %}>
		<a href="{&item.url|raw &}">{&item.name&}</a>
		{% if childrens %}
			{% set childs=item.children(1).all() %}
			{% if childs|length>0 %}
			<div class="submenu" layout="row" layout-wrap style="width:{& colwidth*cols &}px">
			{% for subitem in childs %}
				<div class="subitem {&subitem.class?subitem.class~' '&}menuitem-{&subitem.id&}" {% if subitem.style %}style="{&subitem.style&}" {% endif %}flex="{&(100/cols)|round(0,'floor')&}"><a href="{& subitem.url|raw &}">{& subitem.name &}</a></div>
			{% endfor %}
			</div>
			{% endif %}
		{% endif %}
	</div>
	{% endfor %}
</div>
