<script type="text/javascript">
app.controller('slideController',function($scope,$timeout) {

	$scope.slide=-1;
	$timeout(function(){$scope.slide=0; },100);

	$scope.wait=6500;

	$scope.$watch('slide',function(n,o) {
	});

	$scope.prev=function() {
		if ($scope.slide<=0) $scope.slide={&maxslide&};
			else $scope.slide--;
		$scope.clearTimer();
		$scope.setTimer();
	}

	$scope.next=function(clear) {
		if (clear) $scope.clearTimer();
		if ($scope.slide>={&maxslide&}) $scope.slide=0;
			else $scope.slide++;
		$scope.setTimer();
	}

	$scope.setTimer=function() {
		$scope.timer=$timeout($scope.next,$scope.wait);
	}

	$scope.clearTimer=function() {
		$timeout.cancel($scope.timer);
	}

	{% if maxslide>=1 %}$scope.setTimer();{% endif %}

}); //sliderController
</script>

<div layout="column" id="slideHolder" class="slide-holder" layout-align="center start" ng-controller="slideController">
	<div class="navi navi-prev-wrap" ng-click="prev()" layout="row" layout-align="end center">
		<div class="navi-btn navi-prev"  layout="row" layout-align="center center">
			<i class="material-icons">&#xE314;</i>
		</div>
	</div>

	{% for slide in articles %}
	<div class="slide-wrap" ng-if="slide=={&loop.index0 &}">
		<div class="slidebg" ng-style="{'background-image':'url({&slide.foto&})'}"></div>
		<div class="slide" layout="row" layout-align="center center">
			<div flex="100">
			<div class="title">{& slide.title &}</div>
			<div class="text">{& slide.full|raw &}</div>
			{% if slide.params and slide.params.link %}<div class="button"><a href="{& slide.params.link.url &}">{& slide.params.link.label &}</a></div>{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}

	<div class="navi navi-next-wrap" ng-click="next(true)" layout="row" layout-align="start center">
		<div class="navi-btn navi-next" layout="row" layout-align="center center">
			<i class="material-icons">&#xE315;</i>
		</div>
	</div>
</div>
