{% set name='users' %}

{% extends "@partial/list.twig" %}

{% block controller %}

	$scope.show=function(id) {
		$window.location.href="{& path(name~'/show',{'id':'changeme'})|raw &}".replace('changeme',id);
	}

	$scope.showGroup=function(id) {
		$window.location.href="{& path(name~'/clients',{'group':'changeme'})|raw &}".replace('changeme',id);
	}

	$scope.showContacts=function(id) {
		$window.location.href="{& path('contacts/index',{'owner':'changeme'})|raw &}".replace('changeme',id);
	}

	$scope.showOrders=function(id) {
		$window.location.href="{& path('orders/index',{'group':'changeme'})|raw &}".replace('changeme',id);
	}

{% if app.user.id==1 %}
	$scope.sudo=function(id) {
		$window.location.href="{& path(name~'/sudo',{'id':'changeme'})|raw &}".replace('changeme',id);
	}
{% endif %}

	$scope.delete=function(i){
		if (confirm("{&t('users','msg_delconfirm')&}")) {
			$http.post('{& path(name~"/delete") &}',{'id':$scope.rows[i].id},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
			.success(function(data) {
				if (data.delete) {
					$scope.rows.splice(i,1);
					$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('users','msg_deleted')&}"});
				} else {
					$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('users','msg_notdeleted')&}"});
				}
			})
			.error(function(data, status, headers) {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
			});
		}
	}

	{% if group!=null %}$scope.listTitle+=" &nbsp;&raquo;"+{&group.name|toJson|raw&}+"&laquo;";{% endif %}

	$scope.statuses={&statuses|toJson|raw&}
	$scope.priorities={&priorities|toJson|raw&}

	$scope.baseTitle=angular.copy($scope.listTitle);
	$scope.paramTitle={&paramTitle|toJson|raw&};

	$scope.setStatus=function(status) {
		$scope.f.status=status;
		$scope.getList(1);
	};

	$scope.setVip=function(status) {
		$scope.f.vip=status;
		$scope.getList(1);
	};

	$scope.setBuyer=function(i) {
		$scope.f.buyer=i;
		$scope.getList(1);
	};

	$scope.$watch("f.vip", function(){
		$scope.createTitle();
	});

	$scope.$watch("f.status", function(){
		$scope.createTitle();
	});

	$scope.createTitle=function() {
		if (angular.isDefined($scope.f.status)||angular.isDefined($scope.f.vip)) {
			$scope.listTitle=angular.copy($scope.paramTitle);
			if (angular.isDefined($scope.f.status)) $scope.listTitle+=" ze statusem &nbsp;&raquo;"+$scope.statuses[$scope.f.status]+"&laquo;";
			if (angular.isDefined($scope.f.vip)) $scope.listTitle+=" "+(angular.isDefined($scope.f.status)?"i":"o")+" ważności &nbsp;&raquo;"+$scope.priorities[$scope.f.vip]+"&laquo;";

			{% if group!=null %}
			$scope.listTitle+=" handlowca &raquo;"+{&group.name|toJson|raw&}+"&laquo;"
			{% endif %}
		} else {
			$scope.listTitle=angular.copy($scope.baseTitle);
		}
	}

	$scope.findString=function() {
		$scope.getList(1);
	}

{% include "@function/sendmessage.twig" %}

{% include "@function/freshmail.twig" %}

{% endblock %}

{% block panel %}
<div layout="row">
	<div flex="50">
		<md-input-container style="width:300px;">
			<label>{& t('users','find_string') &}</label>
			<input ng-model="f.string">
		</md-input-container>
		<md-button class="btn-red" ng-click="findString()">{&t('site','search')&}</md-button>
	</div>
	<div flex="50">
		<md-button class="btn-red" ng-click="sendMessage()" ng-disabled="pagination.totalCount==0||loading">{&t('users','btn_sendmsg')&}</md-button>
		<md-button class="btn-red" ng-click="freshmail()" ng-disabled="pagination.totalCount==0||loading">{&t('users','btn_freshmail')&}</md-button>
	</div>
</div>


<div class="tabs-btn" layout="row">
	<div flex="40">
	Status:<br />
	<md-button ng-click="setStatus(undefined)" ng-class="{'active':f.status==undefined}">{&t('users','status_all')&}</md-button>
	{% for k,status in statuses%}
	<md-button ng-click="setStatus({&k&})" ng-class="{'active':f.status=={&k&}}">{&status&}</md-button>
	{% endfor%}
	</div>
	{% if not hideVip %}
	<!--<div flex="30">
		Ważność:<br />
		<md-button ng-click="setVip(undefined)" ng-class="{'active':f.vip==undefined}">{&t('users','priority_all')&}</md-button>
		{% for k,priority in priorities%}
		<md-button ng-click="setVip({&k&})" ng-class="{'active':f.vip=={&k&}}">{&priority&}</md-button>
		{% endfor%}
	</div>-->
	<div flex="30">
		Zakupy:<br />
		<md-button ng-click="setBuyer(undefined)" ng-class="{'active':f.buyer==undefined}">{&t('users','status_all')&}</md-button>
		<md-button ng-click="setBuyer(0)" ng-class="{'active':f.buyer==0}">{&t('site','no')&}</md-button>
		<md-button ng-click="setBuyer(1)" ng-class="{'active':f.buyer==1}">{&t('site','yes')&}</md-button>
		<md-button ng-click="setBuyer(2)" ng-class="{'active':f.buyer==2}">3 m. bez</md-button>
	</div>
	{% endif %}
</div>
{% endblock %}

{% set sort=hideVip?[null,'lastname',null,null,null,'brutto','ilosc','days']:[null,'lastname',null,null,null,null,'brutto','ilosc','days'] %}
{% set cols=[
	t('users','model_id'),
	t('users','name2'),
	t('users','model_status'),
	hideVip?null:t('users','model_vip'),
	t('users','model_created'),
	paramCol,
	t('users','orders_brutto'),
	t('users','orders_amount'),
	t('users','orders_days'),
	t('site','label_action')
] %}



{% block rows %}
	<td>{{row.id}}</td>
	<td>
		<span ng-if="row.admin>0" style="font-weight:bold;">{{row.name}} <md-icon class="material-icons" >supervisor_account</md-icon></span>
		<span ng-if="row.admin<1">{{row.name}}</span>
	</td>
	<td>{{row.statusLabel}}</td>
	{% if not hideVip %}<td>{{row.vip?"{&t('site','yes')|upper&}":"{&t('site','no')&}"}}</td>{% endif %}
	<td>{{row.created}}</td>
	<td>
		<span ng-if="row.admin<1">
		<span ng-click="show(row.merchant.id)" ng-if="row.merchant">{{row.merchant.name}}</span>
		<span ng-if="row.customersCount">{{row.customersCount}}</span>
		</span>
	</td>
	<td><span ng-if="row.admin<1">{{row.ordersSum}} PLN</span></td>
	<td><span ng-if="row.admin<1">{{row.ordersCount}}</span></td>
	<td><span ng-if="row.lastDate&&row.admin<1">{{row.lastDate}}<br />({{row.lastDays}} dni)</span></td>
	<td>
		<span class="action-btn" ng-click="show(row.id)">{& t('site','show') &}</span>
		<span class="action-btn" ng-click="delete($index)" ng-if="row.removable">{&t('site','delete')&}</span>
		<span class="action-btn" ng-click="showGroup(row.id)" ng-if="row.customersCount>0">{&t('users','show_group')&}</span>
		<span class="action-btn" ng-click="showOrders(row.id)" ng-if="row.ordersCount>0">{&t('users','show_orders')&}</span>
		<span class="action-btn" ng-click="showContacts(row.id)" ng-if="row.contactsCount>0">{&t('users','show_contacts')&}</span>
		{% if app.user.id==1 %}<span class="action-btn" ng-click="sudo(row.id)" ng-if="row.id!={&app.user.id&}">sudo</span>{% endif%}
		<!--<span class="action-btn" ng-click="send(row.id)">{&t('users','btn_sendmsg')&}</span>-->
	</td>
{% endblock %}

{% block bottom%}
{% include "@partial/sendmessage.twig" %}

{% include "@partial/freshmail.twig" %}
{% endblock %}