{% set name='users' %}
{% extends "@layout/admin.twig" %}

{% block header_css %}
{% include "@partial/calendar-css.twig" %}
{% endblock %}

{% block header_js %}
{% include "@partial/calendar-js.twig" %}
{% endblock %}

{% block content %}
<script type="text/javascript">
app.requires.push('ui.calendar');

app.controller('showController',function($scope,$window,$http,$mdDialog,$filter,uiCalendarConfig,$timeout,$compile) {

	$scope.tab={&model.can('customer')?"0":"5"&};
	$scope.message={'email':"{&user.email|raw&}"};
	$scope.user={&user|toJson|raw&};
	$scope.newNote={"text":""};

	if (angular.isArray($scope.user.params)) $scope.user.params={};

	$scope.setTab=function(i) {
		$scope.tab=i;
	}

	$scope.sendMsg=function() {
		$http.post('{& path(name~"/message") &}',$scope.message,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			if (data.status==true) {
				$scope.message={'email':"{&user.email|raw&}"};
				$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('site','msg_form_sent')&}"});
			} else {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_form_sent')&} "+(data.msg?data.msg:"")});
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		});
	}

	$scope.save=function(mode) {
		var out={'id':{&model.id&},'mode':mode,'user':$scope.user};

		$http.post('{& path(name~"/save") &}',out,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			if (data.saved==true) {
				$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('users','msg_saved')&}"});
			} else {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('users','msg_notsaved')&} "+(data.msg?data.msg:"")});
				if (data.errors) $scope.errors=data.errors;
					else $scope.errors={};
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		});
	}

	$scope.addNote=function() {
		if ($scope.newNote.text.length>2) {
			var created=$filter('date')(Date.now(), "yyyy-MM-dd HH:mm:ss");
			$scope.user.notes.push({"creator":"{& app.user.identity.name &}","creator_id":"{& app.user.id &}","created":created,"text":$scope.newNote.text});
			$scope.newNote.text="";
			$scope.save('notes');
		} else {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('users','err_no_note')&}"});
		}
	}

	$scope.delNote=function(pos) {
		$scope.confirmMsg({'title':"{& t('site','confirm_title') &}",'msg':"{& t('users','msg_delnote') &}"})
		.then(function() {
			$scope.user.notes.splice(pos,1);
			$scope.save('notes');
		});
	}

{% include "@function/event.twig"  %}

	$scope.events = {& events|toJson|raw&};
	$scope.sources=[$scope.events];
	$scope.calendar.defaultView="listMonth";

	$timeout(function() {
		if (uiCalendarConfig.calendars.myCal) uiCalendarConfig.calendars.myCal.fullCalendar('render');
	},500);
 
{% include "@function/showmsg.twig" %}

{% include "@function/confirmmsg.twig" %}

}); //end controller
</script>

<div class="users page-width" layout="row" style="margin-bottom:25px;">
	<div flex="30">
		<div class="group-label">Informacje</div>
		<table>
			<tr>
				<td class="label-col">{&t('users','model_email')&}:</td>
				<td class="data-col">{&model.email&}</td>
			</tr>
			<tr>
				<td class="label-col">{&t('users','name')&}:</td>
				<td class="data-col">{&model.name&}</td>
			</tr>
			<tr>
				<td class="label-col">{&t('users','model_vip')&}:</td>
				<td class="data-col">{& t('site',model.vip?"yes":"no")&}</td>
			</tr>
			<tr>
				<td class="label-col">{&t('users','model_id')&}:</td>
				<td class="data-col">{&model.id&}</td>
			</tr>
			<tr>
				<td class="label-col">{&t('orders','label_shipaddr')&}:</td>
				<td class="data-col">{&nl2br(model.getShipping(true))|raw&}</td>
			</tr>
			<tr>
				<td class="label-col">{&t('users','model_phone')&}:</td>
				<td class="data-col">{&model.phone&}</td>
			</tr>
			<tr>
				<td class="label-col">{&t('users','model_status')&}:</td>
				<td class="data-col">{&model.statusLabel&}</td>
			</tr>
			<tr>
				<td class="label-col">{&t('users','model_created')&}:</td>
				<td class="data-col">{&model.created&}</td>
			</tr>
			<tr>
				<td class="label-col">{&t('users','roles')&}:</td>
				<td class="data-col">{& model.roleLabel&}</td>
			</tr>
			<tr>
				<td class="label-col">{&t('users','orders_amount')&}:</td>
				<td class="data-col">{& model.getOrders().count()&}</td>
			</tr>
			<tr>
				<td class="label-col">{&t('users','orders_brutto')&}:</td>
				<td class="data-col">{& model.ordersSum &} PLN</td>
			</tr>
			{% if model.merchant %}
			<tr>
				<td class="label-col">{&t('users','model_group')&}:</td>
				<td class="data-col"><a href="{&path('users/show',{'id':model.merchant.id})&}">{& model.merchant.name&}</a></td>
			</tr>
			{% endif %}
			{% if model.referer %}
			<tr>
				<td class="label-col">{&t('users','model_refer')&}:</td>
				<td class="data-col"><a href="{&path('users/show',{'id':model.referer.id})&}">{& model.referer.name&}</a></td>
			</tr>
			{% endif %}

		</table>
	</div>
	<div flex="70" ng-controller="showController" class="users-edit">
		<div layout="row" layout-align="center start" style="margin-bottom:30px;">
			<div class="users-tabs" layout-fill>
				{% if model.can('customer') %}
				<md-button ng-click="setTab(0)" ng-class="{'active':tab==0}">Historia zamówień</md-button>
				<md-button ng-click="setTab(1)" ng-class="{'active':tab==1}">Wyślij wiadomość</md-button>
				<md-button ng-click="setTab(2)" ng-class="{'active':tab==2}">Rabaty</md-button>
				<md-button ng-click="setTab(3)" ng-class="{'active':tab==3}">Dane do wysyłki</md-button>
				<md-button ng-click="setTab(4)" ng-class="{'active':tab==4}">Dane do faktury</md-button>
				<md-button ng-click="setTab(9)" ng-class="{'active':tab==9}">Kalendarz</md-button>
				<md-button ng-click="setTab(6)" ng-class="{'active':tab==6}">Notatki</md-button>
				<md-button ng-click="setTab(7)" ng-class="{'active':tab==7}">Osoby zachęcone</md-button>
				<md-button ng-click="setTab(8)" ng-class="{'active':tab==8}">Kupony rabatowe</md-button>
				{% endif %}
				<md-button ng-click="setTab(5)" ng-class="{'active':tab==5}">Dane osobowe</md-button>
			</div>
		</div>

		<div ng-if="errors" class="error-box">
			<div ng-repeat="(k,error) in errors"><div ng-repeat="text in error">{{text}}</div></div>
		</div>

		{% if model.can('customer') %}
		<div ng-if="tab==0" class="tab-orders">
			{% if model.orders|length>0 %}
			<div layout="row" class="item-list-head">
				<div flex="10">{&t('orders','model_id')&}</div>
				<div flex="15">{&t('orders','model_created')&}</div>
				<div flex="40">Produkt(y)</div>
				<div flex="10">{&t('users','orders_brutto2')&}</div>
				<div flex="10">{&t('orders','model_status')&}</div>
				<div flex="15">{&t('site','label_action')&}</div>
			</div>
			{% else %}
			{& t('users','msg_no_orders') &}
			{% endif %}
			<div>
			{% for order in model.orders %}
			<div layout="row" class="item-list-row">
				<div flex="10">{&order.id&}</div>
				<div flex="15">{&order.created&}</div>
				<div flex="40">
					{% for item in order.items%}{&item.category&} {&item.name&} x {&item.amount&}{& loop.last?"":"," &}{% endfor %}
				</div>
				<div flex="10">{&order.brutto&}</div>
				<div flex="10">{&order.statusLabel&}</div>
				<div flex="15"><a class="more-link" href="{&path('orders/show',{'id':order.id})&}" target="_blank">{& t('site','show') &}</a></div>
			</div>
			{% endfor %}
			</div>
		</div>
		<div ng-if="tab==1">
			<div style="width:300px;">
				<label>{&t('users','label_msg_title')&}:</label>
				<input type="text" ng-model="message.subject">
			</div>
			<div style="width:300px;">
				<label>{&t('users','label_msg_text')&}:</label>
				<textarea ng-model="message.text"></textarea>
			</div>
			<md-button class="md-raised" ng-click="sendMsg()">{&t('site','send')&}</md-button>
		</div>
		<div ng-if="tab==2">
			<div layout="row" layout-wrap>
			{% for category in categories %}
			<div flex="25">
				<label>{&category.name&}:</label><br />
				<input type="text" ng-model="user.params.discount['{&category.id&}']" style="width:60%"> %
			</div>
			{% endfor %}
			</div>
			<md-button class="md-raised" ng-click="save('discount')">{&t('site','save')&}</md-button>
		</div>
		<div ng-if="tab==3">
			<div style="width:300px;">
				<label>{&t('orders','label_shipaddr_name')&}:</label>
				<input type="text" ng-model="user.params.shipping.name">
			</div>
			<div style="width:300px;">
				<label>{&t('orders','label_shipaddr_street')&}:</label>
				<input type="text" ng-model="user.params.shipping.street">
			</div>
			<div layout="row">
				<div style="width:300px">
					<label>{&t('orders','label_shipaddr_postcity')&}</label>
					<input type="text" ng-model="user.params.shipping.postcity">
				</div>
				<div style="width:150px;margin-left:40px">
					<label>{&t('orders','label_shipaddr_postcode')&}</label>
					<input type="text" ng-model="user.params.shipping.postcode">
				</div>
			</div>
			<md-button class="md-raised" ng-click="save('shipping')">{&t('site','save')&}</md-button>
		</div>
		<div ng-if="tab==4">
			<div style="width:300px;">
				<label>{&t('orders','label_invoice_name')&}</label>
				<input type="text" ng-model="user.params.invoice.name">
			</div>
			<div style="width:300px;">
				<label>{&t('orders','label_invoice_nip')&}</label>
				<input type="text" ng-model="user.params.invoice.nip">
			</div>
			<div style="width:300px;">
				<label>{&t('orders','label_invoice_street')&}</label>
				<input type="text" ng-model="user.params.invoice.street">
			</div>
			<div layout="row">
				<div style="width:300px">
					<label>{&t('orders','label_invoice_postcity')&}</label>
					<input type="text" ng-model="user.params.invoice.postcity">
				</div>
				<div style="width:150px;margin-left:40px">
					<label>{&t('orders','label_invoice_postcode')&}</label>
					<input type="text" ng-model="user.params.invoice.postcode">
				</div>
			</div>
			<div style="width:300px;">
				<label>{&t('users','payDefer')&}:</label>
				<input type="text" ng-model="user.params.payDefer">
			</div>
			<md-button class="md-raised" ng-click="save('invoice')">{&t('site','save')&}</md-button>
		</div>
		<div ng-if="tab==9">
			<div ui-calendar="calendar" ng-model="sources" calendar="myCal"></div>
		</div>
		<div ng-if="tab==6">
			<div ng-repeat="line in user.notes" style="margin-bottom:25px;padding-bottom:10px;position:relative;">
				<div>{{line.text}}</div>
				<div style="display:inline-block;font-style:italic;margin-top:10px;">Data utworzenia: {{line.created}} | Autor: {{line.creator}}</div>
				<div style="position:absolute;right:0;bottom:8px;"><button class="more-link" ng-click="delNote($index)">{& t('site','delete') &}</button></div>
			</div>
			<div style="width:400px;">
				Dodaj nową notatkę
				<textarea ng-model="newNote.text"></textarea>
			</div>
			<md-button ng-click="addNote()" class="md-raised">{& t('site','save') &}</md-button>
		</div>
		<div ng-if="tab==7">
			{% if model.followers|length>0 %}
			<div layout="row" class="item-list-head">
				<div flex="10">{&t('users','model_id')&}</div>
				<div flex="25">{&t('users','name')&}</div>
				<div flex="20">{&t('users','model_created')&}</div>
				<div flex="15">{&t('users','orders_brutto')&}</div>
				<div flex="10">{&t('users','orders_amount')&}</div>
				<div flex="15">{&t('site','label_action')&}</div>
			</div>
			{% else %}
			{& t('users','msg_no_followers') &}
			{% endif %}
			<div>
			{% for follower in model.followers %}
			<div layout="row" class="item-list-row">
				<div flex="10">{&follower.id&}</div>
				<div flex="25">{&follower.name&}{% if follower.vip %} <i class="material-icons vip-badge">verified_user</i>{% endif %}</div>
				<div flex="20">{&follower.created&}</div>
				<div flex="15">{&follower.ordersSum&} PLN</div>
				<div flex="10">{&follower.ordersCount&}</div>
				<div flex="15"><a class="more-link" href="{&path('users/show',{'id':follower.id})&}" target="_blank">{& t('site','show') &}</a></div>
			</div>
			{% endfor %}
			</div>
		</div>
		<div ng-if="tab==8">
			{% if model.coupons|length>0 %}
			<div layout="row" class="item-list-head">
				<div flex="5">{&t('coupons','model_id')&}</div>
				<div flex>{&t('coupons','model_created')&}</div>
				<div flex>{&t('coupons','model_amount')&}</div>
				<div flex>{&t('coupons','model_status')&}</div>
				<div flex>{&t('coupons','label_reason')&}</div>
			</div>
			{% else %}
			<div>{& t('coupons','msg_no_coupons') &}</div>
			{% endif %}
			{% for coupon in model.coupons %}
			<div layout="row" class="item-list-row">
				<div flex="5">{& coupon.id &}</div>
				<div flex>{& coupon.created &}</div>
				<div flex>{& coupon.amount &} PLN</div>
				<div flex>{& coupon.statusLabel &}</div>
				<div flex>{& coupon.reason &}</div>
			</div>
			{% endfor %}
		</div>
		{% endif %}
		<div ng-if="tab==5" layout="row">
			<div flex="50">
				<div style="width:280px;">
					<label>{&t('users','model_firstname')&}: </label>
					<input type="text" ng-model="user.firstname">
				</div>
				<div style="width:280px;">
					<label>{&t('users','model_lastname')&}:</label>
					<input type="text" ng-model="user.lastname">
				</div>
				<div style="width:280px;">
					<label>{&t('users','model_phone')&}:</label>
					<input type="text" ng-model="user.phone">
				</div>
				<md-button class="md-raised" ng-click="save('data')">{&t('site','save')&}</md-button>
			</div>
			<div flex="50">
				<div style="margin-left:30px;width:200px">
					<label>{&t('users','model_status')&}:</label><br />
					<select ng-model="user.status">
						{% for k,label in model.statuses %}
						<option value="{&k&}">{& label &}</option>
						{% endfor %}
					</select>
				</div>
				{% if app.user.identity.can('administrator') %}
				<div style="margin-left:30px;width:200px">
					<label>{&t('users','roles')&}:</label><br />
					<select ng-model="user.role">
						{% for role in roles %}
						<option value="{&role.id&}">{& role.label &}</option>
						{% endfor %}
					</select>
				</div>
				{% if model.can('customer')%}
				<div style="margin-left:30px;width:200px">
					<label>{&t('users','model_group')&}:</label><br />
					<select ng-model="user.group">
						{% for k,name in merchants %}
						<option value="{&k&}">{& name &}</option>
						{% endfor %}
					</select>
				</div>
				<div style="margin-left:30px;width:200px">
					<label>{&t('users','model_vip')&}:</label><br />
					<select ng-model="user.vip">
						<option value="0">{& t('site','no') &}</option>
						<option value="1">{& t('site','yes') &}</option>
					</select>
				</div>
				{% endif %}
				{% endif %}
			</div>
		</div>

	</div>
</div>

{% include "@partial/event.twig" %}

{% endblock %}