{% set name='contacts' %}

{% extends "@partial/edit.twig" %}

{% block controller %}
$scope.model.status=1;
$scope.buttons={
	'save':true
}

$scope.beforeSave=function(type) {
	//ew. sprawdzanie czy kontakt/klient już istnieje w bazie
	return true;
}

$scope.prepData=function() {
	var out=angular.copy($scope.model);
	if ($scope.note && $scope.note.length>0) {
		out.notes=[];
		var created=$filter('date')(Date.now(), "yyyy-MM-dd HH:mm:ss");
		out.notes.push({"creator":"{& app.user.identity.name &}","creator_id":"{& app.user.id &}","created":created,"text":$scope.note});
	}
	return out;
}

{% endblock %}

{% block bottom %}
<md-input-container class="md-block">
	<label>{&t('contacts','model_firstname')&}: </label>
	<input type="text" ng-model="model.firstname">
</md-input-container>

<md-input-container class="md-block">
	<label>{&t('contacts','model_lastname')&}: </label>
	<input type="text" ng-model="model.lastname">
</md-input-container>

<md-input-container class="md-block">
	<label>{&t('contacts','model_phone')&}: </label>
	<input type="text" ng-model="model.phone">
</md-input-container>

<md-input-container class="md-block">
	<label>{&t('contacts','model_email')&}: </label>
	<input type="text" ng-model="model.email">
</md-input-container>

<md-input-container class="md-block">
	<label>{& t('contacts','model_status') &}</label>
	<md-select ng-model="model.status">
		{% for k,label in statuses %}
		<md-option value="{& k &}">{& label &}</md-option>
		{% endfor %}
	</md-select>
</md-input-container>

<md-input-container class="md-block">
	<label>{& t('contacts','model_notes') &}</label>
	<textarea ng-model="note"></textarea>
</md-input-container>

<div style="height:50px"></div>
{% endblock %}