{% set name='contacts' %}

{% extends "@partial/list.twig" %}

{% block controller %}

	$scope.show=function(id) {
		$window.location.href="{& path(name~'/show',{'id':'changeme'})|raw &}".replace('changeme',id);
	}

	$scope.delete=function(i){
		if (confirm("{&t('contacts','msg_delconfirm')&}")) {
			$http.post('{& path(name~"/delete") &}',{'id':$scope.rows[i].id},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
			.success(function(data) {
				if (data.delete) {
					$scope.rows.splice(i,1);
					$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('contacts','msg_deleted')&}"});
				} else {
					$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('contacts','msg_notdeleted')&}"});
				}
			})
			.error(function(data, status, headers) {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
			});
		}
	}

	$scope.findString=function() {
		$scope.getList(1);
	}

	$scope.$watch("f.all", function(n,o){
		if (n!=o) $scope.getList(1);
	});

	{% if app.user.can("administrator") and owner!=null %}
	$scope.listTitle="{& t('contacts','panel_title_list') &} użytkownika &raquo;"+{&owner.name|toJson|raw&}+"&laquo;"
	{% endif %}

{% if app.user.can('merchant') %}{% include "@function/recommend.twig" %}{% endif %}

{% include "@function/showmsg.twig" %}

{% include "@function/sendmessage.twig" %}

{% if app.user.can('administrator') %}{% include "@function/freshmail.twig" %}{% endif %}

{% endblock %}

{% block panel %}
<div layout="row">
	<div flex="{&app.user.can('merchant')?'50':'60'&}">
		<md-input-container style="width:300px;">
			<label>{& t('contacts','find_string') &}</label>
			<input ng-model="f.string">
		</md-input-container>
		<md-button class="btn-red" ng-click="findString()">{&t('site','search')&}</md-button>
		{% if app.user.can("administrator") and owner is null %}
		<md-checkbox ng-model="f.all" aria-label="show all">Pokaż kontakty innych</md-checkbox>
		{% endif %}
	</div>
	<div flex="{&app.user.can('merchant')?'50':'40'&}">
		{% if app.user.can('merchant') %}<md-button class="btn-red" ng-click="sendInvite()" style="vertical-align:top">{& t('merchant','invite_user')&}</md-button>{% endif %}
		<md-button class="btn-red" ng-href="{& path(name~'/create') &}">{& t('contacts','btn_add')&}</md-button>
		<md-button class="btn-red" ng-click="sendMessage()" ng-disabled="pagination.totalCount==0||loading">{&t('users','btn_sendmsg')&}</md-button>
		{% if app.user.can('administrator') %}<md-button class="btn-red" ng-click="freshmail()" ng-disabled="pagination.totalCount==0||loading">{&t('users','btn_freshmail')&}</md-button>{% endif %}
	</div>
</div>
{% endblock %}

{% set sort=[
	null,'lastname',null,null,null,'created'
] %}
{% set cols=[
	t('contacts','model_id'),
	t('contacts','model_lastname'),
	t('contacts','model_firstname'),
	t('contacts','model_email'),
	t('contacts','model_phone'),
	t('contacts','model_created'),
	app.user.can("administrator")?t('contacts','model_owner'):null,
	t('site','label_action')
] %}

{% block rows %}
	<td>{{row.id}}</td>
	<td>{{row.lastname}}</td>
	<td>{{row.firstname}}</td>
	<td>{{row.email}}</td>
	<td>{{row.phone}}</td>
	<td>{{row.created}}</td>
	{% if app.user.can("administrator") %}<td>{{row.owner.name}}</td>{% endif %}
	<td>
		<span class="action-btn" ng-click="show(row.id)">{& t('site','show') &}</span>
		<span class="action-btn" ng-click="delete($index)">{&t('site','delete')&}</span>
	</td>
{% endblock %}

{% block bottom%}
{% include "@partial/sendmessage.twig" %}

{% if app.user.can('administrator') %}{% include "@partial/freshmail.twig" %}{% endif %}

{% if app.user.can('merchant') %}{% include "@partial/recommend.twig" %}{% endif %}
{% endblock %}