{% set name='contacts' %}
{% extends "@layout/admin.twig" %}

{% block header_css %}
{% include "@partial/calendar-css.twig" %}
{% endblock %}

{% block header_js %}
{% include "@partial/calendar-js.twig" %}
{% endblock %}

{% block content %}
<script type="text/javascript">
app.requires.push('ui.calendar');

app.controller('showController',function($scope,$window,$http,$mdDialog,$filter,uiCalendarConfig,$timeout,$compile,$window) {

	$scope.tab=1;
	$scope.message={'email':"{&user.email|raw&}"};
	$scope.user={&user|toJson|raw&};
	$scope.newNote={"text":""};

	if (angular.isArray($scope.user.params)) $scope.user.params={};

	$scope.setTab=function(i) {
		$scope.tab=i;
	}

	$scope.sendMsg=function() {
		$http.post('{& path(name~"/message") &}',$scope.message,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			if (data.status==true) {
				$scope.message={};
				$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('site','msg_form_sent')&}"});
			} else {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_form_sent')&} "+(data.msg?data.msg:"")});
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		});
	}

	$scope.save=function(mode) {
		var out={'id':{&model.id&},'mode':mode,'user':$scope.user};

		$http.post('{& path(name~"/save2") &}',out,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			if (data.saved==true) {
				$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('contacts','msg_saved')&}"});
			} else {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('contacts','msg_notsaved')&} "+(data.msg?data.msg:"")});
				if (data.errors) $scope.errors=data.errors;
					else $scope.errors={};
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		});
	}

	$scope.addNote=function() {
		if ($scope.newNote.text.length>2) {
			var created=$filter('date')(Date.now(), "yyyy-MM-dd HH:mm:ss");
			$scope.user.notes.push({"creator":"{& app.user.identity.name &}","creator_id":"{& app.user.id &}","created":created,"text":$scope.newNote.text});
			$scope.newNote.text="";
			$scope.save('notes');
		} else {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('contacts','err_no_note')&}"});
		}
	}

	$scope.delNote=function(pos) {
		$scope.confirmMsg({'title':"{& t('site','confirm_title') &}",'msg':"{& t('contacts','msg_delnote') &}"})
		.then(function() {
			$scope.user.notes.splice(pos,1);
			$scope.save('notes');
		});
	}


{% include "@function/event.twig"  %}

	$scope.events = {& events|toJson|raw&};
	$scope.sources=[$scope.events];
	$scope.calendar.defaultView="listMonth";

	$timeout(function() {
		if (uiCalendarConfig.calendars.myCal) uiCalendarConfig.calendars.myCal.fullCalendar('render');
	},500);


{% include "@function/showmsg.twig" %}

{% include "@function/confirmmsg.twig" %}

}); //end controller
</script>

<div class="users page-width" layout="row" style="margin-bottom:25px;">
	<div flex="30">
		<div class="group-label">Informacje</div>
		<table>
			<tr>
				<td class="label-col">{&t('contacts','name')&}:</td>
				<td class="data-col">{&model.name&}</td>
			</tr>
			<tr>
				<td class="label-col">{&t('contacts','model_email')&}:</td>
				<td class="data-col">{&model.email&}</td>
			</tr>
			<tr>
				<td class="label-col">{&t('contacts','model_id')&}:</td>
				<td class="data-col">{&model.id&}</td>
			</tr>
			<tr>
				<td class="label-col">{&t('contacts','model_phone')&}:</td>
				<td class="data-col">{&model.phone&}</td>
			</tr>
			<tr>
				<td class="label-col">{&t('contacts','model_created')&}:</td>
				<td class="data-col">{&model.created&}</td>
			</tr>
			<tr>
				<td class="label-col">{&t('contacts','model_status')&}:</td>
				<td class="data-col">{&model.statusLabel&}</td>
			</tr>
			{% if model.owner and app.user.id!=model.owner.id %}
			<tr>
				<td class="label-col">{&t('contacts','model_owner')&}:</td>
				<td class="data-col"><a href="{&path('users/show',{'id':model.owner.id})&}">{& model.owner.name&}</a></td>
			</tr>
			{% endif %}

		</table>
	</div>
	<div flex="70" ng-controller="showController" class="users-edit">
		<div layout="row" layout-align="center start" style="margin-bottom:30px;">
			<div class="users-tabs" layout-fill>
				<md-button ng-click="setTab(1)" ng-class="{'active':tab==1}">Kalendarz</md-button>
				<md-button ng-click="setTab(2)" ng-class="{'active':tab==2}">Notatki</md-button>
				<md-button ng-click="setTab(3)" ng-class="{'active':tab==3}">Wyślij wiadomość</md-button>
				<md-button ng-click="setTab(4)" ng-class="{'active':tab==4}">Dane osobowe</md-button>
			</div>
		</div>

		<div ng-if="errors" class="error-box">
			<div ng-repeat="(k,error) in errors"><div ng-repeat="text in error">{{text}}</div></div>
		</div>

		<div ng-if="tab==1">
			<div ui-calendar="calendar" ng-model="sources" calendar="myCal"></div>
		</div>
		<div ng-if="tab==2">
			<div ng-repeat="line in user.notes" style="margin-bottom:25px;padding-bottom:10px;position:relative;">
				<div>{{line.text}}</div>
				<div style="display:inline-block;font-style:italic;margin-top:10px;">Data utworzenia: {{line.created}} | Autor: {{line.creator}}</div>
				<div style="position:absolute;right:0;bottom:8px;"><button class="more-link" ng-click="delNote($index)">{& t('site','delete') &}</button></div>
			</div>
			<div style="width:400px;">
				Dodaj nową notatkę
				<textarea ng-model="newNote.text"></textarea>
			</div>
			<md-button ng-click="addNote()" class="md-raised">{& t('site','save') &}</md-button>
		</div>
		<div ng-if="tab==3">
			<div style="width:300px;">
				<label>{&t('contacts','label_msg_title')&}:</label>
				<input type="text" ng-model="message.subject">
			</div>
			<div style="width:300px;">
				<label>{&t('contacts','label_msg_text')&}:</label>
				<textarea ng-model="message.text"></textarea>
			</div>
			<md-button class="md-raised" ng-click="sendMsg()">{&t('site','send')&}</md-button>
		</div>
		<div ng-if="tab==4" layout="row">
			<div flex="50">
				<div style="width:280px;">
					<label>{&t('contacts','model_firstname')&}: </label>
					<input type="text" ng-model="user.firstname">
				</div>
				<div style="width:280px;">
					<label>{&t('contacts','model_lastname')&}:</label>
					<input type="text" ng-model="user.lastname">
				</div>
				<div style="width:280px;">
					<label>{&t('contacts','model_phone')&}:</label>
					<input type="text" ng-model="user.phone">
				</div>
				<div style="width:280px;">
					<label>{&t('contacts','model_email')&}:</label>
					<input type="text" ng-model="user.email">
				</div>
				<md-button class="md-raised" ng-click="save('data')">{&t('site','save')&}</md-button>
			</div>
			<div flex="50">
				<div style="width:280px">
					<label>{&t('contacts','model_status')&}:</label><br />
					<select ng-model="user.status">
						{% for k,label in model.statuses %}
						<option value="{&k&}">{& label &}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>

	</div>
</div>

{% include "@partial/event.twig" %}

{% endblock %}