{% extends "@layout/"~layout~".twig" %}

{% block header_css %}
	<link rel="stylesheet" href="css/icon.moon.css">
	<link rel="stylesheet" href="css/filemanager.css">
{% endblock %}

{% block header_js %}
	<script type="text/javascript" src="lib/es5-shim.min.js"></script>
	<script type="text/javascript" src="lib/es5-sham.min.js"></script>
	<script type="text/javascript" src="lib/angular-file-upload.min.js"></script>
{% endblock %}

{% block content %}
<script type="text/javascript">
app.requires.push('angularFileUpload');
//filtr wielokrotny
app.filter('typeFilter', function() {
	return function(input,type) {
		var out=[];
		if (type.length==0) return input;
		angular.forEach(input,function(item) {
			if (item.dir || (!angular.isArray(type)&&item.type==type) || (angular.isArray(type)&&type.indexOf(item.type)!=-1)) {
				out.push(item);
			}
		});
		return out;
	};
});

app.controller('filesController',function($scope,$http,FileUploader,$mdDialog) {

	$scope.isEditor=angular.isDefined(top.tinymce);
	$scope.upload=false;
	$scope.mode='thumb';
	$scope.fileType=[];
	$scope.rows=[];
	$scope.dir=[];

	$scope.action=function(e,action) {
		e.preventDefault();
		if (action=='unselectAll') $scope.setSel(false);
		if (action=='selectAll') $scope.setSel(true);
		if (action=='refresh') $scope.listRefresh();
		if (action=="deleteSel") $scope.deleteSel();
		if (action=="newFolder") $scope.create('dir');
		if (action=="newFile") $scope.create('file');
	}

	$scope.setSel=function(mode) {
		for(i=0;i<$scope.rows.length;i++) $scope.rows[i].checked=mode;
	}

	$scope.isSelected=function() {
		count=0;
		for(i=0;i<$scope.rows.length;i++) {
			if ($scope.rows[i].checked==true) count++;
		}
		return count;
	}

{% include "@function/showmsg.twig" %}

	// local

	$scope.getDir=function(item) {
		if (item.dir) {
			$scope.setSel(false);
			dir=angular.copy($scope.dir);
			if (item.root) dir.pop();
				else dir.push(item.name);
			$scope.listRefresh(dir.join('/'));
		}
	}

	$scope.setDir=function(i) {
		$scope.setSel(false);
		$scope.dir=$scope.dir.slice(0,i+1);
		$scope.listRefresh();
	}

	$scope.listRefresh=function(dir) {
		out={'dir':(angular.isDefined(dir)?dir:$scope.dir.join('/'))};
		$http.post("{& path('files/'~listurl) &}",out,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			if (angular.isDefined(data.path)&&!angular.isDefined(data.error)) $scope.dir=data.path;
			if (angular.isDefined(data.items)) {
				$scope.rows=data.items;
				if ($scope.dir.length>1) {
					$scope.rows.unshift({'dir':1,'name':'{&t("files","level_up")&}','root':true});
				}
			}
			if (angular.isDefined(data.error)) $scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':data.error});
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		})
	}

	$scope.create=function(type) {
		if (type=="dir") defname="{& t('files','create_folder') &}";
		if (type=="file") defname="{& t('files','create_file') &}.txt";
		newname=prompt("{&t('files','msg_name')&}",defname);
		if (newname==null) return;
		out={
			'dir':$scope.dir.join("/"),
			'item':newname,
			'type':type
		};
		$http.post("{& path('files/create') &}",out,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			if (data.error) $scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':data.error});
			if (data.count>0) {
				$scope.listRefresh();
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		})
	}

	$scope.rename=function(row) {
		newname=prompt("{&t('files','msg_new_name')&}",row.name);
		if (newname==null) return;
		out={
			'dir':$scope.dir.join("/"),
			'items':[row.name],
			'new':[newname]
		};
		$http.post("{& path('files/rename') &}",out,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			if (data.error) $scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':data.error});
			if (data.count>0) {
				$scope.listRefresh();
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		})
	}

	$scope.deleteFiles=function(items) {
		if (!confirm("{&t('files','msg_confirm_del')&}")) return;
		out={'dir':$scope.dir.join("/"), 'items':items};
		$http.post("{& path('files/delete') &}",out,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			if (data.error) $scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':data.error});
			if (data.count>0) {
				$scope.listRefresh();
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		})
	}

	$scope.delete=function(row) {
		$scope.deleteFiles([row.name]);
	}

	$scope.deleteSel=function() {
		var items=[];
		angular.forEach($scope.rows,function(v) {
			if (v.checked&&v.name!='{&t("files","level_up")&}') items.push(v.name);
		});
		$scope.deleteFiles(items);
	}

	$scope.getThumb=function(row) {
		return "/thumb{&baseurl=='/pictures'?'2'&}"+$scope.dir.join('/')+"/"+row.name
	}

	$scope.getTypeico=function(row) {
		if (row.root) {
			return ["icon-folder-upload"];
		} else {
			map={
				'image':'icon-file-picture', 'video':'icon-file-video',
				'audio':'icon-file-music', 'document':'icon-file-text2',
				'archive':'icon-file-zip','pdf':'icon-file-pdf'
			};
			if (row.icon in map) return [map[row.icon]]
				else return row.dir==1?'icon-folder':"icon-file-empty";
		}
	}

	$scope.setFilter=function(type) {
		if (angular.isDefined(type)) {
			if ($scope.fileType.indexOf(type)!=-1) {
				$scope.fileType.splice($scope.fileType.indexOf(type),1);
			} else {
				$scope.fileType.push(type);
			}
		} else {
			$scope.fileType=[];
		}
	}

	$scope.uploader=new FileUploader({
		url: "{& path('files/upload') &}",
		headers: {'X-CSRF-Token': '{& csrf() &}' },
		autoUpload: true,
		//removeAfterUpload: true,
		onSuccessItem:function(item, response, status, headers) {
			if (angular.isDefined(response.error)) {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':response.error});
			} else {
				if (response.count>0) $scope.listRefresh();
					else $scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('files','err_file_notsaved')&}"});
			}
		},
		onBeforeUploadItem: function(item) {
			item.formData=[{'dir':$scope.dir.join("/")}];
		}
	});

	$scope.insertImg=function(row) {
		if (angular.isDefined(top.tinymce)) {
			e=top.tinymce.activeEditor;
			if ($scope.params&&$scope.params.picker) {
				switch ($scope.params.picker) {
					case 'file': $scope.insertLink(row); break;
					case 'image': $scope.params.call("{&baseurl&}"+$scope.dir.join('/')+'/'+row.name); e.windowManager.close(); break;
					default:
				}
			} else {
				img='<img src="{&baseurl&}/'+$scope.dir.join('/')+'/'+row.name+'">';
				e.insertContent(img);
				e.windowManager.close();
			}
		}
	}

	$scope.insertLink=function(row) {
		if (angular.isDefined(top.tinymce)) {
			e=top.tinymce.activeEditor;
			if ($scope.params&&$scope.params.picker) {
				switch ($scope.params.picker) {
					case 'file': //'title', 
						p={'href':"{&baseurl&}"+$scope.dir.join('/')+'/'+row.name};
						if (!$scope.params.value) p.text=row.name;
						$scope.params.call('',p);
						e.windowManager.close();
						break;
					case 'image':
					default:
				}
			} else {
				if (row.dir) return true;
				var sel=e.selection.getContent();
				if (sel.length>0) { name=sel;
				} else {
					name=prompt("{&t('files','give_link_name')&}",row.name);
					if (name.length==0) name=angular.copy(row.name);
				}
				url='<a href="{&baseurl&}/'+$scope.dir.join('/')+row.name+'">'+name+'</a>';
				e.insertContent(url);
				e.windowManager.close();
			}
		}
	}

	//on load

	if (angular.isDefined(top.tinymce)) {
		$scope.params=top.tinymce.activeEditor.windowManager.getParams();
		if (angular.isDefined($scope.params.picker)) {
			switch($scope.params.picker) {
				case 'image': $scope.fileType=['image']; break;
				case 'file': $scope.fileType=['image','document','audio']; break;
			}
		}
		//$scope.params.value otwieranie danego katalogu?
	}

	$scope.listRefresh();

}); //end controller
</script>

<div ng-controller="filesController" class="page-width">

	<div layout="column" style="margin-bottom:30px;">
		<div layout="row" class="menu-bar">
			<div>
			{&t('files','filter')&}: 
				<button class="btn-sm" ng-click="setFilter()" ng-class="{'btn-active':fileType.length==0}"><i class="icon-file-empty"></i></button>
				<button class="btn-sm" ng-click="setFilter('image')" ng-class="{'btn-active':fileType.indexOf('image')!=-1}"><i class="icon-file-picture"></i></button>
				<button class="btn-sm" ng-click="setFilter('audio')" ng-class="{'btn-active':fileType.indexOf('audio')!=-1}"><i class="icon-file-music"></i></button>
				<button class="btn-sm" ng-click="setFilter('document')" ng-class="{'btn-active':fileType.indexOf('document')!=-1}"><i class="icon-file-text2"></i></button>
			</div>
			
			<div>
			{&t('files','show_as')&}: 
				<button class="btn-sm" ng-click="mode='thumb'" ng-class="{'btn-active':mode=='thumb'}"><md-icon class="material-icons">view_module</md-icon></button>
				<button class="btn-sm" ng-click="mode='list'" ng-class="{'btn-active':mode=='list'}"><md-icon class="material-icons">view_list</md-icon></button>
			</div>
			
			<div>
			<md-menu>
				<button class="btn-sm" ng-click="$mdOpenMenu($event)">
					<md-icon class="material-icons">add</md-icon> {&t('files','create')&}
				</button>
				<md-menu-content width="1">
					<md-menu-item ng-click="action($event,'newFolder')">{& t('files','create_folder') &}</md-menu-item>
					<md-menu-item ng-click="action($event,'newFile')">{& t('files','create_file') &}</md-menu-item>
				</md-menu-content>
			</md-menu>
			</div>

			<div>
			<button class="btn-sm" ng-click="upload=!upload"><md-icon class="material-icons">file_upload</md-icon> {&t('files','upload')&}</button>
			</div>
			<div>
				<md-menu>
				<button class="btn-sm" ng-click="$mdOpenMenu($event)">
					<md-icon class="material-icons">build</md-icon> {& t('site','label_action') &}
				</button>
				<md-menu-content width="1">
					<md-menu-item ng-if="isSelected()<rows.length" ng-click="action($event,'selectAll')">{& t('site','select_all') &}</md-menu-item>
					<md-menu-item ng-if="isSelected()" ng-click="action($event,'unselectAll')">{& t('site','unselect_all') &}</md-menu-item>
					<md-menu-divider ng-if="isSelected()"></md-menu-divider>
					<md-menu-item ng-if="isSelected()" ng-click="action($event,'deleteSel')">{& t('site','delete_sel') &}</md-menu-item>
				</md-menu-content>
				</md-menu>
			</div>
			<div>
				<button class="btn-sm" ng-click="action($event,'refresh')"><md-icon class="material-icons">refresh</md-icon> {&t('site','refresh')&}</button>
			</div>
			{% if layout=="admin" %}
			<div>
				{% if baseurl=="/pictures" %}<a href="{&path('files/manager',{'dir':'images'})&}">bazowy images</a>{% endif %}
				{% if baseurl=="/images" %}<a href="{&path('files/manager',{'dir':'pictures'})&}">bazowy pictures</a>{% endif %}
			</div>
			{% endif %}
		</div>

		<div layout="row" class="breadcrumb">
			<div ng-repeat="d in dir track by $index" ng-click="setDir($index)">
				<md-icon ng-if="$index==0" class="material-icons">home</md-icon><span ng-if="$index>0">{{ d }}</span>
			</div>
		</div>

		<div ng-if="upload" class="upload-wrap">
			<div class="upload-header">{& t('files','upload_file_here')&}</div>
			<div ng-repeat="item in uploader.queue">
				<span ng-bind="item.file.name"></span> 
				<span ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</span>

				&nbsp; <span ng-if="item.isSuccess">{& t('files','msg_saved') &}</span> &nbsp;<button type="button" class="btn-sm" ng-if="item.isSuccess" ng-click="item.remove()">
					<md-icon class="material-icons">done</md-icon>
				</button>

				<div ng-show="uploader.isHTML5&&item.isUploading">
					<md-progress-linear md-mode="determinate" value="{{item.progress}}"></md-progress-linear>
				</div>
			</div>
			<br /><input type="file" nv-file-select="" uploader="uploader" />
		</div>

	</div>

	<div ng-if="mode=='thumb'">
	<div class="thumb-wrap">
		<span ng-repeat="row in rows|typeFilter:fileType|orderBy:['-dir','name']" class="thumb" ng-class="{'man-folder':row.dir,'man-file':!row.dir}"  ng-mouseover="row.showTools=true" ng-mouseleave="row.showTools=false">
			<div ng-click="getDir(row)">
				<div class="ico-wrap">
					<div class="ico">
					<img ng-if="row.type=='image'" ng-src="{{getThumb(row)}}" ng-click="insertImg(row)">
					<i ng-if="row.type!='image'" ng-class="getTypeico(row)" ng-click="insertLink(row)"></i>
					</div>
				</div>
				<div class="name">{{row.name}}</div>
			</div>
			<input type="checkbox" ng-model="row.checked" ng-if="row.root!=true">
			<md-menu  class="tools">
				<button class="btn-xs" ng-click="$mdOpenMenu($event)">
					<md-icon style="material-icon">more_vert</md-icon>
				</button>
				<md-menu-content width="1">
					<md-menu-item ng-click="rename(row)">
						<md-icon class="material-icons">edit</md-icon> &nbsp; {&t('files','edit_name')&}
					</md-menu-item>
					<md-menu-item ng-click="delete(row)">
						<md-icon class="material-icons">delete</md-icon> &nbsp; {&t('files','delete_item')&}
					</md-menu-item>
					<md-menu-item ng-if="isEditor&&row.type=='image'" ng-click="insertImg(row)">
						<md-icon class="material-icons">image</md-icon> &nbsp; {&t('files','insert_as_img')&}
					</md-menu-item>
					<md-menu-item ng-if="isEditor&&(row.type=='image'||row.type=='document')" ng-click="insertLink(row)">
						<md-icon class="material-icons">link</md-icon> &nbsp; {&t('files','insert_as_link')&}
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</span>
	</div>
	</div>

	<table ng-if="mode=='list'" class="table-striped" style="width:100%;">
		<tr style="height:initial;">
			<td width="20">#</td>
			<td>{&t('files','name')&}</td>
			<td>{&t('files','size')&}</td>
			<td>{&t('files','type')&}</td>
			<td>{&t('site','label_action')&}</td>
		</tr>
		<tr ng-repeat="row in rows|typeFilter:fileType|orderBy:['-dir','name']">
			<td><input type="checkbox" ng-model="row.checked" ng-if="row.root!=true"></td>
			<td ng-click="getDir(row)" ng-class="{'man-folder':row.dir,'man-file':!row.dir}">
				<i ng-class="getTypeico(row)"></i>&nbsp; {{row.name}}
			</td>
			<td>{{row.size}}</td>
			<td>{{row.type}}</td>
			<td>
				<span ng-if="row.root!=true">
					<span ng-if="isEditor">
						<button class="btn-sm" ng-click="insertImg(row)" ng-if="row.type=='image'"><md-icon class="material-icons">image</md-icon></button>
						<button class="btn-sm" ng-click="insertLink(row)" ng-if="row.type=='document'||row.type=='image'"><md-icon class="material-icons">link</md-icon></button>
					</span>
					<button class="btn-sm" ng-click="rename(row)"><md-icon class="material-icons">edit</md-icon></button>
					<button class="btn-sm" ng-click="delete(row)"><md-icon class="material-icons">delete</md-icon></button>
				</span>
			</td>
		</tr>
	</table>

</div>
{% endblock %}
