{% set name='products' %}

{% extends "@partial/edit.twig" %}

{% block header_end %}
	<script src="/lib/ng-sortable.min.js"></script>
{% endblock %}

{% block script %}
app.requires.push('as.sortable');
{% endblock %}

{% block controller %}

	$scope.paramTypes={& paramTypes|toJson|raw &};
	$scope.paramSizes={& paramSizes|toJson|raw &};

	//before save
	$scope.prepData=function() {
		var data=angular.copy($scope.model);
		angular.forEach(data.params,function(item){
			item.collapse=undefined;
		});
		angular.forEach(data.images,function(item){
			item.collapse=undefined;
		});
		angular.forEach(data.gallery,function(item){
			item.collapse=undefined;
		});
		return data;
	}

	$scope.addParam=function() {
		if (!angular.isArray($scope.model.params)) $scope.model.params=[];
		$scope.model.params.push({& newParam|toJson|raw &});
	}

	$scope.delParam=function(i) {
		if (confirm("{&t('products','msg_delparam')&}")) {
			angular.forEach($filter('filterBy')($scope.model.params,['visible.name'],$scope.model.params[i].name),function(item){
				item.visible=undefined;
			});
			$scope.model.params.splice(i,1);
		}
	}

	$scope.addOption=function(item) {
		if (!angular.isArray(item.options)) item.options=[];
		item.options.push({& newOption|toJson|raw &});
	}

	$scope.delOption=function(item,i) {
		if (confirm("{&t('products','msg_deloption')&}")) item.options.splice(i,1);
	}

	$scope.delIcon=function(item) {
		if (confirm("{&t('products','msg_delicon')&}")) item.data="";
	}

	$scope.setDefault=function(item,option) {
		angular.forEach(item.options,function(v,k){
			v.default= k==option ? !v.default: false;
		});
	}

	$scope.findMatrix=function(i){
		if (i>0) {
			do { i--; } while(i>0 && $scope.model.params[i].matrix>0);
			return $scope.model.params[i].name;
		} else {
			return "???";
		}
	}

	$scope.adjustGroup=function(i,item){
		if (i>0) {
			do { i--; } while(i>0 && $scope.model.params[i].matrix>0);
			item.group=$scope.model.params[i].group;
		}
	}

	$scope.collapseParam=function(mode) {
		angular.forEach($scope.model.params,function(item){
			item.collapse=mode;
		});
	}

	$scope.collapseParam(true);

	$scope.collapseImage=function(mode) {
		angular.forEach($scope.model.images,function(item){
			item.collapse=mode;
		});
	}

	$scope.collapseImage(true);

	$scope.collapseGallery=function(mode) {
		angular.forEach($scope.model.gallery,function(item){
			item.collapse=mode;
		});
	}

	$scope.collapseGallery(true);

	$scope.sortParams={
		accept: function (source, dest) {
			return source.itemScope.sortableScope.$id === dest.$id;
		}
	};

	$scope.sortOptions={
		accept: function (source, dest) {
			return source.itemScope.sortableScope.$id === dest.$id;
		}
	};

	$scope.sortImages={
		accept: function (source, dest) {
			return source.itemScope.sortableScope.$id === dest.$id;
		}
	};

	$scope.sortImageCond={
		accept: function (source, dest) {
			return source.itemScope.sortableScope.$id === dest.$id;
		}
	};

{% include "@function/filemanager.twig"  with {'path':'list-icons'} %}

	$scope.optionImg=function(e,option){
		$scope.openManager(e,option.data)
		.then(function(item) {
			if (angular.isDefined(item)) option.data=item;
		});
	}

	$scope.productImg=function(e){
		$scope.openManager(e,$scope.model.foto)
		.then(function(item) {
			if (angular.isDefined(item)) $scope.model.foto=item;
		});
	}

	$scope.imagesImg=function(e,image){
		$scope.openManager(e,image.path)
		.then(function(item) {
			if (angular.isDefined(item)) image.path=item;
		});
	}

	$scope.defaults=function(item,val){
		if (angular.isUndefined(item)) item=val;
	}

	$scope.addImage=function() {
		if (!angular.isArray($scope.model.images)) $scope.model.images=[];
		$scope.model.images.push({& newImage|toJson|raw &});
	}

	$scope.addGallery=function() {
		if (!angular.isArray($scope.model.gallery)) $scope.model.gallery=[];
		$scope.model.gallery.push({& newGallery|toJson|raw &});
	}

	$scope.addItemCond=function(item) {
		if (!angular.isArray(item.cond)) item.cond=[];
		item.cond.push({& newCond|toJson|raw &});
	}

	$scope.addAmountCond=function() {
		if (!angular.isObject($scope.model.amount)) $scope.model.amount={};
		if (!angular.isArray($scope.model.amount.cond)) $scope.model.amount.cond=[];
		$scope.model.amount.cond.push({& newCond|toJson|raw &});
	}

	$scope.delImage=function(i) {
		if (confirm("{&t('products','msg_delimage')&}")) $scope.model.images.splice(i,1);
	}

	$scope.delGallery=function(i) {
		if (confirm("{&t('products','msg_delgallery')&}")) $scope.model.gallery.splice(i,1);
	}

	$scope.getParamList=function(mode,p) {
		var cond;
		switch(mode) {
			case 'params': cond="name.length>0&&name!=\'"+p+"\'&&type!=0"; break;
			case 'type': cond="type=="+p; break;
			default: cond="name.length>0&&['1',1,'2',2,'3',3,'4',4].indexOf(type)>-1";
		}
		return $filter('pick')($scope.model.params,cond);
	}

	$scope.optionTooltip=function(e,option) {
		if (angular.isDefined(option.tooltip)) {
			if (confirm("{&t('products','msg_deltooltip')&}")) option.tooltip=undefined;
		} else {
			option.tooltip=option.data;
		}
	}

	$scope.optionTipImg=function(e,option){
		$scope.openManager(e,option.tooltip)
		.then(function(item) {
			if (angular.isDefined(item)) option.tooltip=item;
		});
	}

	$scope.condMsg={
		'delcond':"{&t('products','msg_delcond')&}",
		'whencond':"{& t('products','item_when_cond') &}",
		'whencond2':"{& t('products','item_when_pricecond') &}",
		'hasvalue':"{& t('products','has_value') &}",
		'pick':"{& t('products','pick_param') &}",
		'pick2':"{& t('products','show_when_opt') &}",
		'norows':"{&t('products','msg_no_cond')&}",
		'norows2':"{&t('products','msg_no_pricecond')&}",
		'startfrom':"{&t('products','count_from')&}",
		'itemprice':"{&t('products','param_text_price')&}"
	};

{% endblock %}


{% block bottom %}

<md-input-container class="md-block">
	<label>{& t('products','model_name') &}</label>
	<input ng-model="model.name">
</md-input-container>

<md-input-container>
	<label>{& t('products','model_price') &}</label>
	<input ng-model="model.price">
</md-input-container>

<md-input-container>
	<label>{& t('products','model_group') &}</label>
	<md-select ng-model="model.group">
		{% for category in categories %}
		<md-option value="{& category.id &}">{& category.name &}</md-option>
		{% endfor %}
	</md-select>
</md-input-container>

<div layout="row" layout-align="start start">
	<md-input-container>
		<label>{& t('products','model_foto') &}</label>
		<input ng-model="model.foto">
	</md-input-container>
	<md-button class="md-raised md-primary" aria-label="{& t('products','label_addimg')&}" ng-click="productImg($event)">
		<md-icon class="material-icons">image</md-icon>
	</md-button>
	<span ng-if="model.foto.length>0">
		<img ng-src="/pictures/{{model.foto}}" style="max-width:120px;" />
	</span>
</div>

<md-input-container class="md-block">
	<label>{& t('products','model_sort') &}</label>
	<input ng-model="model.sort">
</md-input-container>

<md-switch ng-model="model.status" ng-true-value="1" ng-false-value="0">
	{& t('products','model_status') &}: <b>{{ model.status?'{& t('products','status_1')&}':'{& t('products','status_0')&}' }}</b>
</md-switch>

<div>
{& t('products','model_intro') &}
<textarea ng-model="model.intro" style="height:150px;width:100%;"></textarea>
</div>

<br />

<md-tabs md-dynamic-height md-border-bottom>

	<md-tab label="{&t('products','tab_params')&}">
		<br />
		<md-button class="md-raised" ng-click="collapseParam(true)">{& t('site','btn_collapse_all')&}</md-button>
		<md-button class="md-raised" ng-click="collapseParam(false)">{& t('site','btn_expand_all')&}</md-button>

		<div data-as-sortable="sortParams" data-ng-model="model.params" class="param-wrap">

			<section ng-repeat="param in model.params" class="param-box" data-as-sortable-item>

				<md-toolbar><div class="md-toolbar-tools" layout="row" layout-align="start center">
					<md-button class="md-icon-button" data-as-sortable-item-handle>
						<md-icon class="material-icons">reorder</md-icon>
					</md-button>
					<span flex>{{param.group?param.group+': ':''}} {{param.name}}</span>

					<md-button class="md-icon-button" ng-click="delParam($index)">
						<md-icon class="material-icons">delete</md-icon>
					</md-button>

					<md-button class="md-icon-button" ng-click="param.collapse=!param.collapse">
						<md-icon class="material-icons">{{param.collapse?'expand_more':'expand_less'}}</md-icon>
					</md-button>

				</div></md-toolbar>

				<div style="padding:15px;" ng-if="!param.collapse">

					<div style="margin-bottom:20px;">
						<div style="margin-bottom:15px">{&t('products','show_when_label')&}:</div>
						<cond-list sort="sortImageCond" data="param" list="model.params" msg="condMsg"></cond-list>
						<md-button class="md-raised md-primary" ng-click="addItemCond(param)" style="margin-top:25px;">{& t('products','btn_add_cond')&}</md-button>
						<md-divider class="section_div"></md-divider>
					</div>

					<md-switch ng-model="param.matrix" ng-true-value="1" ng-false-value="0" ng-if="$index>0" ng-change="adjustGroup($index,param)" style="margin-bottom:20px;">
						{{param.matrix>0?'{& t('products','param_group_joined') &}':'{& t('products','param_group_join') &}'}}
						{{findMatrix($index)}}
					</md-switch>

					<md-input-container class="md-block">
						<label>{& t('products','param_name') &}</label>
						<input ng-model="param.name" required>
					</md-input-container>

					<md-input-container>
						<label>{& t('products','param_type') &}</label>
						<md-select ng-model="param.type" required>
							<md-option ng-repeat="(id,name) in paramTypes" ng-value="{{id}}">{{name}}</md-option>
						</md-select>
					</md-input-container>

					<md-input-container><!-- autocomplete -->
						<label>{& t('products','param_group') &}</label>
						<input ng-model="param.group" ng-disabled="param.matrix>0">
					</md-input-container>

					<md-input-container ng-if="param.type==1||param.type==2||param.type==3">
						<label>{& t('products','option_size') &}</label>
						<md-select ng-model="param.size" required style="width:120px;">
							<md-option ng-repeat="(size,label) in paramSizes" ng-value="size">{{label}}</md-option>
						</md-select>
					</md-input-container>

					<md-input-container class="md-block">
						<label>{& t('products','param_notes') &}</label>
						<input ng-model="param.notes">
					</md-input-container>

					<md-switch ng-model="param.multiple" ng-true-value="1" ng-false-value="0" ng-if="param.type==1" style="margin-bottom:15px;">
						{{param.multiple>0?'{& t('products','param_multiple_on') &}':'{& t('products','param_multiple_off') &}'}}
					</md-switch>

					<md-switch ng-model="param.noauto" ng-if="param.type==1||param.type==2||param.type==3">
						{{ param.noauto?'Nie przchodź':'Przechodź'}} automatycznie do następnego kroku
					</md-switch>

					<div class="section_label">{&t('products','label_options')&}</div>
					<md-divider class="section_div"></md-divider>

					<div ng-if="param.type===0||param.type==7">
						<!--<md-switch ng-model="param.text.type" ng-true-value="1" ng-false-value="0">
							{{param.text.type>0?'{& t('products','param_text_num') &}':'{& t('products','param_text_text') &}'}}
						</md-switch>-->
						<md-input-container>
							<label>{{param.text.type>0?'{& t('products','param_num_min') &}':'{& t('products','param_text_min') &}'}}</label>
							<input ng-model="param.text.min">
						</md-input-container>
						<md-input-container>
							<label>{{param.text.type>0?'{& t('products','param_num_max') &}':'{& t('products','param_text_max') &}'}}</label>
							<input ng-model="param.text.max">
						</md-input-container>
						<md-input-container>
							<label>{& t('products','default_value') &}</label>
							<input ng-model="param.text.default">
						</md-input-container>
						<md-input-container ng-if="param.type==7">
							<label>{& t('products','param_num_step') &}</label>
							<input ng-model="param.text.step">
						</md-input-container>
						<md-input-container ng-if="param.type==0">
							<label>{& t('products','param_text_lines') &}</label>
							<input ng-model="param.text.lines" type="number" min="1" step="1" ng-init="">
						</md-input-container>
						<md-input-container ng-if="!param.price.cond||param.price.cond.length==0"><!-- chowane gdy są warunki-->
							<label>{& t('products','param_text_price') &}</label>
							<input ng-model="param.price.value" type="text">
						</md-input-container>

						<div ng-if="param.type==7"  ng-init="param.price=param.price?param.price:{}">
						<div class="section_label">{&t('products','label_pricecond')&}</div>
						<md-divider class="section_div"></md-divider>
						<div>
							<cond-list sort="sortImageCond" data="param.price" list="model.params" msg="condMsg" price="true"></cond-list>
							<md-button class="md-raised md-primary" ng-click="addItemCond(param.price)" style="margin-top:25px;">{& t('products','btn_add_cond')&}</md-button>
						</div>
						</div>
					</div>

					<div ng-if="param.type>0&&param.type<5" flex layout="row" layout-wrap data-as-sortable="sortOptions" data-ng-model="param.options" class="option-wrap">

						<div ng-repeat="option in param.options" data-as-sortable-item class="option-box" layout="column" flex="100">

							<div layout="row" layout-align="center center">
								<md-button class="md-icon-button" data-as-sortable-item-handle>
									<md-icon class="material-icons">reorder</md-icon>
								</md-button>
								<md-button class="md-icon-button" ng-click="setDefault(param,$index)" aria-label="ustaw jako domyślne">
									<md-icon class="material-icons" ng-if="option.default">check_box</md-icon>
									<md-icon class="material-icons" ng-if="!option.default">check_box_outline_blank</md-icon>
								</md-button>
								<span flex></span>
								<md-button class="md-icon-button" ng-if="param.type==2" ng-click="optionTooltip($event,option)" aria-label="ustaw tooltip">
									<md-icon class="material-icons" ng-if="option.tooltip">chat_bubble</md-icon>
									<md-icon class="material-icons" ng-if="!option.tooltip">chat_bubble_outline</md-icon>
								</md-button>
								<md-button class="md-icon-button" ng-click="delOption(param,$index)">
									<md-icon class="material-icons">delete</md-icon>
								</md-button>
								<!--collapse -->
							</div>

							<div layout="row">
								<md-input-container>
									<label>{& t('products','option_name') &}</label>
									<input ng-model="option.name">
								</md-input-container>
								<md-input-container>
									<label>{& t('products','option_notes') &}</label>
									<input ng-model="option.notes">
								</md-input-container>
								<md-input-container>
									<label>{& t('products','option_price') &}</label>
									<input ng-model="option.price">
								</md-input-container>
								<md-input-container ng-if="param.type>=1&&param.type<=3">
									<label>{& t('products','multip_from_param') &}</label>
									<md-select ng-model="option.multiply" style="width:150px;">
										<md-option ng-repeat="opt in model.params|removeWith:{'name':''}|filterBy:['type']:7" ng-value="opt.name">{{opt.name}}</md-option>
									</md-select>
								</md-input-container>
								<div ng-if="param.type==4">
									<md-input-container>
										<label>{& t('products','option_style') &}</label>
										<input ng-model="option.data">
									</md-input-container>
								</div>
							</div>

							<div ng-if="param.type==2" layout="row">
								<div layout="row" flex="50">
									<div flex="60" layout="column">
										<div>
											<md-input-container class="md-block">
												<label>{& t('products','option_icon') &}</label>
												<input ng-model="option.data">
											</md-input-container>
										</div>
										<div>
											<md-button class="md-icon-button" ng-click="optionImg($event,option)" aria-label="ustaw ikonę">
												<md-icon class="material-icons">image</md-icon>
											</md-button>
											<md-button class="md-icon-button" ng-if="option.data.length>0" ng-click="delTooltip(option)">
												<md-icon class="material-icons">broken_image</md-icon>
											</md-button>
										</div>
									</div>
									<div ng-if="option.data.length>0">
										<img ng-src="/pictures/{{option.data}}" />
									</div>
								</div>

								<div ng-if="option.tooltip" layout="row" flex="50">
									<div flex="60" layout="column">
										<md-input-container class="md-block">
											<label>{& t('products','option_tooltip') &}</label>
											<input ng-model="option.tooltip">
										</md-input-container>
										<md-button class="md-icon-button" ng-click="optionTipImg($event,option)" aria-label="ustaw ikonę">
											<md-icon class="material-icons">image</md-icon>
										</md-button>
									</div>
									<div ng-if="option.tooltip.length>0">
										<img ng-src="/pictures/{{option.tooltip}}" />
									</div>
								</div>
							</div>

							<div ng-if="param.type==3" layout="row" layout-align="start center">
								<span class="color-box-view" ng-style="{'background-color':'#'+option.data}" ng-if="option.data.length>0"></span>
								<span ng-if="!option.data||option.data.length==0">(brak koloru)</span>
								<md-input-container>
									<label>{& t('products','option_color') &}</label>
									<!--<md-icon class="material-icons">color_lens</md-icon>-->
									<input ng-model="option.data">
								</md-input-container>
							</div>

							<div class="section_label">{&t('products','label_conditions')&}</div>
							<md-divider class="section_div"></md-divider>
							<div>
								<cond-list sort="sortImageCond" data="option" list="model.params" msg="condMsg"></cond-list>
								<md-button class="md-raised md-primary" ng-click="addItemCond(option)" style="margin-top:25px;">{& t('products','btn_add_cond')&}</md-button>
							</div>

						</div>
					</div>
					<md-button class="md-raised md-primary" ng-click="addOption(param)" ng-if="param.type>0&&param.type<5">{& t('products','btn_add_option')&}</md-button>

					<div ng-if="param.type==5">
						<md-input-container>
							<label>{& t('products','value_from_param') &}</label>
							<md-select ng-model="param.multi.depend" style="width:150px;">
								<md-option ng-repeat="opt in model.params|removeWith:{'name':''}|filterBy:['text.type']:1" ng-value="opt.name">{{opt.name}}</md-option>
							</md-select>
						</md-input-container>
						<md-input-container>
							<label>{& t('products','option_price') &}</label>
							<input ng-model="param.multi.price">
						</md-input-container>
					</div>

				</div>

			</section>
		</div>

		<md-button class="md-raised md-primary" ng-click="addParam()">{& t('products','btn_add_param')&}</md-button>
	</md-tab>

	<md-tab label="{&t('products','tab_images')&}">
		<br />
		<md-button class="md-raised" ng-click="collapseImage(true)">{& t('site','btn_collapse_all')&}</md-button>
		<md-button class="md-raised" ng-click="collapseImage(false)">{& t('site','btn_expand_all')&}</md-button>

		<div data-as-sortable="sortImages" data-ng-model="model.images" class="images-wrap">

			<section ng-repeat="image in model.images" class="image-box" data-as-sortable-item>

				<div layout="row" layout-align="start center">
					<md-button class="md-icon-button" data-as-sortable-item-handle>
						<md-icon class="material-icons">reorder</md-icon>
					</md-button>
					<span flex style="font-size:16px;">{{image.collapse?image.path:''}}</span>
					<md-button class="md-icon-button" ng-click="delImage($index)">
						<md-icon class="material-icons">delete</md-icon>
					</md-button>
					<md-button class="md-icon-button" ng-click="image.collapse=!image.collapse">
						<md-icon class="material-icons">{{image.collapse?'expand_more':'expand_less'}}</md-icon>
					</md-button>
				</div>

				<div style="padding:15px;" ng-if="!image.collapse">
					<div layout="row">
						<div ng-if="image.path.length>0" style="width:110px;margin-right:20px;"><img ng-src="/pictures/{{image.path}}" /></div>
						<div layout="column" flex>
							<md-input-container>
								<label>{& t('products','images_path') &}</label>
								<input ng-model="image.path">
							</md-input-container>
							<md-button class="image-btn md-raised md-primary" ng-click="imagesImg($event,image)">
								<md-icon class="material-icons">image</md-icon>
							</md-button>
						</div>
					</div>
					<md-input-container>
						<label>{& t('products','images_layer') &}</label>
						<input ng-model="image.layer">
					</md-input-container>

					<div class="section_label">{&t('products','label_conditions')&}</div>
					<md-divider class="section_div"></md-divider>

					<cond-list sort="sortImageCond" data="image" list="model.params" msg="condMsg"></cond-list>
					<md-button class="md-raised md-primary" ng-click="addItemCond(image)" style="margin-top:25px;">{& t('products','btn_add_cond')&}</md-button>
				</div>

			</section>
		</div>

		<md-button class="md-raised md-primary" ng-click="addImage()">{& t('products','btn_add_image')&}</md-button>
	</md-tab>

	<md-tab label="{&t('products','tab_gallery')&}">
		<br />
		<md-button class="md-raised" ng-click="collapseGallery(true)">{& t('site','btn_collapse_all')&}</md-button>
		<md-button class="md-raised" ng-click="collapseGallery(false)">{& t('site','btn_expand_all')&}</md-button>

		<div data-as-sortable="sortImages" data-ng-model="model.gallery" class="images-wrap">

			<section ng-repeat="image in model.gallery" class="image-box" data-as-sortable-item>

				<div layout="row" layout-align="start center">
					<md-button class="md-icon-button" data-as-sortable-item-handle>
						<md-icon class="material-icons">reorder</md-icon>
					</md-button>
					<span flex style="font-size:16px;">{{image.collapse?image.path:''}}</span>
					<md-button class="md-icon-button" ng-click="delGallery($index)">
						<md-icon class="material-icons">delete</md-icon>
					</md-button>
					<md-button class="md-icon-button" ng-click="image.collapse=!image.collapse">
						<md-icon class="material-icons">{{image.collapse?'expand_more':'expand_less'}}</md-icon>
					</md-button>
				</div>

				<div style="padding:15px;" ng-if="!image.collapse">
					<div layout="row">
						<div ng-if="image.path.length>0" style="width:110px;margin-right:20px;"><img ng-src="/pictures/{{image.path}}" /></div>
						<div layout="column" flex>
							<md-input-container>
								<label>{& t('products','images_path') &}</label>
								<input ng-model="image.path">
							</md-input-container>
							<md-button class="image-btn md-raised md-primary" ng-click="imagesImg($event,image)">
								<md-icon class="material-icons">image</md-icon>
							</md-button>
						</div>
					</div>
					<md-input-container>
						<label>{& t('products','gallery_title') &}</label>
						<input ng-model="image.name">
					</md-input-container>

				</div>

			</section>
		</div>

		<md-button class="md-raised md-primary" ng-click="addGallery()">{& t('products','btn_add_image')&}</md-button>
	</md-tab>

	<md-tab label="{&t('products','tab_amount')&}">
		<div style="margin-top:30px;">
			<cond-list sort="sortImageCond" data="model.amount" list="model.params" msg="condMsg" price="true"></cond-list>
			<md-button class="md-raised md-primary" ng-click="addAmountCond()" style="margin-top:25px;">{& t('products','btn_add_cond')&}</md-button>
		</div>
	</md-tab>
	<md-tab label="{&t('products','tab_integration')&}">

		<div style="margin-top:30px;margin-bottom:20px;">
		<md-switch ng-model="model.export.zalamo.visible" ng-true-value="1" ng-false-value="0">
			{{model.export.zalamo.visible>0?'Eksportowany do zalamo.com':'nieeksportowany'}}
		</md-switch>
		</div>

		<div ng-if="model.export.zalamo.visible" style="margin-bottom:30px;">
			<md-input-container>
				<label>Typ produktu</label>
				<md-select ng-model="model.export.zalamo.type" style="min-width:200px;">
					{% for k,v in app.params.zalamo.types %}
					<md-option value="{& k &}">{& v &}</md-option>
					{% endfor %}
				</md-select>
			</md-input-container>

			<md-input-container ng-if="model.export.zalamo.type!='print'">
				<label>Parametr podrzędny</label>
				<md-select ng-model="model.export.zalamo.second" style="min-width:200px;">
					<md-option value="">brak</md-option>
					<md-option ng-repeat="opt in getParamList('x')" ng-value="opt.name">{{opt.name}}</md-option>
				</md-select>
			</md-input-container>

			<md-input-container  ng-if="model.export.zalamo.type!='print'">
				<label>Ilość rozkładówek</label>
				<md-select ng-model="model.export.zalamo.amount" style="min-width:200px;">
					<md-option value="">brak</md-option>
					<md-option ng-repeat="opt in getParamList('type','7')" ng-value="opt.name">{{opt.name}}</md-option>
				</md-select>
			</md-input-container>
	
			<md-input-container ng-if="model.export.zalamo.type=='print'">
				<label>Format</label>
				<md-select ng-model="model.export.zalamo.format" style="min-width:200px;">
					<md-option value="">brak</md-option>
					<md-option ng-repeat="opt in getParamList('x')" ng-value="opt.name">{{opt.name}}</md-option>
				</md-select>
			</md-input-container>

			<md-input-container ng-if="model.export.zalamo.type=='print'">
				<label>Papier</label>
				<md-select ng-model="model.export.zalamo.paper" style="min-width:200px;">
					<md-option value="">brak</md-option>
					<md-option ng-repeat="opt in getParamList('x')" ng-value="opt.name">{{opt.name}}</md-option>
				</md-select>
			</md-input-container>

			<md-input-container ng-if="model.export.zalamo.type=='print'">
				<label>Ramki</label>
				<md-select ng-model="model.export.zalamo.fill" style="min-width:200px;">
					<md-option value="">brak</md-option>
					<md-option ng-repeat="opt in getParamList('x')" ng-value="opt.name">{{opt.name}}</md-option>
				</md-select>
			</md-input-container>

			<!--
			<md-input-container class="md-block">
				<label>Odpowiedniki papieru</label>
				<input ng-model="model.export.zalamo.papers">
			</md-input-container>

			<md-input-container class="md-block">
				<label>Odpowiedniki ramki</label>
				<input ng-model="model.export.zalamo.fills">
			</md-input-container>
			-->

		</div>
	</md-tab>

</md-tabs>

{% endblock %}

{% block partials %}
{% include "@partial/filemanager.twig" %}
{% endblock %}