	$scope.calendar={
		height: "100%",
		locale: "pl",
		timezone: "local",
		navLinks: true,
		editable: true,
		eventLimit: true,
		slotDuration: "00:05:00",
		defaultTimedEventDuration: "00:05:00",
		scrollTime:"08:00:00",
		timeFormat:"HH:mm",
		header:{
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay,listMonth'
		},
		eventClick: function(item, jsEvent, view) {
			//if (angular.element(jsEvent.target)[0].className=="cal-contact-email") return;
			if (angular.element(jsEvent.target)[0].tagName=="A") return;
			$scope.eventModal("edit",item);
		},
		dayClick: function(date, jsEvent, view, resourceObj) {
			if (view.type=="month") view.calendar.changeView('agendaDay',date);
			if (view.type=="agendaDay"||view.type=="agendaWeek") {
				$scope.eventModal("add",date);
			}
		},
		eventDrop: function(item){
			$scope.saveEvent(item);
		},
		eventResize: function(item) {
			$scope.saveEvent(item);
		},
		eventRender: function(item,element,view){
			if (item.remind>=0) element.find(".fc-content").prepend('<i class="material-icons">access_alarm</i>');
			if (view.type=="agendaDay") {
				if (item.description && item.description.length>0) element.find(".fc-content .fc-title").append(' >> '+item.description);
			}
			if (view.type=="listMonth") {
				if (item.description && item.description.length>0) element.find(".fc-list-item-title").append('<br />'+item.description);
				element.find(".fc-list-item-title").append('<div class="cal-contact-info">Dotyczy> '+(item.target?'<a href="'+item.targetLink+'" target="_blank">'+item.targetLabel+'</a>':item.targetLabel)+(item.target?(item.target.email?', email: <a href="mailto:'+item.target.name+'<'+item.target.email+'>" class="cal-contact-email">'+item.target.email+'</a>':"")+(item.target.phone?", telefon: "+item.target.phone:""):"")+"</div>");
			}
			$compile(element)($scope);
		}
	};

	$scope.dbFormat="YYYY-MM-DD HH:mm:ss";

	$scope.events=function (start, end, timezone, callback) {
		var search=[
			'start='+start.format($scope.dbFormat),
			'end='+end.format($scope.dbFormat)
		];
		var url="{& path('events/calendar',{'json':'true'})|raw &}&"+search.join('&');
		$http.get(url, { 'timeout': 20000, 'headers': {'X-CSRF-Token': '{& csrf() &}'} } )
		.success(function(data) {
			if (data.items) callback(data.items);
		});
	}

	$scope.deleteEvent=function(event) {
		$scope.confirmMsg({'title':"{& t('site','confirm_title') &}",'msg':"{& t('events','msg_delconfirm') &}"})
		.then(function() {
			$http.post('{& path("events/delete") &}',{'id':event.id},{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
			.success(function(data) {
				if (data.delete) {
					uiCalendarConfig.calendars.myCal.fullCalendar('removeEvents',event._id);
					//$scope.showMsg({'title':"{&t('site','title_success')&}",'msg':"{&t('events','msg_deleted')&}"});
				} else {
					$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('events','msg_notdeleted')&}"});
				}
			})
			.error(function(data, status, headers) {
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
			});
		});
	}

	$scope.updateEvent=function(event) {
		if (event.id==0) {
			$scope.events.push(event);
			//uiCalendarConfig.calendars.myCal.fullCalendar('refetchEvents');
		} else {
			uiCalendarConfig.calendars.myCal.fullCalendar('updateEvent', event);
			//$scope.events=uiCalendarConfig.calendars.myCal.fullCalendar('clientEvents');
		}
		$scope.saveEvent(event);
	}

	$scope.saveEvent=function(event){
		var out={
			'model_id':event.id,
			'data': {
				'start':event.start.format($scope.dbFormat),
				'end':event.end.format($scope.dbFormat),
				'title': event.title,
				'description': event.description,
				'target_type': event.target_type,
				'target_id': event.target_id,
				'remind': event.remind
			}
		};
		$http.post('{& path("events/save") &}',out,{'headers': {'X-CSRF-Token': '{& csrf() &}' }})
		.success(function(data) {
			if (data.saved) {
				event.id=data.model_id;
			} else {
				if (event.id==0) uiCalendarConfig.calendars.myCal.fullCalendar('removeEvents',event._id);
				$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':data.msg});
			}
		})
		.error(function(data, status, headers) {
			$scope.showMsg({'title':"{&t('site','title_warning')&}",'msg':"{&t('site','err_bad_response')&}"});
		});
	}

	$scope.eventModal=function(mode,item) {
		$mdDialog.show({
			controller: function($scope,$mdDialog,mode,item) {
				$scope.mode=mode;
				if ($scope.mode=="edit") {
					$scope.event=angular.copy(item);
				} else {
					$scope.event={
						'id':0,
						'title':"",
						'description':"",
						'start':angular.copy(item),
						'end':angular.copy(item).add(5,'minutes'),
						'target_type':{&target.type&},
						'target_id':{&target.id&},
						'targetLabel':"{&target.label&}",
						'stick': true,
						'remind':-1
					}
				}

				$scope.prepDate=function(date) {
					return (date && date.format)?date.format('YYYY-MM-DD HH:mm'):"?";
				}

				$scope.canSave=function(err) {
					if (angular.isObject(err)) {
					return Object.keys(err).length>0;
					}
					return true;
				}

				$scope.save=function() {
					$mdDialog.hide(['save',$scope.event])
				}

				$scope.delete=function() {
					$mdDialog.hide(['delete',$scope.event])
				}

				$scope.close=function() {
					$mdDialog.cancel();
				}

			},
			locals:{
				mode: mode,
				item: item
			},
			templateUrl: 'eventDialog',
			parent: angular.element(document.body),
			clickOutsideToClose: true
		}).then(function(result){
			if (result[0]=="delete") {
				$scope.deleteEvent(result[1]);
			} else {
				$scope.updateEvent(result[1]);
			}
		});
	}